# <font color="#8333ff">Projet 3: Étude de santé publique</font>

# <font color='#FFCA36'>Question 1</font>

## Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Donnez le résultat de votre calcul pour l'année 2013, ainsi que pour la dernière année disponible au jour où vous effectuez ce projet (2018).

In [1]:
# Import des librairies
import numpy as np
import pandas as pd
pd.options.display.max_columns = None # permet d'afficher toutes les colonnes des tableaux

In [2]:
# Import des données de la population mondiale 2013, 2017 (je vais en avoir besoin) et 2018
pop = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/Pop_mond13-17-18.csv")

In [3]:
# Vérification de l'import
pop.head(1)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,32269.589,NaN

In [4]:
# Je regarde les données dans leur ensemble
pop.describe(include='all')

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
count,711,711,711.000000,711,711.0,711,711.0,711,711.000000,711.000000,711,7.110000e+02,6
unique,1,1,NaN,237,NaN,1,NaN,1,NaN,NaN,1,NaN,1
top,OA,Séries temporelles annuelles,NaN,Sahara occidental,NaN,Population totale,NaN,Population-Estimations,NaN,NaN,1000 personnes,NaN,"UNDESA, Population Division – World Population..."
freq,711,711,NaN,3,NaN,711,NaN,711,NaN,NaN,711,NaN,6
mean,NaN,NaN,135.805907,NaN,511.0,NaN,3010.0,NaN,2016.000000,2016.000000,NaN,3.758836e+04,NaN
std,NaN,NaN,79.024076,NaN,0.0,NaN,0.0,NaN,2.161768,2.161768,NaN,1.593826e+05,NaN
min,NaN,NaN,1.000000,NaN,511.0,NaN,3010.0,NaN,2013.000000,2013.000000,NaN,7.930000e-01,NaN
25%,NaN,NaN,69.000000,NaN,511.0,NaN,3010.0,NaN,2013.000000,2013.000000,NaN,3.838235e+02,NaN
50%,NaN,NaN,134.000000,NaN,511.0,NaN,3010.0,NaN,2017.000000,2017.000000,NaN,5.296326e+03,NaN
75%,NaN,NaN,199.000000,NaN,511.0,NaN,3010.0,NaN,2018.000000,2018.000000,NaN,1.970272e+04,NaN
max,NaN,NaN,351.000000,NaN,511.0,NaN,3010.0,NaN,2018.000000,2018.000000,NaN,1.459378e+06,NaN

In [3]:
# Je garde les colonnes utiles pour plus de lisibilité
pop = pop.drop(["Code Domaine", "Domaine", "Code Élément", "Code Produit", "Produit", "Code année","Note"], axis=1)

In [6]:
pop.head()

,Code zone,Zone,Élément,Année,Unité,Valeur
0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589
1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113
2,2,Afghanistan,Population totale,2018,1000 personnes,37171.921
3,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121
4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756

In [7]:
# Je vérifie les types des données
pop.dtypes

Code zone      int64
Zone          object
Élément       object
Année          int64
Unité         object
Valeur       float64
dtype: object

In [8]:
# Calcul des populations mondiales 2013, 2017 et 2018
pop_gb = pop.groupby("Année")

In [9]:
# Je garde juste la colonne "Valeur" et la multiplie par 1000 étant donné que l'unité est 1000 personnes
pop_gb[['Valeur']].sum()*1000

             Valeur
Année
2013   8.633817e+09
2017   9.000759e+09
2018   9.090746e+09

Mais sur Wikipedia, pop mondiale 2010 = env. 7 milliards; 2020 = env. 7,8 milliards => mes chiffres sont trop élevés.

In [10]:
# Je vérifie les pays
pop.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Anguilla', 'Antigua-et-Barbuda',
       'Antilles néerlandaises (ex)', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Aruba', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)',
       'Bonaire, Sint Eustatius et Saba', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Curaçao', 'Danemark', 'Djibouti', 'Dominique', 'Égypte',
       'El Salvador', 'Émirats arabes unis', 'Équateur', 'Érythrée',
       'Espagne', 'Estonie', 'Eswatini', "États-Unis d'Amérique",
       'Éthiopie', 'Fédération de Russie', 'Fidji', 'Finlande', 'France',
       'Gabon', 'Gambie', 'Géorgie', 'Ghana', 'Gibraltar', 'Grèce',
       'Grenade', 'Groenland', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinée', 'Guinée équatoriale', 'Guinée-Bissau', 'Guyana',
       'Guyane française', 'Haïti', 'Honduras', 'Hongrie', 'Île de Man',
       'Iles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Marshall', 'Îles Salomon', 'Îles Turques et Caïques',
       'Îles Vierges américaines', 'Îles Vierges britanniques',
       'Îles Wallis et Futuna', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Liechtenstein',
       'Lituanie', 'Luxembourg', 'Macédoine du Nord', 'Madagascar',
       'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc',
       'Martinique', 'Maurice', 'Mauritanie', 'Mayotte', 'Mexique',
       'Micronésie (États fédérés de)', 'Monaco', 'Mongolie',
       'Monténégro', 'Montserrat', 'Mozambique', 'Myanmar', 'Namibie',
       'Nauru', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Nioué',
       'Norvège', 'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman',
       'Ouganda', 'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Porto Rico', 'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Réunion', 'Roumanie',
       'Royaume-Uni', 'Rwanda', 'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan de Cunha', 'Sainte-Lucie',
       'Saint-Kitts-et-Nevis', 'Saint-Marin',
       'Saint-Martin (Partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Saint-Vincent-et-les Grenadines', 'Samoa',
       'Samoa américaines', 'Sao Tomé-et-Principe', 'Sénégal', 'Serbie',
       'Seychelles', 'Sierra Leone', 'Singapour',
       'Sint Maarten (Partie Néerlandaise)', 'Slovaquie', 'Slovénie',
       'Somalie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie (la)',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga',
       'Trinité-et-Tobago', 'Tunisie', 'Turkménistan', 'Turquie',
       'Tuvalu', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

=> Chine apparait plusieurs fois. Je vais repérer les différentes occurrences :

In [11]:
pop[pop["Zone"]=="Chine"]
# Seule occurrence à conserver

     Code zone   Zone            Élément  Année           Unité       Valeur
123        351  Chine  Population totale   2013  1000 personnes  1422971.062
124        351  Chine  Population totale   2017  1000 personnes  1452625.244
125        351  Chine  Population totale   2018  1000 personnes  1459377.612

In [12]:
pop[pop["Zone"]=="Chine - RAS de Hong-Kong"]

,Code zone,Zone,Élément,Année,Unité,Valeur
126,96,Chine - RAS de Hong-Kong,Population totale,2013,1000 personnes,7088.778
127,96,Chine - RAS de Hong-Kong,Population totale,2017,1000 personnes,7306.322
128,96,Chine - RAS de Hong-Kong,Population totale,2018,1000 personnes,7371.730

In [13]:
pop[pop["Zone"]=="Chine - RAS de Macao"]

,Code zone,Zone,Élément,Année,Unité,Valeur
129,128,Chine - RAS de Macao,Population totale,2013,1000 personnes,577.372
130,128,Chine - RAS de Macao,Population totale,2017,1000 personnes,622.585
131,128,Chine - RAS de Macao,Population totale,2018,1000 personnes,631.636

In [14]:
pop[pop["Zone"]=="Chine, continentale"]

,Code zone,Zone,Élément,Année,Unité,Valeur
132,41,"Chine, continentale",Population totale,2013,1000 personnes,1391883.330
133,41,"Chine, continentale",Population totale,2017,1000 personnes,1421021.791
134,41,"Chine, continentale",Population totale,2018,1000 personnes,1427647.786

In [15]:
pop[pop["Zone"]=="Chine, Taiwan Province de"]

,Code zone,Zone,Élément,Année,Unité,Valeur
135,214,"Chine, Taiwan Province de",Population totale,2013,1000 personnes,23421.582
136,214,"Chine, Taiwan Province de",Population totale,2017,1000 personnes,23674.546
137,214,"Chine, Taiwan Province de",Population totale,2018,1000 personnes,23726.460

In [4]:
# Je garde seulement la ligne "Chine" et supprime les autres
popchineok = pop.drop([126,127,128,129,130,131,132,133,134,135,136,137])

In [5]:
# Recalcul des pop 2013,2017,2018
popchineok_gb = (popchineok.groupby("Année").sum())*1000

In [6]:
popchineok_gb['Valeur']

Année
2013    7.210846e+09
2017    7.548134e+09
2018    7.631369e+09
Name: Valeur, dtype: float64

In [7]:
# Création de la variable popmond13 pour des calculs ultérieurs     
popmond13 = popchineok_gb.iloc[0,1]

In [8]:
# Création de la variable popmond17 pour des calculs ultérieurs
popmond17 = popchineok_gb.iloc[1,1]

In [15]:
popchineok.head()

,Code zone,Zone,Élément,Année,Unité,Valeur
0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589
1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113
2,2,Afghanistan,Population totale,2018,1000 personnes,37171.921
3,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121
4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756

**Population mondiale en milliards:**   
- 2013 : 7.2  
- 2014 : 7.5  
- 2018 : 7.6

In [16]:
# Je supprime le df pop_gb devenu inutile : 
del pop_gb

# <font color='#FFCA36'>Question 3</font>

## Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

1. Disponibilité alimentaire en kcal/pays/produit/an = dispo ali (kcal/pers/j) x pop x 365
2. Disponibilité alimentaire en kg de protéines/pays/produit/an = dispo prot (g/personne/jour) x pop x 365 / 1000

### Formatage des fichiers importés

In [9]:
# Import des données des bilans alimentaires 2017 
veg = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/vegetal2017.csv")
ani = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/animal2017.csv")

In [10]:
# Ajout de la variable origin
ani["origin"] = "animal"
veg["origin"] = "vegetal"

In [11]:
# On regroupe veg et ani en un unique dataframe, via une union
temp = ani.append(veg)

In [12]:
# Suppression de ani et veg
del ani, veg

In [13]:
# On renomme les colonnes de temp
temp.columns = ["xx","xx2","country_code","country",'xx3','element','item_code','item','xx4',"year","unit","value"
                ,'origin']

In [14]:
# Vérification
temp.head(1)

,xx,xx2,country_code,country,xx3,element,item_code,item,xx4,year,unit,value,origin
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2731,Viande de Bovins,2017,2017,Milliers de tonnes,94.0,animal

In [15]:
# Transformation de temp en table pivot
data = temp.pivot_table(index=["country_code","country","item_code","item","year","origin"],columns = ["element"], 
values=["value"], aggfunc=sum)

In [24]:
data.head(1)

                                                                       value  \
element                                          Alimentation pour touristes
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                         NaN

                                                                        \
element                                          Aliments pour animaux
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                 105.0

                                                                                        \
element                                          Autres utilisations (non alimentaire)
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                                   0.0

                                                                                                 \
element                                          Disponibilité alimentaire (Kcal/personne/jour)
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                                         1053.0

                                                                                                         \
element                                          Disponibilité alimentaire en quantité (kg/personne/an)
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                                             132.49

                                                                                                                \
element                                          Disponibilité de matière grasse en quantité (g/personne/jour)
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                                               3.97

                                                                                                           \
element                                          Disponibilité de protéines en quantité (g/personne/jour)
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                                              31.35

                                                                           \
element                                          Disponibilité intérieure
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                    558.0

                                                                          \
element                                          Exportations - Quantité
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                     1.0

                                                                          \
element                                          Importations - Quantité
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal                   337.0

                                                                               \
element                                          Nourriture Pertes Production
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal      390.0   10.0      176.0

                                                                              \
element                                          Résidus Semences Traitement
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal   -31.0     25.0       60.0


element                                          Variation de stock
country_code country item_code item year origin
1            Arménie 2511      Blé  2017 vegetal              -45.0

In [16]:
# On renomme les colonnes
data.columns = ['alim pour touristes','aliments pour animaux','autres utilisations (non ali)',
                'dispo ali (kcal/pers/j)','dispo ali (kg/pers/an)',
                'dispo mat grasse(g/pers/jour)',
                'dispo prot (g/pers/jour)','dispo intérieure (milliers de t)', 'export-qté',
                'import-qté','nourriture','pertes', 'production','résidus','semences','traitement','variation stock']

In [17]:
# Suppression de l'index
data = data.reset_index()

In [27]:
data.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0

In [18]:
data.shape

(16144, 23)

### Travail sur les données

In [29]:
# Je vérifie les infos du df
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16144 entries, 0 to 16143
Data columns (total 23 columns):
country_code                        16144 non-null int64
country                             16144 non-null object
item_code                           16144 non-null int64
item                                16144 non-null object
year                                16144 non-null int64
origin                              16144 non-null object
alim pour touristes                 5642 non-null float64
aliments pour animaux               4234 non-null float64
autres utilisations (non ali)       5367 non-null float64
dispo ali (kcal/pers/j)             14570 non-null float64
dispo ali (kg/pers/an)              14712 non-null float64
dispo mat grasse(g/pers/jour)       14606 non-null float64
dispo prot (g/pers/jour)            14601 non-null float64
dispo intérieure (milliers de t)    16002 non-null float64
export-qté                          12208 non-null float64
import-qté                          15356 non-null float64
nourriture                          14592 non-null float64
pertes                              5874 non-null float64
production                          10426 non-null float64
résidus                             12652 non-null float64
semences                            2137 non-null float64
traitement                          3591 non-null float64
variation stock                     11387 non-null float64
dtypes: float64(17), int64(3), object(3)
memory usage: 2.8+ MB

In [52]:
# Description générale des données
data.describe(include='all')

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock
count,16144.000000,16144,16144.000000,16144,16144.0,16144,5642.000000,4234.000000,5367.000000,14570.000000,14712.000000,14606.000000,14601.000000,16002.000000,12208.000000,15356.000000,14592.000000,5874.000000,10426.000000,12652.000000,2137.00000,3591.000000,11387.000000
unique,NaN,175,NaN,98,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,République-Unie de Tanzanie,NaN,Poissons Eau Douce,NaN,vegetal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,97,NaN,175,NaN,12385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,127.753097,NaN,2630.255389,NaN,2017.0,NaN,0.116271,456.463864,194.186138,33.962594,8.162366,1.045622,0.963395,836.356643,133.946347,111.332574,454.947231,126.376575,1287.994149,-3.086390,94.06832,797.702311,10.928339
std,74.682361,NaN,91.353390,NaN,0.0,NaN,3.757159,5115.490878,4992.262877,106.700897,24.405136,3.386561,3.247427,11221.313390,1375.156449,1289.033933,6709.830696,1512.524875,14166.947298,52.394586,707.36851,8998.555552,401.205638
min,1.000000,NaN,2511.000000,NaN,2017.0,NaN,-52.000000,-2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-828.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2912.000000,0.00000,0.000000,-10388.000000
25%,66.000000,NaN,2558.000000,NaN,2017.0,NaN,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000
50%,122.000000,NaN,2612.000000,NaN,2017.0,NaN,0.000000,1.000000,0.000000,3.000000,0.610000,0.030000,0.030000,6.000000,0.000000,2.000000,4.000000,2.000000,15.000000,0.000000,2.00000,2.000000,0.000000
75%,189.000000,NaN,2732.000000,NaN,2017.0,NaN,0.000000,33.000000,5.000000,20.000000,4.650000,0.370000,0.400000,79.000000,10.000000,18.000000,51.000000,20.000000,164.000000,0.000000,19.00000,44.000000,0.000000
max,351.000000,NaN,2899.000000,NaN,2017.0,NaN,166.000000,191859.000000,319603.000000,1785.000000,457.700000,60.100000,48.680000,758548.000000,68156.000000,98119.000000,477481.000000,83476.000000,758548.000000,1870.000000,22501.00000,345510.000000,25089.000000

### Jointure avec la table population 2017

In [19]:
# Je créé une table pour la population de l'année 2017 : 
popchineok17 = popchineok[popchineok["Année"]==2017]

In [31]:
popchineok17.head(1)

   Code zone         Zone            Élément  Année           Unité     Valeur
1          2  Afghanistan  Population totale   2017  1000 personnes  36296.113

In [20]:
# Pour faire l'action dans la cellule suivante, je suis obligé de supprimer l'index
popchineok17 = popchineok17.reset_index()

In [21]:
# Je créé la colonne population
popchineok17['population'] = popchineok17['Valeur'] * 1000

In [34]:
popchineok17.head()

,index,Code zone,Zone,Élément,Année,Unité,Valeur,population
0,1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113,36296113.0
1,4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756,57009756.0
2,7,3,Albanie,Population totale,2017,1000 personnes,2884.169,2884169.0
3,10,4,Algérie,Population totale,2017,1000 personnes,41389.189,41389189.0
4,13,79,Allemagne,Population totale,2017,1000 personnes,82658.409,82658409.0

In [22]:
# Je supprime la colonne index
popchineok17 = popchineok17.drop('index', axis=1)

In [36]:
popchineok17.head()

,Code zone,Zone,Élément,Année,Unité,Valeur,population
0,2,Afghanistan,Population totale,2017,1000 personnes,36296.113,36296113.0
1,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756,57009756.0
2,3,Albanie,Population totale,2017,1000 personnes,2884.169,2884169.0
3,4,Algérie,Population totale,2017,1000 personnes,41389.189,41389189.0
4,79,Allemagne,Population totale,2017,1000 personnes,82658.409,82658409.0

In [23]:
# Je modifie le type de la colonne "population" et le transforme en entier
popchineok17 = popchineok17.astype({'population':'int'})

In [38]:
# Vérification du type de la colonne population
popchineok17['population'].dtypes

dtype('int32')

In [39]:
popchineok17.head()

,Code zone,Zone,Élément,Année,Unité,Valeur,population
0,2,Afghanistan,Population totale,2017,1000 personnes,36296.113,36296113
1,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756,57009755
2,3,Albanie,Population totale,2017,1000 personnes,2884.169,2884169
3,4,Algérie,Population totale,2017,1000 personnes,41389.189,41389189
4,79,Allemagne,Population totale,2017,1000 personnes,82658.409,82658409

In [24]:
# Je garde les colonnes utiles pour la jointure entre "data" et "popchineok17"
popchineok17 = popchineok17[['Code zone','population']]

In [41]:
popchineok17.head()

   Code zone  population
0          2    36296113
1        202    57009755
2          3     2884169
3          4    41389189
4         79    82658409

In [31]:
# Jointure entre data et popchineok17 sur country_code et Code zone 
datapop17 = pd.merge(data, popchineok17, left_on=['country_code'], right_on=['Code zone'])

In [32]:
# Vérification
datapop17.shape

(15766, 25)

In [29]:
datapop17.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1.0,2944790.0
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1.0,2944790.0
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1.0,2944790.0
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2944790.0
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1.0,2944790.0

In [30]:
datapop17.describe(include='all')

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population
count,16144.000000,16144,16144.000000,16144,16144.0,16144,5642.000000,4234.000000,5367.000000,14570.000000,14712.000000,14606.000000,14601.000000,16002.000000,12208.000000,15356.000000,14592.000000,5874.000000,10426.000000,12652.000000,2137.00000,3591.000000,11387.000000,15766.000000,1.576600e+04
unique,NaN,175,NaN,98,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Chine,NaN,Poissons Eau Douce,NaN,vegetal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,97,NaN,175,NaN,12385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,127.753097,NaN,2630.255389,NaN,2017.0,NaN,0.116271,456.463864,194.186138,33.962594,8.162366,1.045622,0.963395,836.356643,133.946347,111.332574,454.947231,126.376575,1287.994149,-3.086390,94.06832,797.702311,10.928339,127.955030,4.461150e+07
std,74.682361,NaN,91.353390,NaN,0.0,NaN,3.757159,5115.490878,4992.262877,106.700897,24.405136,3.386561,3.247427,11221.313390,1375.156449,1289.033933,6709.830696,1512.524875,14166.947298,52.394586,707.36851,8998.555552,401.205638,74.926644,1.580897e+08
min,1.000000,NaN,2511.000000,NaN,2017.0,NaN,-52.000000,-2.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-828.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2912.000000,0.00000,0.000000,-10388.000000,1.000000,5.204500e+04
25%,66.000000,NaN,2558.000000,NaN,2017.0,NaN,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,66.000000,2.920848e+06
50%,122.000000,NaN,2612.000000,NaN,2017.0,NaN,0.000000,1.000000,0.000000,3.000000,0.610000,0.030000,0.030000,6.000000,0.000000,2.000000,4.000000,2.000000,15.000000,0.000000,2.00000,2.000000,0.000000,122.000000,9.845320e+06
75%,189.000000,NaN,2732.000000,NaN,2017.0,NaN,0.000000,33.000000,5.000000,20.000000,4.650000,0.370000,0.400000,79.000000,10.000000,18.000000,51.000000,20.000000,164.000000,0.000000,19.00000,44.000000,0.000000,189.000000,3.144430e+07
max,351.000000,NaN,2899.000000,NaN,2017.0,NaN,166.000000,191859.000000,319603.000000,1785.000000,457.700000,60.100000,48.680000,758548.000000,68156.000000,98119.000000,477481.000000,83476.000000,758548.000000,1870.000000,22501.00000,345510.000000,25089.000000,351.000000,1.452625e+09

In [33]:
# Vérification de l'absence d'occurrences muliples de la Chine grâce au type de jointure effectuée
datapop17[datapop17["country"]=="Chine - RAS de Hong-Kong"]

Empty DataFrame
Columns: [country_code, country, item_code, item, year, origin, alim pour touristes, aliments pour animaux, autres utilisations (non ali), dispo ali (kcal/pers/j), dispo ali (kg/pers/an), dispo mat grasse(g/pers/jour), dispo prot (g/pers/jour), dispo intérieure (milliers de t), export-qté, import-qté, nourriture, pertes, production, résidus, semences, traitement, variation stock, Code zone, population]
Index: []

## Calcul de la disponibilité alimentaire en kcal pour chaque pays et chaque produit

__Rappel :__ disponibilité alimentaire en kcal/pays/produit/an = dispo ali (kcal/pers/j) x pop x 365

In [47]:
# Vérification des données de la colonne "dispo ali (kcal/pers/j)"
datapop17['dispo ali (kcal/pers/j)'].describe()

count    14216.000000
mean        33.927265
std        107.030342
min          0.000000
25%          0.000000
50%          3.000000
75%         20.000000
max       1785.000000
Name: dispo ali (kcal/pers/j), dtype: float64

In [28]:
# Nb de données nulles
datapop17['dispo ali (kcal/pers/j)'].isnull().sum()

1550

In [289]:
# Repérarage d'une ligne NaN
datapop17['dispo ali (kcal/pers/j)'].head(10)

0    1053.0
1       4.0
2      68.0
3       1.0
4       7.0
5       NaN
6       NaN
7      20.0
8      77.0
9       0.0
Name: dispo ali (kcal/pers/j), dtype: float64

In [290]:
# Je recherche des précisions en choisissant au hasard une des lignes avec NaN
datapop17.iloc[5]

country_code                              1
country                             Arménie
item_code                              2517
item                                 Millet
year                                   2017
origin                              vegetal
alim pour touristes                     NaN
aliments pour animaux                     0
autres utilisations (non ali)           NaN
dispo ali (kcal/pers/j)                 NaN
dispo ali (kg/pers/an)                  NaN
dispo mat grasse(g/pers/jour)           NaN
dispo prot (g/pers/jour)                NaN
dispo intérieure (milliers de t)          0
export-qté                              NaN
import-qté                                0
nourriture                              NaN
pertes                                  NaN
production                              NaN
résidus                                   0
semences                                NaN
traitement                              NaN
variation stock                           0
Code zone                                 1
population                          2944790
Name: 5, dtype: object

Hypothèse : ce sont peut-être des données non disponibles.

In [194]:
# Il y a aussi des 0. Je prends un exemple au hasard : 
datapop17.iloc[9]

country_code                                1
country                               Arménie
item_code                                2532
item                                   Manioc
year                                     2017
origin                                vegetal
alim pour touristes                       NaN
aliments pour animaux                       0
autres utilisations (non ali)             NaN
dispo ali (kcal/pers/j)                     0
dispo ali (kg/pers/an)                      0
dispo mat grasse(g/pers/jour)               0
dispo prot (g/pers/jour)                    0
dispo intérieure (milliers de t)            0
export-qté                                NaN
import-qté                                  0
nourriture                                  0
pertes                                    NaN
production                                NaN
résidus                                     0
semences                                  NaN
traitement                                  0
variation stock                           NaN
Code zone                                   1
population                            2944790
dispo ali (kcal/pays/j)                     0
dispo ali (kg de protéines/pays/j)          0
ratio énergie/poids (kcal/kg)             NaN
dispo ali (g/personne/j)                    0
% prot                                    NaN
Name: 9, dtype: object

Hypothèse : ce sont peut-être des données pour lesquelles on est sûrs que la valeur est 0.

In [34]:
# Création de la colonne disponibilité alimentaire (kcal/pays/jour) en multipliant les colonnes 'dispo ali (kcal/pers/j)' 
# et population
datapop17['dispo ali (kcal/pays/an)'] = datapop17['dispo ali (kcal/pers/j)'] * datapop17['population'] * 365

In [76]:
datapop17.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an)
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09

In [50]:
# Description de la colonne "dispo ali (kcal/pays/an)": 
datapop17['dispo ali (kcal/pays/an)'].describe()

count    1.421600e+04
mean     5.515642e+11
std      6.691908e+12
min      0.000000e+00
25%      0.000000e+00
50%      7.173698e+09
75%      8.462842e+10
max      4.432541e+14
Name: dispo ali (kcal/pays/an), dtype: float64

In [26]:
# Recherche des lignes où 'dispo ali (kcal/pays/an)' = 0
datapop17[datapop17["dispo ali (kcal/pays/an)"]==0].head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),...,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an)
9,1,Arménie,2532,Manioc,2017,vegetal,NaN,0.0,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,NaN,1,2944790,0.0
10,1,Arménie,2533,Patates douces,2017,vegetal,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.0
11,1,Arménie,2534,Racines nda,2017,vegetal,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.0
19,1,Arménie,2555,Soja,2017,vegetal,NaN,0.0,NaN,0.0,...,0.0,NaN,0.0,0.0,NaN,NaN,0.0,1,2944790,0.0
22,1,Arménie,2558,Graines Colza/Moutarde,2017,vegetal,NaN,NaN,NaN,0.0,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.0

Cela semble cohérent : dispo ali (kcal/pays/an)' = 0 parce que la colonne d'origine dispo ali (kcal/pers/j) = 0.

## Calcul de la disponibilité alimentaire en kg de PROTEINES pour chaque pays et chaque produit

Disponibilité alimentaire en kg de protéines/pays/produit/an = dispo prot (g/personne/jour) x pop x 365 / 1000  
La division par 1000 permet d'avoir les valeurs en kg.

In [34]:
# Description de la colonne "dispo prot (g/personne/jour)"
datapop17['dispo prot (g/pers/jour)'].describe()

count    14247.000000
mean         0.957474
std          3.249539
min          0.000000
25%          0.000000
50%          0.030000
75%          0.400000
max         48.680000
Name: dispo prot (g/pers/jour), dtype: float64

In [35]:
# Création de la colonne "dispo ali (kg de protéines/pays/an)":
datapop17['dispo ali (kg de protéines/pays/an)'] = datapop17['dispo prot (g/pers/jour)'] * datapop17['population'] * 365 / 1000

In [102]:
datapop17['dispo ali (kg de protéines/pays/an)'].head()

0    3.369650e+07
1    1.612273e+05
2    2.837600e+06
3    3.224545e+04
4    2.794606e+05
Name: dispo ali (kg de protéines/pays/an), dtype: float64

In [38]:
datapop17['dispo ali (kg de protéines/pays/an)'].describe()

count    1.424700e+04
mean     1.564680e+07
std      1.825751e+08
min      0.000000e+00
25%      0.000000e+00
50%      5.075716e+04
75%      1.405756e+06
max      9.241529e+09
Name: dispo ali (kg de protéines/pays/an), dtype: float64

In [28]:
# Je regarde la valeur max pour vérifier si elle est cohérente
datapop17['dispo ali (kg de protéines/pays/an)'].max()

9241529171.0658

In [29]:
# Recherche de la ligne correspondant à cette valeur
datapop17[datapop17['dispo ali (kg de protéines/pays/an)']==9241529171.0658]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),...,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an)
15669,351,Chine,2511,Blé,2017,vegetal,-28.0,36283.0,3283.0,545.0,...,2995.0,134435.0,0.0,5201.0,210.0,1420.0,351,1452625244,2.889635e+14,9.241529e+09

La ligne correspond à la Chine, ce qui est cohérent.

# <font color='#FFCA36'>Question 4</font>

## 1. A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg.

## 2. En suivant la même méthodologie, calculez également le pourcentage de PROTEINES de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées).

### Calcul du ratio "énergie/poids" en kcal/kg

Vu sur Wikipédia : moyenne valeur calorique d'un oeuf = 147 kcal/100g = 1470 kcal/kg  
J'ai vu aussi que parmi les aliments les plus caloriques, l'huile de poisson fait 900kcal/100g = 9000 kcal/kg.   
cf. https://sante.journaldesfemmes.fr/calories/classement/aliments/calories

**Calcul :**  
ratio E/P en kcal/kg = disponibilité alimentaire (kcal/pays/an) / (nourriture (en milliers de tonnes) x 1 000 000)

In [55]:
datapop17.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an)
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05

In [36]:
# Création de la colonne 'ratio énergie/poids'
datapop17['ratio énergie/poids (kcal/kg)'] = datapop17['dispo ali (kcal/pays/an)'] / (datapop17['nourriture'] * 1000000)

In [37]:
# Calcul pour les oeufs : 
datapop17.loc[(datapop17['item_code']==2744) & (datapop17['ratio énergie/poids (kcal/kg)']!=np.inf) 
          & (datapop17['ratio énergie/poids (kcal/kg)']!=0),['ratio énergie/poids (kcal/kg)']].mean()

ratio énergie/poids (kcal/kg)    1355.236646
dtype: float64

In [57]:
# Description de la colonne "ratio énergie/poids (kcal/kg)": 
datapop17['ratio énergie/poids (kcal/kg)'].describe()

count    1.070700e+04
mean              inf
std               NaN
min      0.000000e+00
25%      5.112607e+02
50%      1.724667e+03
75%      4.459750e+03
max               inf
Name: ratio énergie/poids (kcal/kg), dtype: float64

Les "inf" sont dus à des divisions par 0.

In [38]:
# Il y a des "inf" (dus à des divisions par 0). Je le remplace par NaN avec la fonction replace dans la colonne 
# "ratio énergie/poids (kcal/kg)" 
datapop17['ratio énergie/poids (kcal/kg)'] = datapop17['ratio énergie/poids (kcal/kg)'].replace([np.inf, -np.inf], np.nan)

In [39]:
# Je cherche à quoi correspondent les valeurs = à 0 
datapop17[datapop17['ratio énergie/poids (kcal/kg)']==0]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg)
44,1,Arménie,2612,Citrons & Limes,2017,vegetal,NaN,NaN,NaN,0.0,0.71,0.00,0.01,2.0,NaN,2.0,2.0,NaN,NaN,0.0,NaN,NaN,NaN,1,2944790,0.0,1.074848e+04,0.0
45,1,Arménie,2613,Pamplemousse,2017,vegetal,NaN,NaN,NaN,0.0,0.42,0.00,0.00,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.0,0.000000e+00,0.0
50,1,Arménie,2618,Ananas,2017,vegetal,NaN,NaN,NaN,0.0,0.37,0.00,0.00,1.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,0.0,1,2944790,0.0,0.000000e+00,0.0
82,1,Arménie,2765,Crustacés,2017,animal,NaN,NaN,0.0,0.0,0.35,0.00,0.09,1.0,0.0,0.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1,2944790,0.0,9.673635e+04,0.0
112,2,Afghanistan,2556,Arachides Decortiquees,2017,vegetal,NaN,1.0,NaN,0.0,0.03,0.03,0.02,2.0,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,2,36296113,0.0,2.649616e+05,0.0
118,2,Afghanistan,2563,Olives,2017,vegetal,NaN,NaN,NaN,0.0,0.07,0.03,0.00,8.0,NaN,0.0,3.0,0.0,8.0,0.0,NaN,5.0,0.0,2,36296113,0.0,0.000000e+00,0.0
129,2,Afghanistan,2580,Huile d'Olive,2017,vegetal,NaN,NaN,0.0,0.0,0.02,0.05,0.00,1.0,NaN,0.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,2,36296113,0.0,0.000000e+00,0.0
146,2,Afghanistan,2630,Café,2017,vegetal,NaN,NaN,NaN,0.0,0.03,0.00,0.00,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2,36296113,0.0,0.000000e+00,0.0
169,2,Afghanistan,2745,Miel,2017,vegetal,NaN,NaN,NaN,0.0,0.04,0.00,0.00,2.0,NaN,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,2,36296113,0.0,0.000000e+00,0.0
170,2,Afghanistan,2761,Poissons Eau Douce,2017,animal,NaN,NaN,0.0,0.0,0.25,0.02,0.07,9.0,NaN,0.0,9.0,NaN,9.0,NaN,NaN,NaN,NaN,2,36296113,0.0,9.273657e+05,0.0
173,2,Afghanistan,2899,Miscellanees,2017,vegetal,NaN,NaN,NaN,0.0,0.42,0.01,0.01,15.0,0.0,15.0,15.0,NaN,NaN,0.0,NaN,NaN,NaN,2,36296113,0.0,1.324808e+05,0.0
256,3,Albanie,2765,Crustacés,2017,animal,NaN,NaN,0.0,0.0,0.35,0.00,0.10,1.0,0.0,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,3,2884169,0.0,1.052722e+05,0.0
258,3,Albanie,2767,"Mollusques, Autres",2017,animal,NaN,NaN,0.0,0.0,0.37,0.00,0.02,1.0,0.0,0.0,1.0,NaN,1.0,NaN,NaN,NaN,0.0,3,2884169,0.0,2.105443e+04,0.0
288,4,Algérie,2558,Graines Colza/Moutarde,2017,vegetal,0.0,NaN,NaN,0.0,0.00,0.00,0.00,24.0,0.0,2.0,1.0,2.0,22.0,0.0,0.0,20.0,0.0,4,41389189,0.0,0.000000e+00,0.0
311,4,Algérie,2613,Pamplemousse,2017,vegetal,0.0,NaN,NaN,0.0,0.04,0.00,0.00,2.0,0.0,0.0,2.0,0.0,2.0,0.0,NaN,NaN,0.0,4,41389189,0.0,0.000000e+00,0.0
312,4,Algérie,2614,"Agrumes, Autres",2017,vegetal,0.0,NaN,NaN,0.0,0.03,0.00,0.00,1.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,4,41389189,0.0,0.000000e+00,0.0
316,4,Algérie,2618,Ananas,2017,vegetal,0.0,NaN,NaN,0.0,0.20,0.00,0.00,8.0,0.0,8.0,8.0,0.0,NaN,0.0,NaN,NaN,0.0,4,41389189,0.0,0.000000e+00,0.0
322,4,Algérie,2635,Thé,2017,vegetal,0.0,NaN,NaN,0.0,0.34,0.00,0.09,14.0,0.0,14.0,14.0,NaN,NaN,0.0,NaN,NaN,0.0,4,41389189,0.0,1.359635e+06,0.0
344,4,Algérie,2761,Poissons Eau Douce,2017,animal,NaN,NaN,0.0,0.0,0.17,0.01,0.04,7.0,0.0,6.0,7.0,NaN,1.0,NaN,NaN,NaN,0.0,4,41389189,0.0,6.042822e+05,0.0
345,4,Algérie,2762,Perciform,2017,animal,NaN,NaN,0.0,0.0,0.42,0.01,0.09,18.0,0.0,8.0,18.0,NaN,9.0,NaN,NaN,NaN,NaN,4,41389189,0.0,1.359635e+06,0.0
348,4,Algérie,2765,Crustacés,2017,animal,NaN,NaN,0.0,0.0,0.11,0.00,0.03,5.0,0.0,3.0,5.0,NaN,2.0,NaN,NaN,NaN,NaN,4,41389189,0.0,4.532116e+05,0.0
349,4,Algérie,2766,Cephalopodes,2017,animal,NaN,NaN,0.0,0.0,0.09,0.00,0.04,4.0,2.0,3.0,4.0,NaN,2.0,NaN,NaN,NaN,NaN,4,41389189,0.0,6.042822e+05,0.0
362,7,Angola,2516,Avoine,2017,vegetal,0.0,0.0,NaN,0.0,0.03,0.00,0.01,1.0,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,7,29816766,0.0,1.088312e+05,0.0
379,7,Angola,2551,Noix,2017,vegetal,NaN,NaN,NaN,0.0,0.07,0.03,0.01,2.0,NaN,0.0,2.0,0.0,2.0,0.0,NaN,NaN,0.0,7,29816766,0.0,1.088312e+05,0.0
388,7,Angola,2563,Olives,2017,vegetal,0.0,NaN,NaN,0.0,0.04,0.01,0.00,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,7,29816766,0.0,0.000000e+00,0.0
394,7,Angola,2575,Huile Graines de Coton,2017,vegetal,0.0,NaN,NaN,0.0,0.02,0.05,0.00,1.0,NaN,0.0,1.0,NaN,1.0,0.0,NaN,0.0,NaN,7,29816766,0.0,0.000000e+00,0.0
406,7,Angola,2611,"Oranges, Mandarines",2017,vegetal,0.0,NaN,NaN,0.0,0.36,0.00,0.01,11.0,0.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,7,29816766,0.0,1.088312e+05,0.0
407,7,Angola,2612,Citrons & Limes,2017,vegetal,0.0,NaN,NaN,0.0,0.06,0.00,0.00,2.0,0.0,2.0,2.0,NaN,NaN,0.0,NaN,NaN,NaN,7,29816766,0.0,0.000000e+00,0.0
415,7,Angola,2620,Raisin,2017,vegetal,0.0,0.0,NaN,0.0,0.03,0.00,0.00,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,7,29816766,0.0,0.000000e+00,0.0
419,7,Angola,2635,Thé,2017,vegetal,0.0,NaN,NaN,0.0,0.02,0.00,0.01,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,7,29816766,0.0,1.088312e+05,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15262,255,Belgique,2635,Thé,2017,vegetal,NaN,NaN,NaN,0.0,0.27,0.00,0.06,3.0,15.0,18.0,3.0,NaN,NaN,0.0,NaN,NaN,0.0,255,11419748,0.0,2.500925e+05,0.0
15419,272,Serbie,2563,Olives,2017,vegetal,NaN,NaN,NaN,0.0,0.14,0.04,0.00,1.0,0.0,2.0,1.0,NaN,0.0,0.0,NaN,NaN,0.0,272,8829628,0.0,0.000000e+00,0.0
15438,272,Serbie,2613,Pamplemousse,2017,vegetal,NaN,NaN,NaN,0.0,0.39,0.00,0.00,3.0,0.0,4.0,3.0,NaN,0.0,0.0,NaN,NaN,0.0,272,8829628,0.0,0.000000e+00,0.0
15439,272,Serbie,2614,"Agrumes, Autres",2017,vegetal,NaN,NaN,NaN,0.0,0.11,0.00,0.00,1.0,0.0,0.0,1.0,NaN,1.0,0.0,NaN,NaN,0.0,272,8829628,0.0,0.000000e+00,0.0
15443,272,Serbie,2618,Ananas,2017,vegetal,NaN,NaN,NaN,0.0,0.17,0.00,0.00,1.0,1.0,3.0,1.0,NaN,0.0,0.0,NaN,NaN,0.0,272,8829628,0.0,0.000000e+00,0.0
15444,272,Serbie,2619,Dattes,2017,vegetal,NaN,NaN,NaN,0.0,0.07,0.00,0.00,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,272,8829628,0.0,0.000000e+00,0.0
15476,272,Serbie,2766,Cephalopodes,2017,animal,NaN,NaN,0.0,0.0,0.19,0.01,0.07,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,272,8829628,0.0,2.255970e+05,0.0
15528,273,Monténégro,2613,Pamplemousse,2017,vegetal,NaN,NaN,NaN,0.0,0.98,0.00,0.01,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,273,627563,0.0,2.290605e+03,0.0
15566,273,Monténégro,2767,"Mollusques, Autres",2017,animal,NaN,NaN,0.0,0.0,0.97,0.01,0.07,1.0,0.0,0.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,273,627563,0.0,1.603423e+04,0.0
15581,276,Soudan,2520,"Céréales, Autres",2017,vegetal,0.0,NaN,NaN,0.0,0.01,0.00,0.00,1.0,NaN,0.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,276,40813397,0.0,0.000000e+00,0.0
15601,276,Soudan,2560,Coco (Incl Coprah),2017,vegetal,0.0,0.0,NaN,0.0,0.01,0.03,0.00,1.0,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,276,40813397,0.0,0.000000e+00,0.0
15603,276,Soudan,2563,Olives,2017,vegetal,0.0,NaN,NaN,0.0,0.02,0.01,0.00,1.0,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,276,40813397,0.0,0.000000e+00,0.0
15627,276,Soudan,2617,Pommes,2017,vegetal,0.0,NaN,NaN,0.0,0.16,0.00,0.00,7.0,3.0,9.0,7.0,NaN,NaN,0.0,NaN,NaN,NaN,276,40813397,0.0,0.000000e+00,0.0
15628,276,Soudan,2618,Ananas,2017,vegetal,0.0,NaN,NaN,0.0,0.09,0.00,0.00,4.0,0.0,1.0,4.0,0.0,3.0,0.0,NaN,NaN,0.0,276,40813397,0.0,0.000000e+00,0.0
15630,276,Soudan,2620,Raisin,2017,vegetal,0.0,NaN,NaN,0.0,0.11,0.00,0.00,4.0,0.0,4.0,4.0,NaN,NaN,0.0,NaN,NaN,0.0,276,40813397,0.0,0.000000e+00,0.0
15644,276,Soudan,2680,Aliments pour enfants,2017,vegetal,0.0,NaN,NaN,0.0,0.02,0.00,0.01,1.0,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,276,40813397,0.0,1.489689e+05,0.0
15655,276,Soudan,2745,Miel,2017,vegetal,0.0,NaN,NaN,0.0,0.02,0.00,0.00,1.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,276,40813397,0.0,0.000000e+00,0.0
15658,276,Soudan,2763,Poissons Pelagiques,2017,animal,NaN,NaN,0.0,0.0,0.10,0.01,0.03,4.0,0.0,4.0,4.0,NaN,0.0,NaN,NaN,NaN,NaN,276,40813397,0.0,4.469067e+05,0.0
15659,276,Soudan,2764,"Poissons Marins, Autres",2017,animal,NaN,NaN,0.0,0.0,0.04,0.00,0.01,2.0,1.0,1.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,276,40813397,0.0,1.489689e+05,0.0
15681,351,Chine,2535,Ignames,2017,vegetal,0.0,0.0,NaN,0.0,0.00,0.00,0.00,2.0,9.0,3.0,2.0,NaN,NaN,0.0,NaN,NaN,-8.0,351,1452625244,0.0,0.000000e+00,0.0
15682,351,Chine,2536,"Sucre, canne",2017,vegetal,0.0,6989.0,NaN,0.0,0.06,0.00,0.00,114392.0,2.0,100.0,86.0,5610.0,104906.0,0.0,NaN,101706.0,-9389.0,351,1452625244,0.0,0.000000e+00,0.0
15693,351,Chine,2557,Graines de tournesol,2017,vegetal,0.0,861.0,NaN,0.0,0.00,0.00,0.00,2294.0,410.0,125.0,2.0,81.0,2580.0,0.0,13.0,1337.0,0.0,351,1452625244,0.0,0.000000e+00,0.0
15694,351,Chine,2558,Graines Colza/Moutarde,2017,vegetal,0.0,2882.0,79.0,0.0,0.00,0.00,0.00,12683.0,2.0,4753.0,4.0,995.0,13292.0,0.0,287.0,8437.0,5360.0,351,1452625244,0.0,0.000000e+00,0.0
15699,351,Chine,2563,Olives,2017,vegetal,0.0,NaN,NaN,0.0,0.00,0.00,0.00,6.0,0.0,4.0,5.0,0.0,3.0,0.0,NaN,NaN,1.0,351,1452625244,0.0,0.000000e+00,0.0
15700,351,Chine,2570,"Plantes Oleiferes, Autre",2017,vegetal,0.0,279.0,1175.0,0.0,0.00,0.00,0.00,4409.0,108.0,481.0,1.0,204.0,4405.0,0.0,8.0,2742.0,369.0,351,1452625244,0.0,0.000000e+00,0.0
15728,351,Chine,2630,Café,2017,vegetal,-2.0,NaN,2.0,0.0,0.11,0.00,0.01,168.0,182.0,269.0,158.0,6.0,115.0,0.0,NaN,5.0,35.0,351,1452625244,0.0,5.302082e+06,0.0
15731,351,Chine,2640,Poivre,2017,vegetal,0.0,NaN,0.0,0.0,0.03,0.00,0.01,42.0,2.0,8.0,40.0,2.0,35.0,0.0,NaN,NaN,0.0,351,1452625244,0.0,5.302082e+06,0.0
15733,351,Chine,2642,Girofles,2017,vegetal,0.0,NaN,NaN,0.0,0.00,0.00,0.00,1.0,0.0,0.0,1.0,NaN,1.0,0.0,NaN,NaN,0.0,351,1452625244,0.0,0.000000e+00,0.0
15760,351,Chine,2775,Plantes Aquatiques,2017,animal,NaN,NaN,17988.0,0.0,0.00,0.00,0.00,17990.0,25.0,276.0,1.0,NaN,17738.0,NaN,NaN,NaN,NaN,351,1452625244,0.0,0.000000e+00,0.0
15765,351,Chine,2899,Miscellanees,2017,vegetal,-14.0,NaN,7.0,0.0,0.19,0.00,0.01,273.0,2097.0,890.0,280.0,NaN,1481.0,0.0,NaN,NaN,1.0,351,1452625244,0.0,5.302082e+06,0.0

In [40]:
# Il y a des min parfois = 0 parce que le numérateur (dispo ali (kcal/pays/an) est parfois = 0. Le ratio n'est donc pas
# correct (il ne signifie rien). 
# Je remplace le 0 de la colonne ratio é/p par NaN 
datapop17['ratio énergie/poids (kcal/kg)'] = datapop17['ratio énergie/poids (kcal/kg)'].replace(0,np.nan)

In [41]:
# Nouvelle vérification de la colonne ratio é/p) :
datapop17['ratio énergie/poids (kcal/kg)'].describe()

count    8.521000e+03
mean     3.454991e+03
std      3.843271e+04
min      7.130348e+01
25%      6.235439e+02
50%      1.595350e+03
75%      3.530506e+03
max      3.490745e+06
Name: ratio énergie/poids (kcal/kg), dtype: float64

In [107]:
# le maximum est très élevé, je cherche pourquoi. 
# Comme vu plus haut, les aliments les plus caloriques comme les huiles font 9000 kcal/kg. Je cherche les valeurs supérieurs
# à 10000 (1e+4)
datapop17[datapop17['ratio énergie/poids (kcal/kg)']>1e+04]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg)
55,1,Arménie,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,38.0,0.33,3.49,0.46,1.0,0.0,2.0,1.0,NaN,0.0,0.0,NaN,0.0,1.0,1,2944790,4.084424e+10,4.944302e+05,40844.237300
73,1,Arménie,2737,Graisses Animales Crue,2017,animal,NaN,NaN,0.0,80.0,2.21,8.82,0.24,7.0,0.0,3.0,7.0,0.0,4.0,0.0,NaN,NaN,0.0,1,2944790,8.598787e+10,2.579636e+05,12283.981143
128,2,Afghanistan,2579,Huile de Sésame,2017,vegetal,NaN,NaN,0.0,1.0,0.02,0.06,0.00,1.0,NaN,0.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,2,36296113,1.324808e+10,0.000000e+00,13248.081245
165,2,Afghanistan,2737,Graisses Animales Crue,2017,animal,NaN,NaN,NaN,12.0,0.40,1.29,0.01,15.0,NaN,1.0,15.0,NaN,15.0,1.0,NaN,NaN,NaN,2,36296113,1.589770e+11,1.324808e+05,10598.464996
290,4,Algérie,2560,Coco (Incl Coprah),2017,vegetal,0.0,NaN,NaN,1.0,0.04,0.06,0.01,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,4,41389189,1.510705e+10,1.510705e+05,15107.053985
304,4,Algérie,2582,Huile de Germe de Maïs,2017,vegetal,0.0,NaN,NaN,1.0,0.03,0.10,0.00,1.0,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,4,41389189,1.510705e+10,0.000000e+00,15107.053985
340,4,Algérie,2740,"Beurre, Ghee",2017,animal,0.0,NaN,NaN,7.0,0.22,0.81,0.01,9.0,0.0,4.0,9.0,NaN,4.0,0.0,NaN,NaN,0.0,4,41389189,1.057494e+11,1.510705e+05,11749.930877
399,7,Angola,2580,Huile d'Olive,2017,vegetal,0.0,NaN,NaN,3.0,0.11,0.30,0.00,3.0,0.0,3.0,3.0,NaN,0.0,0.0,NaN,NaN,NaN,7,29816766,3.264936e+10,0.000000e+00,10883.119590
402,7,Angola,2586,Huil Plantes Oleif Autr,2017,vegetal,0.0,NaN,2.0,16.0,0.03,1.76,0.01,3.0,0.0,1.0,1.0,NaN,2.0,0.0,NaN,NaN,0.0,7,29816766,1.741299e+11,1.088312e+05,174129.913440
436,7,Angola,2737,Graisses Animales Crue,2017,animal,NaN,2.0,0.0,9.0,0.31,1.01,0.01,9.0,NaN,0.0,9.0,NaN,9.0,-2.0,NaN,NaN,NaN,7,29816766,9.794808e+10,1.088312e+05,10883.119590
579,9,Argentine,2575,Huile Graines de Coton,2017,vegetal,NaN,NaN,NaN,2.0,0.07,0.20,0.00,3.0,4.0,0.0,3.0,NaN,7.0,0.0,NaN,0.0,0.0,9,43937140,3.207411e+10,0.000000e+00,10691.370733
670,10,Australie,2571,Huile de Soja,2017,vegetal,NaN,NaN,0.0,15.0,0.47,1.69,0.00,31.0,3.0,26.0,12.0,NaN,8.0,0.0,NaN,19.0,0.0,10,24584620,1.346008e+11,0.000000e+00,11216.732875
677,10,Australie,2578,Huile de Coco,2017,vegetal,NaN,NaN,0.0,3.0,0.03,0.32,0.00,12.0,0.0,12.0,1.0,NaN,0.0,0.0,NaN,11.0,0.0,10,24584620,2.692016e+10,0.000000e+00,26920.158900
715,10,Australie,2737,Graisses Animales Crue,2017,animal,NaN,NaN,30.0,48.0,1.67,5.39,0.05,80.0,157.0,19.0,41.0,6.0,218.0,0.0,NaN,3.0,-1.0,10,24584620,4.307225e+11,4.486693e+05,10505.427863
767,11,Autriche,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,0.0,177.0,2.49,19.92,0.10,63.0,36.0,46.0,22.0,4.0,64.0,0.0,NaN,36.0,11.0,11,8819901,5.698097e+11,3.219264e+05,25900.441096
810,11,Autriche,2737,Graisses Animales Crue,2017,animal,NaN,NaN,2.0,237.0,3.02,26.36,0.04,31.0,33.0,18.0,27.0,1.0,48.0,0.0,NaN,2.0,2.0,11,8819901,7.629655e+11,1.287706e+05,28257.982815
955,14,Barbade,2571,Huile de Soja,2017,vegetal,1.0,NaN,0.0,111.0,4.58,12.56,0.00,3.0,1.0,0.0,1.0,NaN,4.0,0.0,NaN,1.0,0.0,14,286232,1.159669e+10,0.000000e+00,11596.689480
1049,16,Bangladesh,2572,Huile d'Arachide,2017,vegetal,0.0,NaN,0.0,3.0,0.10,0.28,0.00,17.0,0.0,0.0,17.0,NaN,17.0,NaN,NaN,NaN,NaN,16,159685424,1.748555e+11,0.000000e+00,10285.619958
1050,16,Bangladesh,2573,Huile de Tournesol,2017,vegetal,0.0,NaN,0.0,1.0,0.03,0.07,0.00,4.0,0.0,4.0,4.0,NaN,NaN,0.0,NaN,NaN,NaN,16,159685424,5.828518e+10,0.000000e+00,14571.294940
1052,16,Bangladesh,2575,Huile Graines de Coton,2017,vegetal,0.0,NaN,1.0,1.0,0.03,0.08,0.00,6.0,0.0,0.0,5.0,NaN,6.0,0.0,NaN,NaN,0.0,16,159685424,5.828518e+10,0.000000e+00,11657.035952
1095,16,Bangladesh,2740,"Beurre, Ghee",2017,animal,0.0,NaN,NaN,4.0,0.01,0.49,0.00,2.0,0.0,1.0,2.0,NaN,1.0,0.0,NaN,NaN,NaN,16,159685424,2.331407e+11,0.000000e+00,116570.359520
1154,19,Bolivie (État plurinational de),2571,Huile de Soja,2017,vegetal,0.0,NaN,NaN,79.0,2.21,8.97,0.02,178.0,267.0,2.0,25.0,NaN,537.0,NaN,NaN,153.0,94.0,19,11192855,3.227460e+11,8.170784e+04,12909.838957
1155,19,Bolivie (État plurinational de),2572,Huile d'Arachide,2017,vegetal,0.0,NaN,NaN,5.0,0.21,0.58,0.00,2.0,NaN,0.0,2.0,NaN,2.0,NaN,NaN,0.0,NaN,19,11192855,2.042696e+10,0.000000e+00,10213.480187
1200,19,Bolivie (État plurinational de),2737,Graisses Animales Crue,2017,animal,NaN,0.0,0.0,40.0,0.85,4.51,0.03,19.0,1.0,1.0,10.0,NaN,19.0,NaN,NaN,9.0,NaN,19,11192855,1.634157e+11,1.225618e+05,16341.568300
1295,20,Botswana,2737,Graisses Animales Crue,2017,animal,0.0,NaN,0.0,17.0,0.61,1.84,0.03,1.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,20,2205080,1.368252e+10,2.414563e+04,13682.521400
1391,21,Brésil,2737,Graisses Animales Crue,2017,animal,NaN,NaN,228.0,82.0,2.67,9.08,0.13,782.0,9.0,22.0,554.0,NaN,769.0,-1.0,NaN,NaN,0.0,21,207833823,6.220466e+12,9.861715e+06,11228.278560
1536,25,Îles Salomon,2577,Huile de Palme,2017,vegetal,3.0,NaN,0.0,51.0,2.10,5.75,0.00,4.0,36.0,3.0,1.0,NaN,38.0,0.0,NaN,NaN,0.0,25,636039,1.183987e+10,0.000000e+00,11839.865985
1635,27,Bulgarie,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,1.0,200.0,6.82,22.64,0.03,62.0,325.0,19.0,48.0,NaN,420.0,0.0,NaN,13.0,51.0,27,7102444,5.184784e+11,7.777176e+04,10801.633583
1642,27,Bulgarie,2580,Huile d'Olive,2017,vegetal,NaN,NaN,NaN,8.0,0.34,0.93,0.00,2.0,0.0,3.0,2.0,NaN,0.0,0.0,NaN,NaN,0.0,27,7102444,2.073914e+10,0.000000e+00,10369.568240
1678,27,Bulgarie,2737,Graisses Animales Crue,2017,animal,NaN,NaN,10.0,113.0,1.83,12.45,0.32,23.0,2.0,15.0,13.0,0.0,10.0,0.0,NaN,NaN,0.0,27,7102444,2.929403e+11,8.295655e+05,22533.869445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14253,230,Ukraine,2737,Graisses Animales Crue,2017,animal,NaN,NaN,76.0,43.0,1.18,4.70,0.08,137.0,46.0,72.0,53.0,2.0,105.0,6.0,NaN,NaN,-6.0,230,44487709,6.982346e+11,1.299041e+06,13174.237599
14303,231,États-Unis d'Amérique,2571,Huile de Soja,2017,vegetal,NaN,NaN,1095.0,532.0,13.60,60.10,0.17,9321.0,1070.0,138.0,4422.0,0.0,10380.0,0.0,NaN,3805.0,127.0,231,325084756,6.312496e+13,2.017151e+07,14275.205319
14305,231,États-Unis d'Amérique,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,123.0,5.0,0.11,0.60,0.00,227.0,35.0,54.0,37.0,0.0,200.0,0.0,NaN,68.0,-8.0,231,325084756,5.932797e+11,0.000000e+00,16034.585938
14307,231,États-Unis d'Amérique,2575,Huile Graines de Coton,2017,vegetal,NaN,NaN,10.0,16.0,0.43,1.76,0.00,227.0,41.0,0.0,139.0,0.0,263.0,0.0,NaN,78.0,-5.0,231,325084756,1.898495e+12,0.000000e+00,13658.237231
14310,231,États-Unis d'Amérique,2578,Huile de Coco,2017,vegetal,NaN,NaN,303.0,6.0,0.20,0.66,0.00,394.0,38.0,435.0,64.0,0.0,0.0,0.0,NaN,28.0,3.0,231,325084756,7.119356e+11,0.000000e+00,11123.993994
14313,231,États-Unis d'Amérique,2582,Huile de Germe de Maïs,2017,vegetal,NaN,NaN,5.0,57.0,2.01,6.44,0.01,800.0,464.0,32.0,652.0,0.0,1688.0,0.0,NaN,143.0,455.0,231,325084756,6.763388e+12,1.186559e+06,10373.295013
14348,231,États-Unis d'Amérique,2737,Graisses Animales Crue,2017,animal,NaN,543.0,1294.0,54.0,1.09,6.08,0.00,3508.0,419.0,62.0,356.0,1315.0,3897.0,0.0,NaN,NaN,32.0,231,325084756,6.407421e+12,0.000000e+00,17998.372306
14672,236,Venezuela (République bolivarienne du),2575,Huile Graines de Coton,2017,vegetal,0.0,NaN,NaN,1.0,0.04,0.10,0.00,1.0,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,236,29402484,1.073191e+10,0.000000e+00,10731.906660
14713,236,Venezuela (République bolivarienne du),2737,Graisses Animales Crue,2017,animal,NaN,9.0,3.0,25.0,0.25,2.72,0.13,21.0,NaN,2.0,7.0,1.0,19.0,1.0,NaN,NaN,NaN,236,29402484,2.682977e+11,1.395148e+06,38328.238071
14766,237,Viet Nam,2574,Huile de Colza&Moutarde,2017,vegetal,0.0,NaN,NaN,1.0,0.02,0.06,0.00,2.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,0.0,0.0,237,94600648,3.452924e+10,0.000000e+00,17264.618260
14775,237,Viet Nam,2586,Huil Plantes Oleif Autr,2017,vegetal,0.0,0.0,0.0,2.0,0.01,0.23,0.00,1.0,1.0,2.0,1.0,NaN,0.0,NaN,NaN,NaN,0.0,237,94600648,6.905847e+10,0.000000e+00,69058.473040
14791,237,Viet Nam,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,2.0,0.02,0.13,0.04,2.0,1.0,0.0,2.0,NaN,3.0,0.0,NaN,NaN,NaN,237,94600648,6.905847e+10,1.381169e+06,34529.236520
14860,238,Éthiopie,2573,Huile de Tournesol,2017,vegetal,0.0,NaN,NaN,1.0,0.02,0.07,0.00,3.0,0.0,13.0,3.0,NaN,NaN,0.0,NaN,NaN,11.0,238,106399924,3.883597e+10,0.000000e+00,12945.324087
14866,238,Éthiopie,2579,Huile de Sésame,2017,vegetal,0.0,NaN,NaN,1.0,0.02,0.06,0.00,2.0,NaN,0.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,238,106399924,3.883597e+10,0.000000e+00,19417.986130
14904,238,Éthiopie,2740,"Beurre, Ghee",2017,animal,NaN,NaN,NaN,3.0,0.01,0.29,0.00,2.0,0.0,0.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,238,106399924,1.165079e+11,0.000000e+00,58253.958390
15045,249,Yémen,2571,Huile de Soja,2017,vegetal,NaN,NaN,NaN,1.0,0.02,0.06,0.00,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,249,27834819,1.015971e+10,0.000000e+00,10159.708935
15049,249,Yémen,2575,Huile Graines de Coton,2017,vegetal,NaN,NaN,NaN,1.0,0.04,0.10,0.00,1.0,0.0,0.0,1.0,NaN,1.0,0.0,NaN,0.0,0.0,249,27834819,1.015971e+10,0.000000e+00,10159.708935
15054,249,Yémen,2580,Huile d'Olive,2017,vegetal,NaN,NaN,NaN,2.0,0.07,0.19,0.00,2.0,0.0,2.0,2.0,NaN,NaN,0.0,NaN,NaN,NaN,249,27834819,2.031942e+10,0.000000e+00,10159.708935
15057,249,Yémen,2586,Huil Plantes Oleif Autr,2017,vegetal,NaN,NaN,0.0,31.0,1.11,3.54,0.00,31.0,0.0,31.0,31.0,NaN,0.0,NaN,NaN,NaN,NaN,249,27834819,3.149510e+11,0.000000e+00,10159.708935
15090,249,Yémen,2737,Graisses Animales Crue,2017,animal,NaN,NaN,NaN,8.0,0.26,0.91,0.02,12.0,NaN,0.0,7.0,NaN,12.0,5.0,NaN,NaN,NaN,249,27834819,8.127767e+10,2.031942e+05,11611.095926
15185,251,Zambie,2740,"Beurre, Ghee",2017,animal,0.0,NaN,NaN,2.0,0.09,0.19,0.00,1.0,0.0,0.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,251,16853599,1.230313e+10,0.000000e+00,12303.127270
15236,255,Belgique,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,99.0,78.0,1.62,8.78,0.03,249.0,128.0,370.0,18.0,NaN,8.0,0.0,NaN,132.0,0.0,255,11419748,3.251202e+11,1.250462e+05,18062.234753
15279,255,Belgique,2737,Graisses Animales Crue,2017,animal,NaN,10.0,44.0,242.0,4.82,26.78,0.11,109.0,107.0,130.0,55.0,1.0,87.0,-6.0,NaN,6.0,0.0,255,11419748,1.008706e+12,4.585029e+05,18340.115288
15280,255,Belgique,2740,"Beurre, Ghee",2017,animal,NaN,NaN,0.0,63.0,2.18,7.09,0.08,25.0,114.0,97.0,25.0,NaN,42.0,0.0,NaN,NaN,0.0,255,11419748,2.625971e+11,3.334566e+05,10503.884210
15331,256,Luxembourg,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,0.0,48.0,1.97,5.40,0.00,1.0,0.0,2.0,1.0,NaN,0.0,0.0,NaN,NaN,0.0,256,591910,1.037026e+10,0.000000e+00,10370.263200
15332,256,Luxembourg,2574,Huile de Colza&Moutarde,2017,vegetal,NaN,NaN,0.0,47.0,1.96,5.36,0.00,2.0,0.0,0.0,1.0,NaN,1.0,0.0,NaN,NaN,-1.0,256,591910,1.015422e+10,0.000000e+00,10154.216050
15338,256,Luxembourg,2580,Huile d'Olive,2017,vegetal,NaN,NaN,0.0,60.0,2.47,6.76,0.00,1.0,0.0,2.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,256,591910,1.296283e+10,0.000000e+00,12962.829000
15522,273,Monténégro,2586,Huil Plantes Oleif Autr,2017,vegetal,NaN,NaN,0.0,47.0,2.37,5.27,0.04,1.0,0.0,2.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,273,627563,1.076584e+10,9.162420e+03,10765.843265
15706,351,Chine,2576,Huile de Palmistes,2017,vegetal,0.0,0.0,546.0,2.0,0.07,0.18,0.00,643.0,0.0,616.0,97.0,NaN,28.0,0.0,NaN,0.0,0.0,351,1452625244,1.060416e+12,0.000000e+00,10932.128125
15710,351,Chine,2580,Huile d'Olive,2017,vegetal,0.0,NaN,6.0,1.0,0.03,0.09,0.00,52.0,1.0,55.0,46.0,NaN,NaN,0.0,NaN,NaN,3.0,351,1452625244,5.302082e+11,0.000000e+00,11526.265523

In [42]:
# Dans ces cas, la dispo ali en kcal est bp plus élevée que la nourriture (celle-ci est proche de 0 en quantité/personne). 
# Je considère ces colonnes comme non significatives et ne conserve que les valeurs pour lesquelles ratio E/P < 1e+04
datapop17['ratio énergie/poids (kcal/kg)'].mask(datapop17['ratio énergie/poids (kcal/kg)']>1e+04, np.nan, inplace=True)

In [109]:
# Vérification
datapop17['ratio énergie/poids (kcal/kg)'].describe()

count    8289.000000
mean     2513.934123
std      2508.491415
min        71.303480
25%       609.115528
50%      1476.903103
75%      3440.322654
max      9993.277330
Name: ratio énergie/poids (kcal/kg), dtype: float64

In [110]:
# Je vérifie les valeurs max
datapop17[datapop17['ratio énergie/poids (kcal/kg)']>9000]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg)
124,2,Afghanistan,2575,Huile Graines de Coton,2017,vegetal,NaN,NaN,1.0,3.0,0.10,0.28,0.00,5.0,NaN,0.0,4.0,NaN,6.0,NaN,NaN,NaN,1.0,2,36296113,3.974424e+10,0.00000,9936.060934
205,3,Albanie,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,16.0,138.0,5.70,15.62,0.00,32.0,0.0,32.0,16.0,NaN,1.0,0.0,NaN,NaN,0.0,3,2884169,1.452756e+11,0.00000,9079.724533
339,4,Algérie,2737,Graisses Animales Crue,2017,animal,0.0,NaN,0.0,6.0,0.23,0.62,0.00,10.0,0.0,0.0,10.0,0.0,10.0,0.0,NaN,NaN,0.0,4,41389189,9.064232e+10,0.00000,9064.232391
395,7,Angola,2576,Huile de Palmistes,2017,vegetal,0.0,NaN,2.0,6.0,0.24,0.66,0.00,9.0,0.0,0.0,7.0,NaN,9.0,0.0,NaN,NaN,NaN,7,29816766,6.529872e+10,0.00000,9328.388220
584,9,Argentine,2580,Huile d'Olive,2017,vegetal,NaN,NaN,1.0,3.0,0.11,0.30,0.00,6.0,37.0,0.0,5.0,NaN,45.0,0.0,NaN,NaN,2.0,9,43937140,4.811117e+10,0.00000,9622.233660
673,10,Australie,2574,Huile de Colza&Moutarde,2017,vegetal,NaN,NaN,0.0,201.0,8.06,22.71,0.00,229.0,164.0,20.0,198.0,NaN,386.0,0.0,NaN,31.0,12.0,10,24584620,1.803651e+12,0.00000,9109.346698
676,10,Australie,2577,Huile de Palme,2017,vegetal,NaN,NaN,0.0,85.0,3.33,9.65,0.00,108.0,0.0,137.0,82.0,NaN,0.0,0.0,NaN,26.0,29.0,10,24584620,7.627378e+11,0.00000,9301.680921
765,11,Autriche,2571,Huile de Soja,2017,vegetal,NaN,2.0,4.0,28.0,1.17,3.22,0.00,16.0,9.0,14.0,10.0,NaN,20.0,0.0,NaN,0.0,8.0,11,8819901,9.013939e+10,0.00000,9013.938822
1051,16,Bangladesh,2574,Huile de Colza&Moutarde,2017,vegetal,NaN,NaN,0.0,22.0,0.89,2.43,0.00,142.0,1.0,0.0,142.0,NaN,143.0,0.0,NaN,NaN,NaN,16,159685424,1.282274e+12,0.00000,9030.098273
1347,21,Brésil,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,NaN,9.0,0.36,0.99,0.00,75.0,0.0,43.0,75.0,NaN,40.0,0.0,NaN,NaN,8.0,21,207833823,6.827341e+11,0.00000,9103.121447
1355,21,Brésil,2581,Huile de Son de Riz,2017,vegetal,NaN,NaN,NaN,2.0,0.08,0.21,0.00,16.0,NaN,NaN,16.0,NaN,16.0,0.0,NaN,NaN,0.0,21,207833823,1.517187e+11,0.00000,9482.418174
1356,21,Brésil,2582,Huile de Germe de Maïs,2017,vegetal,NaN,NaN,NaN,2.0,0.08,0.22,0.00,65.0,34.0,4.0,16.0,NaN,102.0,0.0,NaN,49.0,6.0,21,207833823,1.517187e+11,0.00000,9482.418174
1633,27,Bulgarie,2571,Huile de Soja,2017,vegetal,NaN,NaN,NaN,42.0,1.72,4.72,0.00,12.0,0.0,13.0,12.0,NaN,5.0,0.0,NaN,0.0,5.0,27,7102444,1.088805e+11,0.00000,9073.372210
1634,27,Bulgarie,2572,Huile d'Arachide,2017,vegetal,NaN,NaN,NaN,11.0,0.44,1.21,0.00,3.0,0.0,0.0,3.0,NaN,3.0,0.0,NaN,0.0,0.0,27,7102444,2.851631e+10,0.00000,9505.437553
1643,27,Bulgarie,2582,Huile de Germe de Maïs,2017,vegetal,NaN,NaN,NaN,22.0,0.91,2.49,0.00,6.0,0.0,0.0,6.0,NaN,8.0,0.0,NaN,NaN,1.0,27,7102444,5.703263e+10,0.00000,9505.437553
1918,33,Canada,2571,Huile de Soja,2017,vegetal,NaN,NaN,5.0,17.0,0.69,1.90,0.00,220.0,142.0,22.0,25.0,NaN,341.0,0.0,NaN,190.0,1.0,33,36732095,2.279226e+11,0.00000,9116.905979
2294,39,Tchad,2572,Huile d'Arachide,2017,vegetal,0.0,0.0,0.0,69.0,2.83,7.75,0.00,42.0,0.0,0.0,42.0,0.0,42.0,0.0,0.0,0.0,0.0,39,15016753,3.781969e+11,0.00000,9004.688674
2297,39,Tchad,2575,Huile Graines de Coton,2017,vegetal,0.0,0.0,1.0,7.0,0.30,0.81,0.00,6.0,0.0,0.0,4.0,0.0,12.0,0.0,0.0,0.0,6.0,39,15016753,3.836780e+10,0.00000,9591.950979
2581,46,Congo,2572,Huile d'Arachide,2017,vegetal,0.0,NaN,0.0,15.0,0.61,1.66,0.00,3.0,0.0,1.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,46,5110695,2.798106e+10,0.00000,9327.018375
2960,52,Azerbaïdjan,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,1.0,8.0,0.31,0.86,0.00,63.0,2.0,58.0,3.0,NaN,37.0,0.0,NaN,59.0,30.0,52,9845320,2.874833e+10,0.00000,9582.778133
3056,53,Bénin,2576,Huile de Palmistes,2017,vegetal,NaN,NaN,NaN,12.0,0.48,1.32,0.00,5.0,0.0,0.0,5.0,NaN,9.0,0.0,NaN,0.0,4.0,53,11175198,4.894737e+10,0.00000,9789.473448
3203,54,Danemark,2781,Huiles de Poissons,2017,animal,NaN,43.0,0.0,88.0,3.57,9.78,0.00,63.0,121.0,98.0,20.0,NaN,86.0,NaN,NaN,NaN,0.0,54,5732274,1.841206e+11,0.00000,9206.032044
3327,56,République dominicaine,2573,Huile de Tournesol,2017,vegetal,0.0,NaN,NaN,10.0,0.40,1.09,0.00,4.0,0.0,4.0,4.0,NaN,NaN,0.0,NaN,NaN,0.0,56,10513104,3.837283e+10,0.00000,9593.207400
3332,56,République dominicaine,2578,Huile de Coco,2017,vegetal,0.0,NaN,NaN,19.0,0.79,2.16,0.00,8.0,0.0,0.0,8.0,NaN,7.0,0.0,NaN,0.0,-1.0,56,10513104,7.290838e+10,0.00000,9113.547030
3334,56,République dominicaine,2580,Huile d'Olive,2017,vegetal,0.0,NaN,NaN,5.0,0.22,0.60,0.00,2.0,0.0,2.0,2.0,NaN,NaN,0.0,NaN,NaN,0.0,56,10513104,1.918641e+10,0.00000,9593.207400
3370,56,République dominicaine,2737,Graisses Animales Crue,2017,animal,4.0,NaN,0.0,34.0,1.36,3.79,0.01,18.0,0.0,8.0,14.0,0.0,10.0,0.0,NaN,NaN,0.0,56,10513104,1.304676e+11,38372.82960,9319.115760
3619,59,Égypte,2580,Huile d'Olive,2017,vegetal,0.0,NaN,NaN,5.0,0.19,0.51,0.00,18.0,2.0,1.0,18.0,NaN,22.0,0.0,NaN,NaN,2.0,59,96442591,1.760077e+11,0.00000,9778.207143
3655,59,Égypte,2737,Graisses Animales Crue,2017,animal,0.0,NaN,0.0,7.0,0.28,0.75,0.01,28.0,0.0,0.0,27.0,1.0,28.0,0.0,NaN,NaN,0.0,59,96442591,2.464108e+11,352015.45715,9126.326667
3705,60,El Salvador,2571,Huile de Soja,2017,vegetal,NaN,NaN,NaN,40.0,1.64,4.49,0.00,19.0,0.0,20.0,10.0,NaN,0.0,0.0,NaN,9.0,0.0,60,6388126,9.326664e+10,0.00000,9326.663960
3707,60,El Salvador,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,NaN,8.0,0.35,0.96,0.00,2.0,0.0,2.0,2.0,NaN,NaN,0.0,NaN,NaN,0.0,60,6388126,1.865333e+10,0.00000,9326.663960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13268,215,République-Unie de Tanzanie,2571,Huile de Soja,2017,vegetal,0.0,NaN,0.0,2.0,0.07,0.18,0.00,4.0,0.0,4.0,4.0,NaN,NaN,0.0,NaN,NaN,0.0,215,54660339,3.990205e+10,0.00000,9975.511867
13269,215,République-Unie de Tanzanie,2572,Huile d'Arachide,2017,vegetal,0.0,NaN,0.0,3.0,0.11,0.31,0.00,6.0,0.0,0.0,6.0,NaN,6.0,0.0,NaN,0.0,0.0,215,54660339,5.985307e+10,0.00000,9975.511867
13273,215,République-Unie de Tanzanie,2576,Huile de Palmistes,2017,vegetal,0.0,NaN,0.0,3.0,0.11,0.31,0.00,6.0,0.0,0.0,6.0,NaN,6.0,0.0,NaN,0.0,0.0,215,54660339,5.985307e+10,0.00000,9975.511867
13275,215,République-Unie de Tanzanie,2578,Huile de Coco,2017,vegetal,0.0,NaN,0.0,6.0,0.23,0.64,0.00,13.0,0.0,0.0,13.0,NaN,13.0,0.0,NaN,0.0,0.0,215,54660339,1.197061e+11,0.00000,9208.164801
13276,215,République-Unie de Tanzanie,2579,Huile de Sésame,2017,vegetal,0.0,NaN,0.0,10.0,0.41,1.11,0.00,22.0,1.0,0.0,22.0,NaN,23.0,0.0,NaN,0.0,0.0,215,54660339,1.995102e+11,0.00000,9068.647152
13371,216,Thaïlande,2578,Huile de Coco,2017,vegetal,0.0,NaN,11.0,9.0,0.35,0.97,0.00,35.0,1.0,9.0,24.0,NaN,28.0,NaN,NaN,0.0,NaN,216,69209810,2.273542e+11,0.00000,9473.092744
13462,217,Togo,2576,Huile de Palmistes,2017,vegetal,NaN,NaN,NaN,49.0,2.00,5.49,0.00,15.0,0.0,1.0,15.0,NaN,14.0,0.0,NaN,NaN,0.0,217,7698474,1.376872e+11,0.00000,9179.147166
13834,223,Turquie,2575,Huile Graines de Coton,2017,vegetal,NaN,NaN,12.0,69.0,2.57,7.80,0.01,249.0,2.0,0.0,209.0,NaN,251.0,0.0,NaN,28.0,0.0,223,81116450,2.042918e+12,296075.04250,9774.726283
13838,223,Turquie,2579,Huile de Sésame,2017,vegetal,NaN,NaN,NaN,11.0,0.45,1.23,0.00,36.0,0.0,0.0,36.0,NaN,42.0,0.0,NaN,NaN,5.0,223,81116450,3.256825e+11,0.00000,9046.737410
14025,226,Ouganda,2575,Huile Graines de Coton,2017,vegetal,0.0,NaN,0.0,5.0,0.19,0.52,0.00,8.0,0.0,0.0,8.0,NaN,8.0,0.0,NaN,0.0,0.0,226,41166587,7.512902e+10,0.00000,9391.127659
14126,229,Royaume-Uni,2580,Huile d'Olive,2017,vegetal,NaN,NaN,4.0,26.0,1.05,2.89,0.00,74.0,2.0,76.0,70.0,NaN,0.0,0.0,NaN,NaN,-1.0,229,66727460,6.332436e+11,0.00000,9046.337077
14304,231,États-Unis d'Amérique,2572,Huile d'Arachide,2017,vegetal,NaN,NaN,18.0,5.0,0.20,0.59,0.00,130.0,6.0,23.0,64.0,NaN,112.0,0.0,NaN,48.0,-1.0,231,325084756,5.932797e+11,0.00000,9269.994995
14306,231,États-Unis d'Amérique,2574,Huile de Colza&Moutarde,2017,vegetal,NaN,NaN,2008.0,47.0,1.73,5.30,0.00,2692.0,103.0,1992.0,562.0,0.0,757.0,0.0,NaN,121.0,-46.0,231,325084756,5.576829e+12,0.00000,9923.183255
14312,231,États-Unis d'Amérique,2580,Huile d'Olive,2017,vegetal,NaN,NaN,NaN,24.0,0.97,2.66,0.00,316.0,18.0,318.0,316.0,NaN,23.0,0.0,NaN,NaN,7.0,231,325084756,2.847742e+12,0.00000,9011.843236
14397,233,Burkina Faso,2572,Huile d'Arachide,2017,vegetal,0.0,NaN,0.0,13.0,0.53,1.44,0.00,10.0,0.0,0.0,10.0,NaN,10.0,0.0,NaN,NaN,NaN,233,19193234,9.107190e+10,0.00000,9107.189533
14403,233,Burkina Faso,2578,Huile de Coco,2017,vegetal,0.0,NaN,0.0,7.0,0.28,0.78,0.00,5.0,0.0,4.0,5.0,NaN,NaN,0.0,NaN,NaN,-2.0,233,19193234,4.903871e+10,0.00000,9807.742574
14535,234,Uruguay,2740,"Beurre, Ghee",2017,animal,NaN,0.0,NaN,29.0,1.21,3.30,0.03,4.0,10.0,1.0,4.0,NaN,16.0,0.0,NaN,NaN,3.0,234,3436640,3.637683e+10,37631.20800,9094.208600
14676,236,Venezuela (République bolivarienne du),2579,Huile de Sésame,2017,vegetal,0.0,NaN,NaN,7.0,0.29,0.78,0.00,8.0,0.0,0.0,8.0,NaN,8.0,NaN,NaN,0.0,NaN,236,29402484,7.512335e+10,0.00000,9390.418327
14765,237,Viet Nam,2573,Huile de Tournesol,2017,vegetal,0.0,NaN,NaN,2.0,0.08,0.21,0.00,7.0,0.0,7.0,7.0,NaN,NaN,NaN,NaN,0.0,NaN,237,94600648,6.905847e+10,0.00000,9865.496149
14770,237,Viet Nam,2578,Huile de Coco,2017,vegetal,0.0,NaN,56.0,30.0,1.22,3.34,0.00,172.0,6.0,3.0,115.0,NaN,176.0,NaN,NaN,0.0,2.0,237,94600648,1.035877e+12,0.00000,9007.626918
14861,238,Éthiopie,2574,Huile de Colza&Moutarde,2017,vegetal,0.0,NaN,NaN,4.0,0.15,0.42,0.00,16.0,NaN,0.0,16.0,NaN,16.0,NaN,NaN,NaN,NaN,238,106399924,1.553439e+11,0.00000,9708.993065
15047,249,Yémen,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,NaN,11.0,0.44,1.19,0.00,12.0,0.0,12.0,12.0,NaN,0.0,0.0,NaN,0.0,NaN,249,27834819,1.117568e+11,0.00000,9313.066524
15374,256,Luxembourg,2737,Graisses Animales Crue,2017,animal,NaN,NaN,2.0,44.0,2.24,5.00,0.04,3.0,1.0,2.0,1.0,0.0,2.0,0.0,NaN,NaN,0.0,256,591910,9.506075e+09,8641.88600,9506.074600
15375,256,Luxembourg,2740,"Beurre, Ghee",2017,animal,NaN,NaN,NaN,89.0,3.46,10.03,0.11,2.0,1.0,1.0,2.0,NaN,2.0,0.0,NaN,NaN,0.0,256,591910,1.922820e+10,23765.18650,9614.098175
15428,272,Serbie,2578,Huile de Coco,2017,vegetal,NaN,NaN,NaN,3.0,0.12,0.34,0.00,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,272,8829628,9.668443e+09,0.00000,9668.442660
15611,276,Soudan,2577,Huile de Palme,2017,vegetal,0.0,NaN,NaN,11.0,0.44,1.20,0.00,18.0,NaN,13.0,18.0,NaN,NaN,0.0,NaN,NaN,-5.0,276,40813397,1.638658e+11,0.00000,9103.654942
15613,276,Soudan,2579,Huile de Sésame,2017,vegetal,0.0,NaN,NaN,20.0,0.81,2.21,0.00,33.0,0.0,0.0,33.0,NaN,28.0,0.0,NaN,NaN,-5.0,276,40813397,2.979378e+11,0.00000,9028.418124
15705,351,Chine,2575,Huile Graines de Coton,2017,vegetal,0.0,0.0,521.0,11.0,0.44,1.19,0.00,1154.0,1.0,0.0,633.0,NaN,1156.0,0.0,NaN,0.0,0.0,351,1452625244,5.832290e+12,0.00000,9213.728838
15709,351,Chine,2579,Huile de Sésame,2017,vegetal,0.0,NaN,1.0,5.0,0.20,0.55,0.00,290.0,11.0,8.0,290.0,NaN,300.0,0.0,NaN,NaN,7.0,351,1452625244,2.651041e+12,0.00000,9141.520932
15711,351,Chine,2581,Huile de Son de Riz,2017,vegetal,0.0,NaN,NaN,2.0,0.08,0.21,0.00,110.0,0.0,0.0,110.0,NaN,110.0,NaN,NaN,NaN,NaN,351,1452625244,1.060416e+12,0.00000,9640.149347

Il s'agit d'huiles, c'est cohérent.

In [43]:
 # Nouveau calcul de la moyenne pour les oeufs.  
datapop17[datapop17['item']=='Oeufs'].mean().filter(['ratio énergie/poids (kcal/kg)'])

ratio énergie/poids (kcal/kg)    1355.236646
dtype: float64

__Rappel :__ Vu sur Wikipédia : la moyenne valeur calorique d'un oeuf est de 147 kcal/100g = 1470 kcal/kg
Je trouve 1355 kcal/kg. La différence peut s'expliquer par les arrondis.

### Calcul du pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées).

Teneur en protéines de l'avoine : 10.70g par 100g soit 10.7%  
Aliment le plus riche en protéines : la gélatine alimentaire = 87.60 %. Suivi par la levure alimentaire : 48 %. Vu sur https://sante.journaldesfemmes.fr/calories/classement/aliments/proteines

**Calcul :**  
% de protéines de chaque produit (pour chaque pays) = (dispo ali (kg de protéines/pays/an) / (nourriture x 1 000 000)) x 100  
*La nourriture est exprimée en milliers de tonnes. Dans le calcul, la multiplication par 1 000 000 permet d'avoir la nourriture en kg.  
La multiplication par 100 permet d'avoir le pourcentage.*

In [44]:
# Création de la colonne "% prot".  
datapop17['% prot'] =  datapop17['dispo ali (kg de protéines/pays/an)'] / (datapop17['nourriture'] * 1000000) * 100

In [87]:
datapop17.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
0,1.0,Arménie,2511.0,Blé,2017.0,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1.0,2944790.0,1.131815e+12,3.369650e+07,2902.090545,8.640127
1,1.0,Arménie,2513.0,Orge,2017.0,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1.0,2944790.0,4.299393e+09,1.612273e+05,2149.696700,8.061363
2,1.0,Arménie,2514.0,Maïs,2017.0,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1.0,2944790.0,7.308969e+10,2.837600e+06,3322.258536,12.898180
3,1.0,Arménie,2515.0,Seigle,2017.0,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2944790.0,1.074848e+09,3.224545e+04,inf,inf
4,1.0,Arménie,2516.0,Avoine,2017.0,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1.0,2944790.0,7.523938e+09,2.794606e+05,3761.969225,13.973029

In [45]:
# Calcul pour l'avoine : 
datapop17.loc[(datapop17['item'] == 'Avoine') & (datapop17['% prot']!=np.inf) 
          & (datapop17['% prot']!=0),['% prot']].mean()

% prot    10.250438
dtype: float64

In [46]:
# Je vérifie la colonne "% prot"
datapop17['% prot'].describe()

count    1.073300e+04
mean              inf
std               NaN
min      0.000000e+00
25%      4.894049e-01
50%      4.663332e+00
75%      1.353218e+01
max               inf
Name: % prot, dtype: float64

In [115]:
# Pour trouver les inf :
datapop17[datapop17['% prot'] > 10000000].head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,32245.4505,NaN,inf
25,1,Arménie,2561,Sésame,2017,vegetal,NaN,NaN,NaN,0.0,0.02,0.03,0.01,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.000000e+00,10748.4835,NaN,inf
27,1,Arménie,2570,"Plantes Oleiferes, Autre",2017,vegetal,NaN,0.0,NaN,0.0,0.01,0.01,0.01,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,1,2944790,0.000000e+00,10748.4835,NaN,inf
56,1,Arménie,2635,Thé,2017,vegetal,NaN,NaN,NaN,0.0,0.13,0.00,0.03,0.0,0.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.000000e+00,32245.4505,NaN,inf
57,1,Arménie,2640,Poivre,2017,vegetal,NaN,NaN,NaN,1.0,0.07,0.01,0.02,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,1.074848e+09,21496.9670,NaN,inf

In [47]:
# Les "inf" viennent d'une division par 0. En effet, la colonne "nourriture" est parfois = à 0. 
# Je remplace les inf par NaN avec la fonction replace dans la colonne "% prot" : 
datapop17['% prot'] = datapop17['% prot'].replace([np.inf, -np.inf], np.nan)

In [117]:
# Je vérifie qu'il n'y a plus de inf
datapop17[datapop17['% prot'] > 10000000]

Empty DataFrame
Columns: [country_code, country, item_code, item, year, origin, alim pour touristes, aliments pour animaux, autres utilisations (non ali), dispo ali (kcal/pers/j), dispo ali (kg/pers/an), dispo mat grasse(g/pers/jour), dispo prot (g/pers/jour), dispo intérieure (milliers de t), export-qté, import-qté, nourriture, pertes, production, résidus, semences, traitement, variation stock, Code zone, population, dispo ali (kcal/pays/an), dispo ali (kg de protéines/pays/an), ratio énergie/poids (kcal/kg), % prot]
Index: []

In [68]:
# Je vérifie à nouveau la colonne "% prot"
datapop17['% prot'].describe()

count    9527.000000
mean        6.089273
std         8.666390
min         0.000000
25%         0.320191
50%         1.668650
75%        10.600511
max       447.031409
Name: % prot, dtype: float64

In [138]:
# Je cherche là où % prot = 0 : 
datapop17[datapop17['% prot']==0]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
13,1,Arménie,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,0.0,285.0,29.45,0.00,0.0,99.0,1.0,101.0,87.0,NaN,9.0,0.0,NaN,13.0,9.0,1,2944790,3.063318e+11,0.0,3521.054940,0.0
14,1,Arménie,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,0.0,35.0,23.31,0.00,0.0,69.0,4.0,20.0,69.0,NaN,61.0,0.0,NaN,NaN,7.0,1,2944790,3.761969e+10,0.0,545.212931,0.0
28,1,Arménie,2571,Huile de Soja,2017,vegetal,NaN,NaN,NaN,5.0,0.21,0.58,0.0,1.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,0.0,0.0,1,2944790,5.374242e+09,0.0,5374.241750,0.0
30,1,Arménie,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,5.0,162.0,6.70,18.37,0.0,25.0,NaN,23.0,20.0,NaN,1.0,0.0,NaN,0.0,-1.0,1,2944790,1.741254e+11,0.0,8706.271635,0.0
35,1,Arménie,2578,Huile de Coco,2017,vegetal,NaN,NaN,NaN,5.0,0.19,0.51,0.0,1.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,0.0,0.0,1,2944790,5.374242e+09,0.0,5374.241750,0.0
45,1,Arménie,2613,Pamplemousse,2017,vegetal,NaN,NaN,NaN,0.0,0.42,0.00,0.0,1.0,0.0,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,0.000000e+00,0.0,NaN,0.0
50,1,Arménie,2618,Ananas,2017,vegetal,NaN,NaN,NaN,0.0,0.37,0.00,0.0,1.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,0.0,1,2944790,0.000000e+00,0.0,NaN,0.0
61,1,Arménie,2655,Vin,2017,vegetal,NaN,NaN,NaN,3.0,1.62,0.00,0.0,5.0,5.0,1.0,5.0,NaN,9.0,0.0,NaN,NaN,0.0,1,2944790,3.224545e+09,0.0,644.909010,0.0
64,1,Arménie,2658,Boissons Alcooliques,2017,vegetal,NaN,NaN,NaN,3.0,0.36,0.00,0.0,1.0,74.0,20.0,1.0,NaN,32.0,0.0,NaN,NaN,-23.0,1,2944790,3.224545e+09,0.0,3224.545050,0.0
105,2,Afghanistan,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,NaN,88.0,9.12,0.00,0.0,331.0,0.0,483.0,331.0,NaN,2.0,0.0,NaN,NaN,155.0,2,36296113,1.165831e+12,0.0,3522.148488,0.0
106,2,Afghanistan,2543,Edulcorants Autres,2017,vegetal,NaN,NaN,NaN,1.0,0.48,0.00,0.0,17.0,0.0,17.0,17.0,NaN,0.0,0.0,NaN,NaN,0.0,2,36296113,1.324808e+10,0.0,779.298897,0.0
118,2,Afghanistan,2563,Olives,2017,vegetal,NaN,NaN,NaN,0.0,0.07,0.03,0.0,8.0,NaN,0.0,3.0,0.0,8.0,0.0,NaN,5.0,0.0,2,36296113,0.000000e+00,0.0,NaN,0.0
120,2,Afghanistan,2571,Huile de Soja,2017,vegetal,NaN,NaN,0.0,7.0,0.30,0.83,0.0,11.0,NaN,11.0,11.0,NaN,NaN,0.0,NaN,NaN,NaN,2,36296113,9.273657e+10,0.0,8430.597156,0.0
122,2,Afghanistan,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,0.0,36.0,1.47,4.03,0.0,53.0,0.0,51.0,53.0,NaN,2.0,0.0,NaN,NaN,NaN,2,36296113,4.769309e+11,0.0,8998.696695,0.0
123,2,Afghanistan,2574,Huile de Colza&Moutarde,2017,vegetal,NaN,NaN,0.0,1.0,0.06,0.15,0.0,2.0,NaN,2.0,2.0,NaN,NaN,0.0,NaN,NaN,NaN,2,36296113,1.324808e+10,0.0,6624.040622,0.0
124,2,Afghanistan,2575,Huile Graines de Coton,2017,vegetal,NaN,NaN,1.0,3.0,0.10,0.28,0.0,5.0,NaN,0.0,4.0,NaN,6.0,NaN,NaN,NaN,1.0,2,36296113,3.974424e+10,0.0,NaN,0.0
126,2,Afghanistan,2577,Huile de Palme,2017,vegetal,NaN,NaN,79.0,45.0,1.84,5.05,0.0,146.0,0.0,175.0,67.0,NaN,NaN,0.0,NaN,NaN,29.0,2,36296113,5.961637e+11,0.0,8897.965015,0.0
128,2,Afghanistan,2579,Huile de Sésame,2017,vegetal,NaN,NaN,0.0,1.0,0.02,0.06,0.0,1.0,NaN,0.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,2,36296113,1.324808e+10,0.0,NaN,0.0
129,2,Afghanistan,2580,Huile d'Olive,2017,vegetal,NaN,NaN,0.0,0.0,0.02,0.05,0.0,1.0,NaN,0.0,1.0,NaN,1.0,0.0,NaN,NaN,NaN,2,36296113,0.000000e+00,0.0,NaN,0.0
146,2,Afghanistan,2630,Café,2017,vegetal,NaN,NaN,NaN,0.0,0.03,0.00,0.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2,36296113,0.000000e+00,0.0,NaN,0.0
169,2,Afghanistan,2745,Miel,2017,vegetal,NaN,NaN,NaN,0.0,0.04,0.00,0.0,2.0,NaN,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,2,36296113,0.000000e+00,0.0,NaN,0.0
187,3,Albanie,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,16.0,205.0,21.20,0.00,0.0,77.0,0.0,94.0,61.0,NaN,3.0,0.0,NaN,NaN,20.0,3,2884169,2.158079e+11,0.0,3537.835171,0.0
188,3,Albanie,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,NaN,20.0,16.45,0.00,0.0,47.0,2.0,57.0,47.0,NaN,0.0,0.0,NaN,NaN,7.0,3,2884169,2.105443e+10,0.0,447.966674,0.0
205,3,Albanie,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,16.0,138.0,5.70,15.62,0.0,32.0,0.0,32.0,16.0,NaN,1.0,0.0,NaN,NaN,0.0,3,2884169,1.452756e+11,0.0,9079.724533,0.0
211,3,Albanie,2580,Huile d'Olive,2017,vegetal,NaN,NaN,0.0,15.0,0.64,1.75,0.0,2.0,0.0,1.0,2.0,NaN,1.0,0.0,NaN,NaN,0.0,3,2884169,1.579083e+10,0.0,7895.412637,0.0
212,3,Albanie,2582,Huile de Germe de Maïs,2017,vegetal,NaN,NaN,NaN,7.0,0.29,0.80,0.0,1.0,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,0.0,3,2884169,7.369052e+09,0.0,7369.051795,0.0
235,3,Albanie,2655,Vin,2017,vegetal,NaN,NaN,NaN,19.0,10.06,0.00,0.0,29.0,0.0,3.0,29.0,NaN,38.0,0.0,NaN,NaN,12.0,3,2884169,2.000171e+10,0.0,689.714207,0.0
279,4,Algérie,2542,Sucre Eq Brut,2017,vegetal,0.0,NaN,422.0,257.0,26.65,0.00,0.0,1611.0,542.0,2256.0,1103.0,NaN,0.0,0.0,NaN,86.0,102.0,4,41389189,3.882513e+12,0.0,3519.957275,0.0
280,4,Algérie,2543,Edulcorants Autres,2017,vegetal,0.0,NaN,NaN,9.0,2.50,0.00,0.0,104.0,27.0,36.0,104.0,NaN,95.0,0.0,NaN,NaN,0.0,4,41389189,1.359635e+11,0.0,1307.341210,0.0
288,4,Algérie,2558,Graines Colza/Moutarde,2017,vegetal,0.0,NaN,NaN,0.0,0.00,0.00,0.0,24.0,0.0,2.0,1.0,2.0,22.0,0.0,0.0,20.0,0.0,4,41389189,0.000000e+00,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15655,276,Soudan,2745,Miel,2017,vegetal,0.0,NaN,NaN,0.0,0.02,0.00,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,276,40813397,0.000000e+00,0.0,NaN,0.0
15681,351,Chine,2535,Ignames,2017,vegetal,0.0,0.0,NaN,0.0,0.00,0.00,0.0,2.0,9.0,3.0,2.0,NaN,NaN,0.0,NaN,NaN,-8.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15682,351,Chine,2536,"Sucre, canne",2017,vegetal,0.0,6989.0,NaN,0.0,0.06,0.00,0.0,114392.0,2.0,100.0,86.0,5610.0,104906.0,0.0,NaN,101706.0,-9389.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15685,351,Chine,2542,Sucre Eq Brut,2017,vegetal,-12.0,NaN,13.0,70.0,7.23,0.00,0.0,15181.0,609.0,3529.0,10503.0,0.0,12437.0,0.0,NaN,4676.0,175.0,351,1452625244,3.711457e+13,0.0,3533.711795,0.0
15686,351,Chine,2543,Edulcorants Autres,2017,vegetal,-18.0,0.0,11.0,2.0,0.49,0.00,0.0,711.0,1762.0,890.0,718.0,NaN,1486.0,-1.0,NaN,0.0,-97.0,351,1452625244,1.060416e+12,0.0,1476.903103,0.0
15693,351,Chine,2557,Graines de tournesol,2017,vegetal,0.0,861.0,NaN,0.0,0.00,0.00,0.0,2294.0,410.0,125.0,2.0,81.0,2580.0,0.0,13.0,1337.0,0.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15694,351,Chine,2558,Graines Colza/Moutarde,2017,vegetal,0.0,2882.0,79.0,0.0,0.00,0.00,0.0,12683.0,2.0,4753.0,4.0,995.0,13292.0,0.0,287.0,8437.0,5360.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15699,351,Chine,2563,Olives,2017,vegetal,0.0,NaN,NaN,0.0,0.00,0.00,0.0,6.0,0.0,4.0,5.0,0.0,3.0,0.0,NaN,NaN,1.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15700,351,Chine,2570,"Plantes Oleiferes, Autre",2017,vegetal,0.0,279.0,1175.0,0.0,0.00,0.00,0.0,4409.0,108.0,481.0,1.0,204.0,4405.0,0.0,8.0,2742.0,369.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15701,351,Chine,2571,Huile de Soja,2017,vegetal,-2.0,0.0,12366.0,60.0,2.47,6.77,0.0,15966.0,142.0,683.0,3591.0,NaN,15834.0,0.0,NaN,11.0,410.0,351,1452625244,3.181249e+13,0.0,8858.950945,0.0
15702,351,Chine,2572,Huile d'Arachide,2017,vegetal,-1.0,0.0,1022.0,16.0,0.66,1.81,0.0,2008.0,11.0,121.0,960.0,NaN,1898.0,0.0,NaN,27.0,0.0,351,1452625244,8.483331e+12,0.0,8836.803568,0.0
15703,351,Chine,2573,Huile de Tournesol,2017,vegetal,0.0,NaN,824.0,4.0,0.18,0.49,0.0,1085.0,2.0,764.0,261.0,NaN,468.0,0.0,NaN,NaN,145.0,351,1452625244,2.120833e+12,0.0,8125.796384,0.0
15704,351,Chine,2574,Huile de Colza&Moutarde,2017,vegetal,-1.0,NaN,2592.0,31.0,1.29,3.53,0.0,4480.0,25.0,866.0,1869.0,NaN,3639.0,0.0,NaN,20.0,0.0,351,1452625244,1.643645e+13,0.0,8794.250741,0.0
15705,351,Chine,2575,Huile Graines de Coton,2017,vegetal,0.0,0.0,521.0,11.0,0.44,1.19,0.0,1154.0,1.0,0.0,633.0,NaN,1156.0,0.0,NaN,0.0,0.0,351,1452625244,5.832290e+12,0.0,9213.728838,0.0
15706,351,Chine,2576,Huile de Palmistes,2017,vegetal,0.0,0.0,546.0,2.0,0.07,0.18,0.0,643.0,0.0,616.0,97.0,NaN,28.0,0.0,NaN,0.0,0.0,351,1452625244,1.060416e+12,0.0,NaN,0.0
15707,351,Chine,2577,Huile de Palme,2017,vegetal,0.0,0.0,2685.0,44.0,1.83,5.01,0.0,5514.0,19.0,5303.0,2658.0,106.0,230.0,0.0,NaN,66.0,0.0,351,1452625244,2.332916e+13,0.0,8776.960654,0.0
15708,351,Chine,2578,Huile de Coco,2017,vegetal,0.0,0.0,2.0,2.0,0.10,0.26,0.0,142.0,0.0,142.0,140.0,NaN,0.0,0.0,NaN,0.0,0.0,351,1452625244,1.060416e+12,0.0,7574.403058,0.0
15709,351,Chine,2579,Huile de Sésame,2017,vegetal,0.0,NaN,1.0,5.0,0.20,0.55,0.0,290.0,11.0,8.0,290.0,NaN,300.0,0.0,NaN,NaN,7.0,351,1452625244,2.651041e+12,0.0,9141.520932,0.0
15710,351,Chine,2580,Huile d'Olive,2017,vegetal,0.0,NaN,6.0,1.0,0.03,0.09,0.0,52.0,1.0,55.0,46.0,NaN,NaN,0.0,NaN,NaN,3.0,351,1452625244,5.302082e+11,0.0,NaN,0.0
15711,351,Chine,2581,Huile de Son de Riz,2017,vegetal,0.0,NaN,NaN,2.0,0.08,0.21,0.0,110.0,0.0,0.0,110.0,NaN,110.0,NaN,NaN,NaN,NaN,351,1452625244,1.060416e+12,0.0,NaN,0.0
15712,351,Chine,2582,Huile de Germe de Maïs,2017,vegetal,0.0,NaN,NaN,7.0,0.29,0.79,0.0,421.0,12.0,8.0,421.0,NaN,426.0,0.0,NaN,NaN,1.0,351,1452625244,3.711457e+12,0.0,8815.813535,0.0
15713,351,Chine,2586,Huil Plantes Oleif Autr,2017,vegetal,-1.0,NaN,1109.0,2.0,0.10,0.27,0.0,1248.0,138.0,565.0,141.0,NaN,830.0,-1.0,NaN,NaN,9.0,351,1452625244,1.060416e+12,0.0,7520.683887,0.0
15725,351,Chine,2619,Dattes,2017,vegetal,0.0,NaN,0.0,1.0,0.11,0.00,0.0,171.0,0.0,9.0,162.0,9.0,162.0,0.0,NaN,NaN,NaN,351,1452625244,5.302082e+11,0.0,3272.890210,0.0
15733,351,Chine,2642,Girofles,2017,vegetal,0.0,NaN,NaN,0.0,0.00,0.00,0.0,1.0,0.0,0.0,1.0,NaN,1.0,0.0,NaN,NaN,0.0,351,1452625244,0.000000e+00,0.0,NaN,0.0
15735,351,Chine,2655,Vin,2017,vegetal,-3.0,NaN,1.0,4.0,1.88,0.00,0.0,2725.0,35.0,835.0,2726.0,NaN,1929.0,0.0,NaN,NaN,4.0,351,1452625244,2.120833e+12,0.0,778.001781,0.0
15738,351,Chine,2658,Boissons Alcooliques,2017,vegetal,-1.0,NaN,2501.0,43.0,5.32,0.00,0.0,10232.0,40.0,134.0,7732.0,NaN,10137.0,0.0,NaN,NaN,0.0,351,1452625244,2.279895e+13,0.0,2948.648888,0.0
15747,351,Chine,2737,Graisses Animales Crue,2017,animal,0.0,10.0,1416.0,39.0,1.70,4.39,0.0,4035.0,16.0,238.0,2470.0,5.0,3812.0,134.0,NaN,NaN,0.0,351,1452625244,2.067812e+13,0.0,8371.708643,0.0
15748,351,Chine,2740,"Beurre, Ghee",2017,animal,0.0,0.0,0.0,2.0,0.09,0.28,0.0,129.0,1.0,84.0,129.0,NaN,46.0,0.0,NaN,NaN,NaN,351,1452625244,1.060416e+12,0.0,8220.282389,0.0
15751,351,Chine,2745,Miel,2017,vegetal,0.0,NaN,0.0,2.0,0.28,0.00,0.0,432.0,133.0,16.0,402.0,29.0,549.0,0.0,NaN,NaN,1.0,351,1452625244,1.060416e+12,0.0,2637.851811,0.0
15760,351,Chine,2775,Plantes Aquatiques,2017,animal,NaN,NaN,17988.0,0.0,0.00,0.00,0.0,17990.0,25.0,276.0,1.0,NaN,17738.0,NaN,NaN,NaN,NaN,351,1452625244,0.000000e+00,0.0,NaN,0.0

In [139]:
# Je prends une ligne pour exemple (Arménie, Sucre Eq Brut)
datapop17.iloc[13]

country_code                                       1
country                                      Arménie
item_code                                       2542
item                                   Sucre Eq Brut
year                                            2017
origin                                       vegetal
alim pour touristes                              NaN
aliments pour animaux                            NaN
autres utilisations (non ali)                      0
dispo ali (kcal/pers/j)                          285
dispo ali (kg/pers/an)                         29.45
dispo mat grasse(g/pers/jour)                      0
dispo prot (g/pers/jour)                           0
dispo intérieure (milliers de t)                  99
export-qté                                         1
import-qté                                       101
nourriture                                        87
pertes                                           NaN
production                                         9
résidus                                            0
semences                                         NaN
traitement                                        13
variation stock                                    9
Code zone                                          1
population                                   2944790
dispo ali (kcal/pays/an)                 3.06332e+11
dispo ali (kg de protéines/pays/an)                0
ratio énergie/poids (kcal/kg)                3521.05
% prot                                             0
Name: 13, dtype: object

In [48]:
# Par ex. en Arménie (index 13) pour le sucre eq brut : disponibilité de protéines en quantité (g/personne/jour) = 0. 
# Je remplace donc les valeurs = 0 par NaN : 
datapop17['% prot'] = datapop17['% prot'].replace(0, np.nan)

In [141]:
# Je vérifie :
datapop17.iloc[13]

country_code                                       1
country                                      Arménie
item_code                                       2542
item                                   Sucre Eq Brut
year                                            2017
origin                                       vegetal
alim pour touristes                              NaN
aliments pour animaux                            NaN
autres utilisations (non ali)                      0
dispo ali (kcal/pers/j)                          285
dispo ali (kg/pers/an)                         29.45
dispo mat grasse(g/pers/jour)                      0
dispo prot (g/pers/jour)                           0
dispo intérieure (milliers de t)                  99
export-qté                                         1
import-qté                                       101
nourriture                                        87
pertes                                           NaN
production                                         9
résidus                                            0
semences                                         NaN
traitement                                        13
variation stock                                    9
Code zone                                          1
population                                   2944790
dispo ali (kcal/pays/an)                 3.06332e+11
dispo ali (kg de protéines/pays/an)                0
ratio énergie/poids (kcal/kg)                3521.05
% prot                                           NaN
Name: 13, dtype: object

La ratio a bien été modifié : % prot = NaN

In [119]:
# Nouvelle vérification de la colonne : 
datapop17['% prot'].describe()

count    7440.000000
mean        7.797380
std         9.102567
min         0.005317
25%         1.082432
50%         6.699200
75%        12.023046
max       447.031409
Name: % prot, dtype: float64

Le max est > à 100 ce qui est impossible.

In [120]:
# Je cherche les % > 100
datapop17[datapop17['% prot']>100]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
10444,165,Pakistan,2740,"Beurre, Ghee",2017,animal,0.0,NaN,NaN,92.0,0.01,10.41,0.03,2.0,0.0,1.0,2.0,NaN,1.0,0.0,NaN,NaN,NaN,165,207906208,6.981490e+12,2.276573e+06,NaN,113.828649
12087,194,Arabie saoudite,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,29.0,0.02,2.58,0.37,1.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,0.0,0.0,194,33101178,3.503760e+11,4.470314e+06,NaN,447.031409

2 lignes sont concernées. 
Par ex :     
Index 10444 : % de prot = 113. Dispo prot (g/pers/jour) = 0.03 => non significatif.  
Pour l'autre ligne concernée (index 12087), je n'ai pas d'explication (erreur dans les données ?).

In [49]:
# Je ne conserve que les valeurs < 100% 
datapop17['% prot'].mask(datapop17['% prot']>100, np.nan, inplace=True)

In [48]:
# Je vérifie avec un exemple 
datapop17.iloc[10444]

country_code                                    165
country                                    Pakistan
item_code                                      2740
item                                   Beurre, Ghee
year                                           2017
origin                                       animal
alim pour touristes                               0
aliments pour animaux                           NaN
autres utilisations (non ali)                   NaN
dispo ali (kcal/pers/j)                          92
dispo ali (kg/pers/an)                         0.01
dispo mat grasse(g/pers/jour)                 10.41
dispo prot (g/pers/jour)                       0.03
dispo intérieure (milliers de t)                  2
export-qté                                        0
import-qté                                        1
nourriture                                        2
pertes                                          NaN
production                                        1
résidus                                           0
semences                                        NaN
traitement                                      NaN
variation stock                                 NaN
Code zone                                       165
population                                207906208
dispo ali (kcal/pays/an)                6.98149e+12
dispo ali (kg de protéines/pays/an)     2.27657e+06
ratio énergie/poids (kcal/kg)                   NaN
% prot                                          NaN
Name: 10444, dtype: object

In [49]:
datapop17['% prot'].describe()

count    7438.000000
mean        7.724072
std         7.444493
min         0.005317
25%         1.082338
50%         6.697740
75%        12.016828
max        71.732930
Name: % prot, dtype: float64

In [54]:
# Je vérifie la cohérence des valeurs minimales : 
datapop17[datapop17['% prot']<0.1]

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
560,9,Argentine,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,1.0,61.0,6.64,0.00,0.01,297.0,89.0,34.0,292.0,NaN,366.0,0.0,NaN,5.0,14.0,9,43937140,9.782604e+11,1.603706e+05,3350.206925,0.054921
1271,20,Botswana,2617,Pommes,2017,vegetal,0.0,NaN,NaN,6.0,4.15,0.03,0.01,9.0,0.0,9.0,9.0,NaN,NaN,0.0,NaN,NaN,0.0,20,2205080,4.829125e+09,8.048542e+03,536.569467,0.089428
1285,20,Botswana,2657,Boissons Fermentés,2017,vegetal,0.0,NaN,NaN,11.0,8.23,0.00,0.02,18.0,0.0,40.0,18.0,NaN,0.0,0.0,NaN,NaN,22.0,20,2205080,8.853396e+09,1.609708e+04,491.855344,0.089428
1327,21,Brésil,2536,"Sucre, canne",2017,vegetal,NaN,6722.0,319603.0,12.0,15.58,0.09,0.04,758548.0,0.0,NaN,3238.0,83476.0,758548.0,0.0,NaN,345510.0,NaN,21,207833823,9.103121e+11,3.034374e+06,281.134078,0.093711
1903,33,Canada,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,11.0,93.0,59.63,0.00,0.01,2601.0,424.0,1013.0,2190.0,NaN,2119.0,0.0,NaN,400.0,107.0,33,36732095,1.246871e+12,1.340721e+05,569.347472,0.006122
2979,52,Azerbaïdjan,2617,Pommes,2017,vegetal,NaN,NaN,0.0,18.0,14.77,0.10,0.04,186.0,82.0,2.0,145.0,28.0,275.0,0.0,NaN,13.0,8.0,52,9845320,6.468375e+10,1.437417e+05,446.094844,0.099132
4121,68,France,2657,Boissons Fermentés,2017,vegetal,NaN,NaN,NaN,10.0,7.98,0.00,0.02,519.0,42.0,17.0,517.0,2.0,559.0,0.0,NaN,NaN,15.0,68,64842509,2.366752e+11,4.733503e+05,457.785605,0.091557
4634,79,Allemagne,2574,Huile de Colza&Moutarde,2017,vegetal,NaN,887.0,1629.0,131.0,5.14,14.82,0.01,2984.0,1128.0,231.0,425.0,NaN,3979.0,0.0,NaN,43.0,98.0,79,82658409,3.952312e+12,3.017032e+05,9299.557238,0.070989
5719,98,Croatie,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,0.0,89.0,24.72,0.00,0.05,104.0,234.0,324.0,103.0,NaN,79.0,0.0,NaN,0.0,65.0,98,4182857,1.358801e+11,7.633714e+04,1319.224365,0.074114
6348,104,Irlande,2737,Graisses Animales Crue,2017,animal,NaN,NaN,24.0,112.0,5.93,12.41,0.01,7.0,117.0,59.0,28.0,3.0,81.0,-48.0,NaN,0.0,16.0,104,4753279,1.943140e+11,1.734947e+04,6939.787340,0.061962
7075,113,Kirghizistan,2617,Pommes,2017,vegetal,NaN,21.0,NaN,24.0,18.44,0.15,0.05,149.0,7.0,8.0,114.0,3.0,148.0,0.0,NaN,11.0,0.0,113,6189733,5.422206e+10,1.129626e+05,475.632115,0.099090
7223,115,Cambodge,2536,"Sucre, canne",2017,vegetal,0.0,27.0,169.0,7.0,8.43,0.05,0.02,687.0,0.0,0.0,135.0,37.0,687.0,NaN,41.0,278.0,NaN,115,16009409,4.090404e+10,1.168687e+05,302.992889,0.086569
8356,131,Malaisie,2577,Huile de Palme,2017,vegetal,NaN,NaN,415.0,182.0,7.01,20.53,0.01,6270.0,13689.0,553.0,218.0,102.0,19919.0,0.0,NaN,5534.0,513.0,131,31104646,2.066282e+12,1.135320e+05,9478.356118,0.052079
8902,138,Mexique,2571,Huile de Soja,2017,vegetal,0.0,NaN,0.0,120.0,4.29,13.62,0.01,625.0,26.0,231.0,535.0,NaN,420.0,NaN,NaN,90.0,NaN,138,124777324,5.465247e+12,4.554372e+05,NaN,0.085128
9785,154,Macédoine du Nord,2737,Graisses Animales Crue,2017,animal,NaN,NaN,1.0,76.0,3.85,8.45,0.01,8.0,0.0,3.0,8.0,0.0,5.0,0.0,NaN,NaN,0.0,154,2081996,5.775457e+10,7.599285e+03,7219.321130,0.094991
10478,166,Panama,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,0.0,42.0,24.36,0.00,0.01,100.0,2.0,119.0,100.0,NaN,5.0,0.0,NaN,0.0,22.0,166,4106769,6.295677e+10,1.498971e+04,629.567688,0.014990
10574,167,Tchéquie (la),2543,Edulcorants Autres,2017,vegetal,NaN,0.0,71.0,48.0,29.54,0.00,0.02,537.0,507.0,464.0,314.0,NaN,604.0,0.0,NaN,152.0,24.0,167,10641034,1.864309e+11,7.767955e+04,593.729031,0.024739
10610,167,Tchéquie (la),2617,Pommes,2017,vegetal,NaN,NaN,NaN,15.0,12.07,0.09,0.03,141.0,52.0,129.0,128.0,11.0,105.0,0.0,NaN,2.0,41.0,167,10641034,5.825966e+10,1.165193e+05,455.153603,0.091031
11003,173,Pologne,2657,Boissons Fermentés,2017,vegetal,NaN,NaN,NaN,10.0,7.99,0.00,0.02,303.0,22.0,4.0,303.0,NaN,227.0,0.0,NaN,NaN,-94.0,173,37953180,1.385291e+11,2.770582e+05,457.191772,0.091438
11464,183,Roumanie,2737,Graisses Animales Crue,2017,animal,NaN,NaN,55.0,127.0,4.95,14.12,0.01,158.0,8.0,43.0,97.0,0.0,137.0,0.0,NaN,5.0,14.0,183,19653968,9.110597e+11,7.173698e+04,9392.367904,0.073956
12420,199,Slovaquie,2543,Edulcorants Autres,2017,vegetal,NaN,0.0,6.0,162.0,68.68,0.00,0.01,382.0,253.0,404.0,374.0,NaN,215.0,0.0,NaN,2.0,-15.0,199,5447900,3.221343e+11,1.988483e+04,861.321730,0.005317
12919,209,Eswatini,2618,Ananas,2017,vegetal,NaN,NaN,NaN,15.0,31.90,0.02,0.08,-15.0,93.0,2.0,36.0,2.0,91.0,-53.0,NaN,NaN,15.0,209,1124805,6.158307e+09,3.284431e+04,171.064094,0.091234
13665,221,Oman,2617,Pommes,2017,vegetal,NaN,NaN,NaN,7.0,5.02,0.04,0.01,23.0,1.0,24.0,23.0,NaN,NaN,0.0,NaN,NaN,0.0,221,4665928,1.192145e+10,1.703064e+04,518.323741,0.074046
14745,237,Viet Nam,2536,"Sucre, canne",2017,vegetal,0.0,2209.0,1010.0,9.0,11.63,0.06,0.03,22693.0,1.0,0.0,1100.0,982.0,18356.0,NaN,202.0,17190.0,-4337.0,237,94600648,3.107631e+11,1.035877e+06,282.511935,0.094171
14748,237,Viet Nam,2543,Edulcorants Autres,2017,vegetal,0.0,NaN,NaN,27.0,7.91,0.00,0.01,748.0,103.0,852.0,748.0,NaN,0.0,NaN,NaN,0.0,1.0,237,94600648,9.322894e+11,3.452924e+05,1246.376185,0.046162
15362,256,Luxembourg,2655,Vin,2017,vegetal,NaN,NaN,NaN,108.0,54.27,0.00,0.01,32.0,8.0,36.0,32.0,NaN,8.0,0.0,NaN,NaN,4.0,256,591910,2.333309e+10,2.160472e+03,729.159131,0.006751

Cela semble cohérent. Il y a des aliments très pauvres en protéines. Voir ici par ex :http://www.monmenu.fr/s/Les-aliments-contenant-entre-0-et-15-gr-de-proteines-pid194

In [50]:
# Nouvelle vérification avec l'avoine. Rappel : teneur en protéines de l'avoine : 10.70g par 100g soit 10.7%  
datapop17[datapop17['item']=='Avoine'].mean().filter(['% prot'])

% prot    10.250438
dtype: float64

On obtient 10,25% pour l'avoine.

# <font color='#FFCA36'>Question 5</font>

## 1. Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.

##### Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.

In [51]:
# Moyenne ratio énergie/poids par item
datapop17.groupby('item').mean().filter(['ratio énergie/poids (kcal/kg)']).sort_values(by = 'ratio énergie/poids (kcal/kg)',ascending=False).head(20)

                          ratio énergie/poids (kcal/kg)
item
Huile de Son de Riz                         8862.471327
Huiles de Poissons                          8846.271434
Huile de Palme                              8727.925644
Huile de Soja                               8698.732421
Huile de Colza&Moutarde                     8629.401680
Huile de Tournesol                          8609.788087
Huile de Sésame                             8578.590204
Huile Graines de Coton                      8505.766067
Huile d'Arachide                            8485.630416
Huile de Palmistes                          8440.727110
Huile de Germe de Maïs                      8347.919490
Huile d'Olive                               8225.913563
Huile de Coco                               8045.393632
Graisses Animales Crue                      7774.978698
Huil Plantes Oleif Autr                     7314.976469
Beurre, Ghee                                7170.246196
Feve de Cacao                               6657.763498
Sésame                                      5797.435392
Plantes Oleiferes, Autre                    4576.460326
Graines Colza/Moutarde                      4555.927854

Les 5 aliments les plus caloriques d'après mon df sont des huiles :  
- Huile de Son de Riz 
- Huiles de Poissons 
- Huile de Palme 
- Huile de Soja 
- Huile de Colza&Moutarde

## 2. 5 aliments parmi les 20 aliments les plus riches en protéines.

In [52]:
# Je fais un group by sur la colonne "item" en filtrant sur la colonne "% prot":
aliprot = datapop17.groupby(['item', 'item_code']).mean().filter(['% prot']).reset_index().sort_values(by = '% prot',ascending=False)

In [53]:
aliprot.head()

                      item  item_code     % prot
27  Graines Colza/Moutarde       2558  29.616618
24           Feve de Cacao       2633  29.422385
81                    Soja       2555  24.493480
70                    Pois       2547  22.742823
31                Haricots       2546  21.944998

Réponse à la question "Citez 5 aliments parmi les 20 aliments les plus riches en protéines":   
- Graines Colza/Moutarde
- Feve de Cacao   
- Soja
- Pois  
- Haricots

# <font color='#FFCA36'>Question 6</font>

##### Donnez les résultats des questions 6 à 14 pour l'année 2013 ainsi que pour la dernière année disponible dans les données de la FAO (actuellement 2017).

## Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

disponibilité intérieure mondiale en kcal = ratio énergie/poids (kcal/kg) x dispo intérieure (milliers de t) x 1 000 000

## 1. Pour 2013 : calcul de la disponibilité intérieure mondiale exprimée en kcal pour les produits végétaux uniquement

In [54]:
# Import des données des bilans alimentaires 2013
veg13 = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/veg13.csv")
ani13 = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/ani13.csv")

In [55]:
# Ajout de la variable origin
ani13["origin"] = "animal"
veg13["origin"] = "vegetal"

In [56]:
# On regroupe veg13 et ani13 en un unique dataframe, via une union
temp13 = ani13.append(veg13)

In [57]:
temp13.columns = ["xx","xx2","country_code","country","xx3","element","item_code","item","xx4","year","unit","value","origin"]

In [155]:
# Vérification
temp13.head()

,xx,xx2,country_code,country,xx3,element,item_code,item,xx4,year,unit,value,origin
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,animal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,animal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,animal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,animal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,animal

In [58]:
# Transformation de temp13 en table pivot
data13 = temp13.pivot_table(index=["country_code","country","item_code","item","year","origin"],columns = ["element"], 
values=["value"], aggfunc=sum)

In [157]:
data13.head()

                                                                   value  \
element                                            Aliments pour animaux
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                  93.0
                     2513      Orge   2013 vegetal                 137.0
                     2514      Maïs   2013 vegetal                  96.0
                     2515      Seigle 2013 vegetal                   1.0
                     2516      Avoine 2013 vegetal                   4.0

                                                                                          \
element                                            Autres utilisations (non alimentaire)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                   0.0
                     2513      Orge   2013 vegetal                                  26.0
                     2514      Maïs   2013 vegetal                                   NaN
                     2515      Seigle 2013 vegetal                                   NaN
                     2516      Avoine 2013 vegetal                                   NaN

                                                                                                   \
element                                            Disponibilité alimentaire (Kcal/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                         1024.0
                     2513      Orge   2013 vegetal                                            0.0
                     2514      Maïs   2013 vegetal                                            0.0
                     2515      Seigle 2013 vegetal                                            1.0
                     2516      Avoine 2013 vegetal                                            2.0

                                                                                                           \
element                                            Disponibilité alimentaire en quantité (kg/personne/an)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                             130.60
                     2513      Orge   2013 vegetal                                               0.00
                     2514      Maïs   2013 vegetal                                               0.03
                     2515      Seigle 2013 vegetal                                               0.12
                     2516      Avoine 2013 vegetal                                               0.37

                                                                                                                  \
element                                            Disponibilité de matière grasse en quantité (g/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                               3.60
                     2513      Orge   2013 vegetal                                               0.00
                     2514      Maïs   2013 vegetal                                                NaN
                     2515      Seigle 2013 vegetal                                               0.00
                     2516      Avoine 2013 vegetal                                               0.03

                                                                                                             \
element                                            Disponibilité de protéines en quantité (g/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                              30.52
                     2513      Orge   2013 vegetal                                               0.00
                     2514      Maïs   2013 vegetal                                               0.01
                     2515      Seigle 2013 vegetal                                               0.02
                     2516      Avoine 2013 vegetal                                               0.09

                                                                             \
element                                            Disponibilité intérieure
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                    554.0
                     2513      Orge   2013 vegetal                    198.0
                     2514      Maïs   2013 vegetal                    102.0
                     2515      Seigle 2013 vegetal                      1.0
                     2516      Avoine 2013 vegetal                      6.0

                                                                            \
element                                            Exportations - Quantité
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                     1.0
                     2513      Orge   2013 vegetal                     0.0
                     2514      Maïs   2013 vegetal                     NaN
                     2515      Seigle 2013 vegetal                     NaN
                     2516      Avoine 2013 vegetal                     NaN

                                                                            \
element                                            Importations - Quantité
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                   361.0
                     2513      Orge   2013 vegetal                     9.0
                     2514      Maïs   2013 vegetal                    82.0
                     2515      Seigle 2013 vegetal                     0.0
                     2516      Avoine 2013 vegetal                     1.0

                                                                      \
element                                            Nourriture Pertes
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal      389.0   32.0
                     2513      Orge   2013 vegetal        0.0   15.0
                     2514      Maïs   2013 vegetal        0.0    7.0
                     2515      Seigle 2013 vegetal        0.0    0.0
                     2516      Avoine 2013 vegetal        1.0    0.0

                                                                        \
element                                            Production Semences
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal      312.0     30.0
                     2513      Orge   2013 vegetal      189.0     14.0
                     2514      Maïs   2013 vegetal       21.0      0.0
                     2515      Seigle 2013 vegetal        1.0      0.0
                     2516      Avoine 2013 vegetal        5.0      0.0

                                                               \
element                                            Traitement
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal       10.0
                     2513      Orge   2013 vegetal        7.0
                     2514      Maïs   2013 vegetal        NaN
                     2515      Seigle 2013 vegetal        NaN
                     2516      Avoine 2013 vegetal        NaN


element                                            Variation de stock
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal             -118.0
                     2513      Orge   2013 vegetal                0.0
                     2514      Maïs   2013 vegetal                NaN
                     2515      Seigle 2013 vegetal                0.0
                     2516      Avoine 2013 vegetal                NaN

In [59]:
# On renomme les colonnes
data13.columns = ['aliments pour animaux','autres utilisations (non ali)',
                'dispo ali (kcal/pers/j)','dispo ali (kg/pers/an)',
                'dispo mat grasse(g/pers/jour)',
                'dispo prot (g/pers/jour)','dispo intérieure (milliers de t)', 'export-qté',
                'import-qté','nourriture','pertes', 'production','semences','traitement','variation stock']

In [60]:
data13 = data13.reset_index()

In [61]:
data13.shape

(15702, 21)

In [62]:
# Je retire les occurrences de la Chine

In [63]:
data13 = data13[data13["country"]!="Chine - RAS de Hong-Kong"]

In [64]:
data13 = data13[data13["country"]!="Chine - RAS de Macao"]

In [65]:
data13 = data13[data13["country"]!="Chine, continentale"]

In [66]:
data13 = data13[data13["country"]!="Chine, Taiwan Province de"]

In [67]:
data13.shape

(15325, 21)

#### Création de data13veg : seule l'origine végétale est conservée, suppression de l'origine animale.

In [68]:
# Je créé data13veg en retirant l'origine animale de data13 : 
data13veg = data13[data13["origin"]=='vegetal']

In [69]:
data13veg.shape

(11682, 21)

In [70]:
# Je prépare la jointure entre data2013veg et pop2013
# Dans pop, je conserve l'année 2013
pop2013 = pop[pop["Année"]==2013]

In [171]:
pop2013.head()

,Code zone,Zone,Élément,Année,Unité,Valeur
0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589
3,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121
6,3,Albanie,Population totale,2013,1000 personnes,2903.790
9,4,Algérie,Population totale,2013,1000 personnes,38140.133
12,79,Allemagne,Population totale,2013,1000 personnes,81174.367

In [74]:
# Je supprime l'index pour pouvoir faire l'opération de la cellule suivante
pop2013 = pop2013.reset_index()

In [75]:
# Je créé la colonne population
pop2013['population'] = pop2013['Valeur'] * 1000

In [76]:
pop2013.head()

,index,Code zone,Zone,Élément,Année,Unité,Valeur,population
0,0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589,32269589.0
1,3,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121,53687121.0
2,6,3,Albanie,Population totale,2013,1000 personnes,2903.790,2903790.0
3,9,4,Algérie,Population totale,2013,1000 personnes,38140.133,38140133.0
4,12,79,Allemagne,Population totale,2013,1000 personnes,81174.367,81174367.0

In [77]:
pop2013.drop('index',axis=1)

,Code zone,Zone,Élément,Année,Unité,Valeur,population
0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589,32269589.0
1,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121,53687121.0
2,3,Albanie,Population totale,2013,1000 personnes,2903.790,2903790.0
3,4,Algérie,Population totale,2013,1000 personnes,38140.133,38140133.0
4,79,Allemagne,Population totale,2013,1000 personnes,81174.367,81174367.0
5,6,Andorre,Population totale,2013,1000 personnes,80.774,80774.0
6,7,Angola,Population totale,2013,1000 personnes,26015.781,26015781.0
7,258,Anguilla,Population totale,2013,1000 personnes,13.954,13954.0
8,8,Antigua-et-Barbuda,Population totale,2013,1000 personnes,91.516,91516.0
9,151,Antilles néerlandaises (ex),Population totale,2013,1000 personnes,263.872,263872.0
10,194,Arabie saoudite,Population totale,2013,1000 personnes,30052.059,30052059.0
11,9,Argentine,Population totale,2013,1000 personnes,42196.030,42196030.0
12,1,Arménie,Population totale,2013,1000 personnes,2897.588,2897588.0
13,22,Aruba,Population totale,2013,1000 personnes,103.159,103159.0
14,10,Australie,Population totale,2013,1000 personnes,23254.913,23254913.0
15,11,Autriche,Population totale,2013,1000 personnes,8556.189,8556189.0
16,52,Azerbaïdjan,Population totale,2013,1000 personnes,9385.468,9385468.0
17,12,Bahamas,Population totale,2013,1000 personnes,367.169,367169.0
18,13,Bahreïn,Population totale,2013,1000 personnes,1315.028,1315028.0
19,16,Bangladesh,Population totale,2013,1000 personnes,152761.418,152761418.0
20,14,Barbade,Population totale,2013,1000 personnes,284.296,284296.0
21,57,Bélarus,Population totale,2013,1000 personnes,9423.506,9423506.0
22,255,Belgique,Population totale,2013,1000 personnes,11154.009,11154009.0
23,23,Belize,Population totale,2013,1000 personnes,345.715,345715.0
24,53,Bénin,Population totale,2013,1000 personnes,10004.591,10004591.0
25,17,Bermudes,Population totale,2013,1000 personnes,64.386,64386.0
26,18,Bhoutan,Population totale,2013,1000 personnes,710.237,710237.0
27,19,Bolivie (État plurinational de),Population totale,2013,1000 personnes,10542.377,10542377.0
28,278,"Bonaire, Sint Eustatius et Saba",Population totale,2013,1000 personnes,23.505,23505.0
29,80,Bosnie-Herzégovine,Population totale,2013,1000 personnes,3542.606,3542606.0
...,...,...,...,...,...,...,...
207,199,Slovaquie,Population totale,2013,1000 personnes,5421.725,5421725.0
208,198,Slovénie,Population totale,2013,1000 personnes,2063.110,2063110.0
209,201,Somalie,Population totale,2013,1000 personnes,13063.701,13063701.0
210,276,Soudan,Population totale,2013,1000 personnes,37072.550,37072550.0
211,277,Soudan du Sud,Population totale,2013,1000 personnes,10355.035,10355035.0
212,38,Sri Lanka,Population totale,2013,1000 personnes,20663.046,20663046.0
213,210,Suède,Population totale,2013,1000 personnes,9618.016,9618016.0
214,211,Suisse,Population totale,2013,1000 personnes,8108.878,8108878.0
215,207,Suriname,Population totale,2013,1000 personnes,547.291,547291.0
216,208,Tadjikistan,Population totale,2013,1000 personnes,8059.769,8059769.0
217,39,Tchad,Population totale,2013,1000 personnes,13220.433,13220433.0
218,167,Tchéquie (la),Population totale,2013,1000 personnes,10586.533,10586533.0
219,216,Thaïlande,Population totale,2013,1000 personnes,68144.518,68144518.0
220,176,Timor-Leste,Population totale,2013,1000 personnes,1153.294,1153294.0
221,217,Togo,Population totale,2013,1000 personnes,6954.722,6954722.0
222,218,Tokélaou,Population totale,2013,1000 personnes,1.187,1187.0
223,219,Tonga,Population totale,2013,1000 personnes,101.768,101768.0
224,220,Trinité-et-Tobago,Population totale,2013,1000 personnes,1353.703,1353703.0
225,222,Tunisie,Population totale,2013,1000 personnes,10952.951,10952951.0
226,213,Turkménistan,Population totale,2013,1000 personnes,5366.378,5366378.0
227,223,Turquie,Population totale,2013,1000 personnes,75925.462,75925462.0
228,227,Tuvalu,Population totale,2013,1000 personnes,10.857,10857.0
229,230,Ukraine,Population totale,2013,1000 personnes,45286.983,45286983.0
230,234,Uruguay,Population totale,2013,1000 personnes,3389.443,3389443.0
231,155,Vanuatu,Population totale,2013,1000 personnes,256.635,256635.0
232,236,Venezuela (République bolivarienne du),Population totale,2013,1000 personnes,29781.040,29781040.0
233,237,Viet Nam,Population totale,2013,1000 personnes,90752.592,90752592.0
234,249,Yémen,Population totale,2013,1000 personnes,25147.109,25147109.0
235,251,Zambie,Population totale,2013,1000 personnes,14926.544,14926544.0
236,181,Zimbabwe,Population totale,2013,1000 personnes,13350.373,13350373.0

In [78]:
# Je modifie le type de population en entier
pop2013 = pop2013.astype({'population':'int'})

In [79]:
# Je garde les colonnes utiles pour la jointure
pop2013 = pop2013[['Code zone','population']]

In [85]:
# Jointure entre data2013veg et pop2013
datapop13veg = pd.merge(data13veg, pop2013, left_on=['country_code'], right_on=['Code zone'])

In [86]:
datapop13veg.shape

(11682, 23)

In [179]:
datapop13veg.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation stock,Code zone,population
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,1,2897587
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,1,2897587
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1,2897587
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,1,2897587

In [88]:
# Besoin du ratio énergie/poids. 
# Je créé un df temporaire ratio énergie/poids à partir du ratio calculé plus haut afin d'ensuite faire une jointure avec 
# datapop13veg :
dfREP = datapop17.groupby('item').mean()

In [181]:
# Vérification
dfREP.head()

,country_code,item_code,year,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
item,,,,,,,,,,,,,,,,,,,,,,,,,,
Abats Comestible,128.130178,2736.0,2017.0,-0.240000,19.155172,25.697674,7.875740,2.527751,0.233550,1.225680,114.359281,51.094828,31.800000,99.449102,2.834646,119.590361,-2.976048,0.0,24.470588,4.210526,128.130178,4.360226e+07,1.098840e+11,1.770108e+07,1146.076259,17.339436
"Agrumes, Autres",127.845238,2614.0,2017.0,0.000000,0.000000,3.250000,0.869048,0.906845,0.004940,0.014048,80.602410,4.761538,2.543750,69.566265,18.000000,131.423077,-1.270833,0.0,28.000000,0.605263,127.845238,4.385440e+07,1.940804e+10,3.302433e+05,607.507777,0.792083
"Alcool, non Comestible",127.054217,2659.0,2017.0,0.000000,0.000000,102.063830,NaN,0.000000,NaN,NaN,85.204819,75.754098,65.521212,0.000000,0.000000,130.877551,-1.487952,0.0,NaN,1.960317,127.054217,4.410234e+07,NaN,NaN,NaN,NaN
Aliments pour enfants,128.130178,2680.0,2017.0,-0.013333,0.000000,0.000000,2.918750,0.291438,0.022750,0.121250,0.664671,11.504505,8.054217,5.594937,0.000000,10.200000,-5.893130,0.0,NaN,-0.025424,128.130178,4.360226e+07,1.988473e+10,8.489274e+05,3659.642903,14.168066
Ananas,128.130178,2618.0,2017.0,0.250000,0.000000,0.400000,3.544379,3.746272,0.011006,0.025503,136.544910,70.467626,36.035928,125.095808,37.714286,268.574257,-13.381818,0.0,9.500000,4.411290,128.130178,4.360226e+07,4.027262e+10,3.139004e+05,483.267922,0.325207

In [89]:
# Suppression de l'index
dfREP = dfREP.reset_index()

In [90]:
# Je ne conserve que les colonnes utiles
dfREP = dfREP[['item','item_code','ratio énergie/poids (kcal/kg)']]

In [91]:
dfREP.head()

                     item  item_code  ratio énergie/poids (kcal/kg)
0        Abats Comestible     2736.0                    1146.076259
1         Agrumes, Autres     2614.0                     607.507777
2  Alcool, non Comestible     2659.0                            NaN
3   Aliments pour enfants     2680.0                    3659.642903
4                  Ananas     2618.0                     483.267922

In [92]:
# Le type item_code a été transformé en float :
dfREP.dtypes

item                              object
item_code                        float64
ratio énergie/poids (kcal/kg)    float64
dtype: object

In [93]:
# Je le remets en int :
dfREP = dfREP.astype({'item_code':'int'})

In [99]:
# Jointure sur item_code pour avoir le ratio Energie/poids
datapop13veg = pd.merge(datapop13veg, dfREP, how='left')

In [100]:
# Suppression du df temporaire
del dfREP

In [102]:
# Création de la colonne dispo intérieure (kcal) pour ensuite calculer la disponibilité intérieure mondiale en kcal : 
datapop13veg['dispo intérieure (kcal)'] = \
datapop13veg['ratio énergie/poids (kcal/kg)']* datapop13veg['dispo intérieure (milliers de t)'] * 1000000

In [103]:
datapop13veg.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation stock,Code zone,population,ratio énergie/poids (kcal/kg),dispo intérieure (kcal)
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587,2968.265470,1.644419e+12
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,1,2897587,2820.341521,5.584276e+11
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,1,2897587,3084.143344,3.145826e+11
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1,2897587,2617.564573,2.617565e+09
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,1,2897587,2632.635612,1.579581e+10

In [192]:
# Je vérifie les données de la colonne dispo int (kcal)
datapop13veg['dispo intérieure (kcal)'].describe()

count    1.105300e+04
mean     1.234341e+12
std      1.397932e+13
min     -1.569726e+13
25%      0.000000e+00
50%      1.435721e+10
75%      1.609079e+11
max      9.029632e+14
Name: dispo intérieure (kcal), dtype: float64

Cela semble cohérent. Une dispo intérieure négative est possible, par exemple dans le cas où les exportations sont importantes.

In [104]:
# Je vérifie les valeurs max :
datapop13veg[datapop13veg['dispo intérieure (kcal)']>1e+14].head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation stock,Code zone,population,ratio énergie/poids (kcal/kg),dispo intérieure (kcal)
408,9,Argentine,2555,Soja,2013,vegetal,986.0,NaN,0.0,0.00,0.00,0.00,36608.0,7783.0,5.0,0.0,493.0,49306.0,1088.0,34041.0,-4920.0,9,42196030,3175.304371,1.162415e+14
1022,21,Brésil,2514,Maïs,2013,vegetal,40487.0,NaN,240.0,28.01,0.98,5.31,54737.0,26780.0,979.0,5612.0,8145.0,80538.0,386.0,108.0,0.0,21,201035911,3084.143344,1.688168e+14
1033,21,Brésil,2536,"Sucre, canne",2013,vegetal,6900.0,347309.0,13.0,16.47,0.09,0.05,739267.0,0.0,NaN,3300.0,55047.0,739267.0,NaN,326711.0,NaN,21,201035911,276.100167,2.041117e+14
1041,21,Brésil,2555,Soja,2013,vegetal,637.0,NaN,18.0,3.62,0.18,2.33,38086.0,42797.0,283.0,725.0,NaN,81700.0,1211.0,35513.0,-1100.0,21,201035911,3175.304371,1.209346e+14
4450,100,Inde,2511,Blé,2013,vegetal,1870.0,NaN,517.0,60.56,2.39,15.09,86372.0,7168.0,27.0,75833.0,5611.0,93510.0,3060.0,0.0,3.0,100,1280842125,2968.265470,2.563750e+14

Les valeurs semblent cohérentes.

In [105]:
# Je calcule la dispo intérieure mondiale
datapop13veg['dispo intérieure (kcal)'].sum()

1.3643171153783366e+16

Pour 2013 la disponibilité intérieure mondiale est d'environ **1.36e16 kcal** soit 13.6 millions de milliards de kcal.

## 2. Pour 2017 : calcul de la disponibilité intérieure mondiale exprimée en kcal pour les produits végétaux uniquement

In [106]:
# Dans datapop2017 je ne garde que l'origine veg. Je créé datapop17veg :
datapop17veg = datapop17[datapop17['origin']=='vegetal']

In [107]:
datapop17veg.shape

(12095, 29)

In [213]:
datapop17veg.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029

In [214]:
datapop17veg.columns

Index(['country_code', 'country', 'item_code', 'item', 'year', 'origin',
       'alim pour touristes', 'aliments pour animaux',
       'autres utilisations (non ali)', 'dispo ali (kcal/pers/j)',
       'dispo ali (kg/pers/an)', 'dispo mat grasse(g/pers/jour)',
       'dispo prot (g/pers/jour)', 'dispo intérieure (milliers de t)',
       'export-qté', 'import-qté', 'nourriture', 'pertes', 'production',
       'résidus', 'semences', 'traitement', 'variation stock', 'Code zone',
       'population', 'dispo ali (kcal/pays/an)',
       'dispo ali (kg de protéines/pays/an)', 'ratio énergie/poids (kcal/kg)',
       '% prot'],
      dtype='object')

In [108]:
# Je supprime l'index pour pouvoir faire l'opération qui suivra. 
datapop17veg = datapop17veg.reset_index()

In [109]:
# Création de la colonne "dispo intérieure (kcal)". La muliplication par 1 000 000 permet de passer des milliers
# de tonnes aux kg :
datapop17veg['dispo intérieure (kcal)'] = datapop17veg['ratio énergie/poids (kcal/kg)'] * datapop17veg['dispo intérieure (milliers de t)'] * 1000000

In [209]:
datapop17veg['dispo intérieure (kcal)'].describe()

count    6.189000e+03
mean     2.136301e+12
std      2.127878e+13
min     -4.269121e+12
25%      1.292911e+10
50%      7.100255e+10
75%      4.354529e+11
max      9.645989e+14
Name: dispo intérieure (kcal), dtype: float64

In [110]:
# Calcul de la dispo intérieure mondiale 2017
datapop17veg['dispo intérieure (kcal)'].sum()

1.3221566215696716e+16

In [133]:
# datapop17veg.to_csv(r'C:\Users\Zang\Documents\APPRENDER\OPENCLASSROOMS\PARCOURS DA\P3_Etude_de_sante_publique\VERIF.csv', index=False)

Pour 2017 la disponibilité intérieure mondiale est d'environ **1,3e16 kcal**.

# <font color='#FFCA36'>Question 7</font>

## Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ?  

## Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

## Renseignez-vous sur la recommandation (de la FAO si possible) concernant le nombre de calories ainsi que sur le nombre de protéines par jour nécessaire à un être humain (Allez zou, on recherche sur internet ! ;) ).

Infos trouvées sur internet :   
- 2400 kcal/personne/jour    
- Nombre de protéines : 60g/personne/jour.

**Calcul en termes de calories et pour les produits végétaux :**  
nb d'êtres humains pouvant être nourris par jour = disponibilité intérieure mondiale exprimée en kcal / 365 / besoins en kcal par personne par jour

## 1. Pour 2013 : nb d' humains nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ?

### 1.1. En termes de calories

In [111]:
# Je pars de la dispo intérieure en kcal. 
# La division par 365 permet d'avoir les jours. 
# La division par 2400 permet d'avoir les résultats par personne (une personne a besoin de 2400 kcal/jour). 
datapop13veg['dispo intérieure (kcal)'].sum() / 365 / 2400

15574396294.273249

=> **15 milliards de personnes** pourraient être nourries si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture.

##### Ce qui donne en % de la population mondiale :

In [112]:
# Création d'une variable pour des calculs ultérieurs, reprenant le nb d'êtres humains pouvant être nourris par jour 
# (résultats en termes de calories) : 
persnourcal = datapop13veg['dispo intérieure (kcal)'].sum() / 365 / 2400

In [113]:
# nb d'êtres humains pouvant être nourris (résultats en termes de calories) en % de la pop mondiale en 2013
persnourcal / popmond13 * 100

215.9857057351041

=> **216 %** de la population mondiale.

### 1.2. En termes de protéines

In [114]:
# jointure entre data13veg et le tableau comprenant les % de prot par aliment
datapop13veg = pd.merge(datapop13veg, aliprot, how='left')

In [226]:
datapop13veg.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation stock,Code zone,population,ratio énergie/poids (kcal/kg),dispo intérieure (kcal),% prot
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587,2968.26547,1.644419e+12,8.562689
1,2,Afghanistan,2511,Blé,2013,vegetal,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,NaN,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0,2,32269589,2968.26547,1.778585e+13,8.562689
2,3,Albanie,2511,Blé,2013,vegetal,18.0,130.0,1056.0,138.64,5.85,33.64,650.0,4.0,360.0,440.0,44.0,294.0,18.0,NaN,0.0,3,2903790,2968.26547,1.929373e+12,8.562689
3,4,Algérie,2511,Blé,2013,vegetal,545.0,820.0,1424.0,185.42,5.34,42.97,9461.0,2.0,6343.0,7270.0,672.0,3299.0,153.0,0.0,-180.0,4,38140133,2968.26547,2.808276e+13,8.562689
4,7,Angola,2511,Blé,2013,vegetal,NaN,NaN,286.0,40.72,1.04,8.67,898.0,0.0,972.0,874.0,23.0,4.0,0.0,0.0,-79.0,7,26015781,2968.26547,2.665502e+12,8.562689

In [118]:
# Création de la colonne dispo intérieure de protéines
datapop13veg['dispo int. prot. (milliers de t)'] = datapop13veg['dispo intérieure (milliers de t)'] * 1000000 * \
(datapop13veg['% prot'] / 100)

In [119]:
# Calcul du nb de personnes pouvant être nourries en termes de prot.
# La multiplication par 1000 permet d'avoir des grammes. 
persnourprot13 = datapop13veg['dispo int. prot. (milliers de t)'].sum() * 1000 / 60 / 365
persnourprot13

15730956699.500677

On obtient  **15.7 milliards de personnes **.

##### Ce qui donne en % de la population mondiale :

In [120]:
# nb d'êtres humains pouvant être nourris (résultats en termes de protéines) en % de la pop mondiale en 2013
persnourprot13 / popmond13 * 100

218.15688521290215

On obtient **218 %**.

## 2. Pour 2017 : nb d' humains nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture

### 2.1. En termes de calories

In [121]:
# nb d'êtres humains pouvant être nourris (résultats en termes de calories)
datapop17veg['dispo intérieure (kcal)'].sum() / 365 / 2400

15093112118.375248

=> En 2017, **15 milliards de personnes** pourraient être nourries si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture.

 ##### Ce qui donne en % de la population mondiale :

In [122]:
# Création d'une variable pour des calculs ultérieurs : 
persnourcal17 = datapop17veg['dispo intérieure (kcal)'].sum() / 365 / 2400

In [123]:
# nb d'êtres humains pouvant être nourris (résultats en termes de calories) en % de la pop mondiale en 2017
persnourcal17 / popmond17 * 100

199.95818696941055

=> Cela équivaut à presque **200 %** de la population mondiale.

### 2.2. En protéines

In [124]:
# Jointure entre datapop17veg et le tableau comprenant les % de prot par aliment
datapop17veg = pd.merge(datapop17veg, aliprot, how='left')

In [125]:
# Création de la colonne dispo intérieure de protéines
datapop17veg['dispo int. prot.'] = datapop17veg['dispo intérieure (milliers de t)'] * 1000000 * (datapop17veg['% prot'] / 100)

In [126]:
# Calcul du nb de personnes pouvant être nourries en termes de prot.
# La multiplication par 1000 permet d'avoir des grammes. 
persnourprot17 = datapop17veg['dispo int. prot.'].sum() * 1000 / 60 / 365
persnourprot17

14386504851.984838

=> On obtient **14 milliards**.

 ##### Ce qui donne en % de la population mondiale :

In [127]:
# nb d'êtres humains pouvant être nourris (résultats en termes de protéines) en % de la pop mondiale en 2017
persnourprot17 / popmond17 * 100

190.5968367867123

=> Cela équivaut à **190 %** de la population mondiale.

# <font color='#FFCA36'>Question 8</font>

## Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture ?  
## Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

**Calcul :**  
1. On calcule d'abord le nb de kcal/jour que représentent Food+feed+waste :  
(Food + feed + waste en kg/an) / 365 * ratio E/P (kcal/kg)  
2. On divise ce chiffre par 2 400 pour connaitre le nb de personnes nourries (puisqu'il faut 2 400 kcla/pers/j).

## 1. Pour 2013, nb d'humains nourris si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture

### 1.1. En termes de calories

In [237]:
# Je reprends le tableau global 2013
datapop13veg.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation stock,Code zone,population,ratio énergie/poids (kcal/kg),dispo intérieure (kcal),% prot,dispo int. prot.
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587,2968.26547,1.644419e+12,8.562689,4.743730e+07
1,2,Afghanistan,2511,Blé,2013,vegetal,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,NaN,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0,2,32269589,2968.26547,1.778585e+13,8.562689,5.130763e+08
2,3,Albanie,2511,Blé,2013,vegetal,18.0,130.0,1056.0,138.64,5.85,33.64,650.0,4.0,360.0,440.0,44.0,294.0,18.0,NaN,0.0,3,2903790,2968.26547,1.929373e+12,8.562689,5.565748e+07
3,4,Algérie,2511,Blé,2013,vegetal,545.0,820.0,1424.0,185.42,5.34,42.97,9461.0,2.0,6343.0,7270.0,672.0,3299.0,153.0,0.0,-180.0,4,38140133,2968.26547,2.808276e+13,8.562689,8.101160e+08
4,7,Angola,2511,Blé,2013,vegetal,NaN,NaN,286.0,40.72,1.04,8.67,898.0,0.0,972.0,874.0,23.0,4.0,0.0,0.0,-79.0,7,26015781,2968.26547,2.665502e+12,8.562689,7.689294e+07

In [128]:
# Je créé un nouvau df et ne garde que les colonnes utiles
datapop13vegQ8 = datapop13veg[['item', 'year', 'nourriture','aliments pour animaux', 'dispo ali (kcal/pers/j)', 'dispo ali (kg/pers/an)', 'pertes', 'population', 'ratio énergie/poids (kcal/kg)', '% prot']].copy()

In [129]:
datapop13vegQ8.head()

,item,year,nourriture,aliments pour animaux,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),pertes,population,ratio énergie/poids (kcal/kg),% prot
0,Blé,2013,389.0,93.0,1024.0,130.60,32.0,2897587,2968.265470,8.562689
1,Orge,2013,0.0,137.0,0.0,0.00,15.0,2897587,2820.341521,9.256951
2,Maïs,2013,0.0,96.0,0.0,0.03,7.0,2897587,3084.143344,7.422151
3,Seigle,2013,0.0,1.0,1.0,0.12,0.0,2897587,2617.564573,7.236792
4,Avoine,2013,1.0,4.0,2.0,0.37,0.0,2897587,2632.635612,10.250438

In [240]:
# Je reprends le tableau global 2017 
datapop17veg.head()

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal),dispo int. prot.
0,0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,1.619367e+12,4.821191e+07
1,1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,2.450654e+11,9.189953e+06
2,2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,1.926910e+11,7.480945e+06
3,3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,NaN,NaN
4,4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,2.633378e+10,9.781120e+05

In [130]:
# Je garde les colonnes utiles
datapop17Q8 = datapop17veg[['item', 'year','nourriture','aliments pour animaux', 'dispo ali (kcal/pers/j)', 'dispo ali (kg/pers/an)','pertes', 'population', 'ratio énergie/poids (kcal/kg)', '% prot']].copy()

In [131]:
datapop17Q8.head()

,item,year,nourriture,aliments pour animaux,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),pertes,population,ratio énergie/poids (kcal/kg),% prot
0,Blé,2017,390.0,105.0,1053.0,132.49,10.0,2944790,2902.090545,8.640127
1,Orge,2017,2.0,91.0,4.0,0.54,10.0,2944790,2149.696700,8.061363
2,Maïs,2017,22.0,32.0,68.0,7.48,4.0,2944790,3322.258536,12.898180
3,Seigle,2017,0.0,0.0,1.0,0.14,0.0,2944790,NaN,NaN
4,Avoine,2017,2.0,6.0,7.0,0.65,0.0,2944790,3761.969225,13.973029

In [132]:
# On regroupe datapop13veg et datapop17Q8
dataQ8 = pd.concat([datapop13vegQ8,datapop17Q8])

In [133]:
dataQ8.head()

,item,year,nourriture,aliments pour animaux,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),pertes,population,ratio énergie/poids (kcal/kg),% prot
0,Blé,2013,389.0,93.0,1024.0,130.60,32.0,2897587,2968.265470,8.562689
1,Orge,2013,0.0,137.0,0.0,0.00,15.0,2897587,2820.341521,9.256951
2,Maïs,2013,0.0,96.0,0.0,0.03,7.0,2897587,3084.143344,7.422151
3,Seigle,2013,0.0,1.0,1.0,0.12,0.0,2897587,2617.564573,7.236792
4,Avoine,2013,1.0,4.0,2.0,0.37,0.0,2897587,2632.635612,10.250438

In [134]:
# Je supprime les 2 autres tableaux
del datapop17Q8, datapop13vegQ8

In [135]:
# Création de la colonne ffwkcal (Food feed Waste) pour avoir le nb de p. pouvant être nourries avec ffw en termes de kcal: 
# ffwkcal = somme(nourriture, aliments pour animaux, pertes en milliers de tonnes par an) * 1000000 pour avoir les kg
dataQ8['somme ffw(kg/an)'] = (dataQ8['nourriture'] + dataQ8['aliments pour animaux'] + dataQ8['pertes']) * 1000000

In [136]:
dataQ8.head()

,item,year,nourriture,aliments pour animaux,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),pertes,population,ratio énergie/poids (kcal/kg),% prot,somme ffw(kg/an)
0,Blé,2013,389.0,93.0,1024.0,130.60,32.0,2897587,2968.265470,8.562689,514000000.0
1,Orge,2013,0.0,137.0,0.0,0.00,15.0,2897587,2820.341521,9.256951,152000000.0
2,Maïs,2013,0.0,96.0,0.0,0.03,7.0,2897587,3084.143344,7.422151,103000000.0
3,Seigle,2013,0.0,1.0,1.0,0.12,0.0,2897587,2617.564573,7.236792,1000000.0
4,Avoine,2013,1.0,4.0,2.0,0.37,0.0,2897587,2632.635612,10.250438,5000000.0

In [137]:
# Je vérifie si des valeurs sont aberrantes
dataQ8['somme ffw(kg/an)'].describe()

count    3.089000e+03
mean     2.381343e+09
std      1.699222e+10
min      0.000000e+00
25%      1.800000e+07
50%      1.460000e+08
75%      8.510000e+08
max      5.617110e+11
Name: somme ffw(kg/an), dtype: float64

In [138]:
# Je vérifie les valeurs = 0
dataQ8[dataQ8['somme ffw(kg/an)']==0].head()

,item,year,nourriture,aliments pour animaux,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),pertes,population,ratio énergie/poids (kcal/kg),% prot,somme ffw(kg/an)
321,Maïs,2013,0.0,0.0,22.0,2.44,0.0,91516,3084.143344,7.422151,0.0
328,Manioc,2013,0.0,0.0,4.0,1.40,0.0,91516,1150.754501,0.891519,0.0
683,Manioc,2013,0.0,0.0,3.0,1.30,0.0,284296,1150.754501,0.891519,0.0
746,Orge,2013,0.0,0.0,0.0,0.00,0.0,152761418,2820.341521,9.256951,0.0
751,Sorgho,2013,0.0,0.0,0.0,0.00,0.0,152761418,3028.577184,9.021598,0.0

Cela semble cohérent.

In [139]:
# Je créé la colonne 'nb de kcal/j'
dataQ8['nb de kcal/j'] = (dataQ8['somme ffw(kg/an)'] / 365) * dataQ8['ratio énergie/poids (kcal/kg)']

In [140]:
# Je créé la colonne 'nb pers. nourries'
dataQ8['nb pers. nourries/j'] = dataQ8['nb de kcal/j'] / 2400

In [141]:
dataQ8.head(1)

,item,year,nourriture,aliments pour animaux,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),pertes,population,ratio énergie/poids (kcal/kg),% prot,somme ffw(kg/an),nb de kcal/j,nb pers. nourries/j
0,Blé,2013,389.0,93.0,1024.0,130.6,32.0,2897587,2968.26547,8.562689,514000000.0,4.179968e+09,1.741653e+06

In [142]:
# Calcul du nb de personnes nourries :
dataQ8[dataQ8['year'] == 2013]['nb pers. nourries/j'].sum()

7076201626.035182

=> Pour 2013, si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture, en termes de calories, **7.1 milliards de personnes** pourraient être nourries.

##### Ce qui donne en % :

In [252]:
# Soit, en % de la pop mondiale : 
dataQ8[dataQ8['year'] == 2013]['nb pers. nourries/j'].sum() / popmond13 * 100

98.13275412062563

Cela équivaut à **98 %** de la population mondiale.

### 1.2. Pour 2013, en terme de protéines : nb d'humains nourris si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture

In [143]:
# Création d'une colonne correpondant à la quantité ffw
dataQ8['prot_ffw'] = dataQ8['somme ffw(kg/an)'] * dataQ8['% prot'] / 100

In [144]:
# Je sélectionne 2013
dataQ8[dataQ8['year'] == 2013]['prot_ffw'].sum()

165300628836.04068

In [145]:
# Calcul du nb de personnes pouvant être nourries : 
dataQ8[dataQ8['year'] == 2013]['prot_ffw'].sum() * 1000 /365 / 60

7547973919.453913

Résultat : **7.5 milliards de personnes**.

##### Ce qui donne en % :

In [259]:
# Soit, en % de la pop mondiale : 
dataQ8[dataQ8['year'] == 2013]['prot_ffw'].sum() * 1000 /365 / 60 / popmond13 * 100

104.67529161710512

En termes de % : **104 %** de la population mondiale.

## 2. Pour 2017, nb d'humains nourris si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture

### 2.1. En termes de calories :

In [260]:
# Pour 2017
dataQ8[dataQ8['year'] == 2017]['nb pers. nourries/j'].sum()

9436764417.94738

=> Pour 2017, en termes de calories, si toute la disponibilité alimentaire en produits végétaux (Food) la nourriture végétale destinée aux animaux (Feed) et les pertes de produits végétaux (Waste) étaient utilisés pour de la nourriture, **9.4 milliards de personnes** pourraient être nourries.

##### En % :

In [122]:
# Soit, en % de la pop mondiale : 
dataQ8[dataQ8['year'] == 2017]['nb pers. nourries/j'].sum() / popmond17 * 100

125.02115462144539

Cela équivaut à **125 %** de la population mondiale.

### 2.2. En termes de protéines

In [146]:
# Je sélectionne 2017
dataQ8[dataQ8['year'] == 2017]['prot_ffw'].sum()

204490803420.64923

In [147]:
# Calcul du nb de personnes pouvant être nourries : 
dataQ8[dataQ8['year'] == 2017]['prot_ffw'].sum() * 1000 / 365 / 60

9337479608.248821

Résultat : **9.3 milliards de personnes**.

##### Ce qui donne en % :

In [148]:
# Soit, en % de la pop mondiale : 
dataQ8[dataQ8['year'] == 2017]['prot_ffw'].sum() * 1000 / 365 / 60 / popmond17 * 100

123.70579895554816

En termes de % : **123 %** de la population mondiale.

# <font color='#FFCA36'>Question 9</font>

## Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

**Calcul:**  
On calcule d'abord la dispo alimentaire en kcal/pays/j : dispo ali (kcal/pers/j) x population

## 1. Pour 2013

### 1.1. En termes de calories

In [149]:
# Je reprends le tableau global 2013
datapop13veg.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation stock,Code zone,population,ratio énergie/poids (kcal/kg),dispo intérieure (kcal),% prot,dispo int. prot. (milliers de t)
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587,2968.265470,1.644419e+12,8.562689,4.743730e+07
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,1,2897587,2820.341521,5.584276e+11,9.256951,1.832876e+07
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,1,2897587,3084.143344,3.145826e+11,7.422151,7.570594e+06
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1,2897587,2617.564573,2.617565e+09,7.236792,7.236792e+04
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,1,2897587,2632.635612,1.579581e+10,10.250438,6.150263e+05

In [169]:
# Je garde les colonnes utiles
datapop13vegQ9 = datapop13veg[['country', 'population', 'year', 'dispo ali (kcal/pers/j)', 
                               'dispo ali (kg/pers/an)', '% prot']].copy()

In [170]:
datapop13vegQ9.head()

,country,population,year,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),% prot
0,Arménie,2897587,2013,1024.0,130.60,8.562689
1,Arménie,2897587,2013,0.0,0.00,9.256951
2,Arménie,2897587,2013,0.0,0.03,7.422151
3,Arménie,2897587,2013,1.0,0.12,7.236792
4,Arménie,2897587,2013,2.0,0.37,10.250438

In [171]:
# Vérification des données
datapop13vegQ9.describe()

,population,year,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),% prot
count,1.168200e+04,11682.0,10344.000000,10124.000000,10286.000000
mean,4.376047e+07,2013.0,37.941415,8.532785,6.544818
std,1.564853e+08,0.0,120.226050,21.750913,7.911134
min,5.033100e+04,2013.0,-21.000000,-1.930000,0.006751
25%,2.881790e+06,2013.0,0.000000,0.060000,0.617122
50%,9.618016e+06,2013.0,4.000000,0.755000,1.709253
75%,2.978104e+07,2013.0,21.000000,5.310000,9.724635
max,1.422971e+09,2013.0,1711.000000,303.560000,29.616618

In [172]:
# Dans la colonne dispo ali (kcal/pers/j) je remplace les dispo ali < à 0 par 0 
datapop13vegQ9['dispo ali (kcal/pers/j)'].mask(datapop13vegQ9['dispo ali (kcal/pers/j)']<0, 0, inplace=True)

In [174]:
# Création de la colonne "dispo ali (kcal/pays/j)": 
datapop13vegQ9['dispo ali (kcal/pays/j)'] = datapop13vegQ9['dispo ali (kcal/pers/j)'] * datapop13vegQ9['population']

In [175]:
datapop13vegQ9['dispo ali (kcal/pays/j)'].sum() / 2400

6954543324.127084

On obtient **7 milliards de personnes** qui pourraient être nourries avec la disponibilité alimentaire mondiale.

In [181]:
datapop13vegQ9['dispo ali (kcal/pays/j)'].sum() / 2400 / popmond13 * 100

96.44559696219268

Cela équivaut à **94 %** de la population mondiale.

### 1.2. En termes de protéines

In [154]:
# Je remplace les dispo ali (kg/pers/an) < à 0 par 0 
datapop13vegQ9['dispo ali (kg/pers/an)'].mask(datapop13vegQ9['dispo ali (kg/pers/an)']<0, 0, inplace=True)

In [176]:
# Création de la colonne "dispo prot (kg/pays/an)": 
datapop13vegQ9['dispo prot (kg/pays/an)'] = datapop13vegQ9['dispo ali (kg/pers/an)'] * datapop13vegQ9['population'] \
* datapop13vegQ9['% prot'] / 365 / 100

In [177]:
datapop13vegQ9.head()

,country,population,year,dispo ali (kcal/pers/j),dispo ali (kg/pers/an),% prot,dispo ali (kcal/pays/j),dispo prot (kg/pays/an)
0,Arménie,2897587,2013,1024.0,130.60,8.562689,2.967129e+09,88776.282158
1,Arménie,2897587,2013,0.0,0.00,9.256951,0.000000e+00,0.000000
2,Arménie,2897587,2013,0.0,0.03,7.422151,0.000000e+00,17.676435
3,Arménie,2897587,2013,1.0,0.12,7.236792,2.897587e+06,68.939953
4,Arménie,2897587,2013,2.0,0.37,10.250438,5.795174e+06,301.084067

In [178]:
datapop13vegQ9['dispo prot (kg/pays/an)'].sum() * 1000 / 60

5641912426.796022

On obtient **5.64 milliards de personnes**.

In [182]:
datapop13vegQ9['dispo prot (kg/pays/an)'].sum() * 1000 / 60 /popmond13 * 100

78.24203353842135

Cela équivaut à **78 %** de la population mondiale.

###  2.1. Pour 2017, résultats en termes de calories

In [288]:
# Je reprends le tableau global 2017 
datapop17veg.head()

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal)
0,0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,1.619367e+12
1,1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,2.450654e+11
2,2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,1.926910e+11
3,3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,NaN
4,4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,2.633378e+10

In [289]:
datapop17veg['dispo ali (kcal/pers/j)'].describe()

count    10570.000000
mean        36.784201
std        119.117986
min          0.000000
25%          0.000000
50%          3.000000
75%         19.000000
max       1785.000000
Name: dispo ali (kcal/pers/j), dtype: float64

In [184]:
datapop17veg['dispo ali (kcal/pays/an)'].sum() / 365 / 2400

7350067830.015833

On obtient plus de **7.35 milliards de personnes**.

### 2.2. Pour 2017, résultats en termes de protéines

In [186]:
datapop17veg['dispo ali (kg de protéines/pays/an)'].sum() * 1000 / 365 / 60

6151515061.254833

On obtient plus de **6.15 milliards** de personnes.

# <font color='#FFCA36'>Question 10</font>

## A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [187]:
# Import des données qui concernent la sous-nutrition
sousnut = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/FAO_sousali%.csv")

In [274]:
sousnut.head(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,29.8,NaN
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
2,FS,Données de la sécurité alimentaire,3,Albanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
4,FS,Données de la sécurité alimentaire,79,Allemagne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,<2.5,NaN
5,FS,Données de la sécurité alimentaire,6,Andorre,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
6,FS,Données de la sécurité alimentaire,7,Angola,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,25,NaN
7,FS,Données de la sécurité alimentaire,8,Antigua-et-Barbuda,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
8,FS,Données de la sécurité alimentaire,194,Arabie saoudite,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.1,NaN
9,FS,Données de la sécurité alimentaire,9,Argentine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.6,NaN

In [275]:
sousnut.shape

(204, 13)

In [344]:
# Chine est présent plusieurs fois
sousnut[sousnut['Zone']=='Chine']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
37,FS,Données de la sécurité alimentaire,351,Chine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,8.5,NaN

In [345]:
sousnut[sousnut['Zone']=='Chine - RAS de Hong-Kong']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
38,FS,Données de la sécurité alimentaire,96,Chine - RAS de Hong-Kong,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,<2.5,NaN

In [346]:
sousnut[sousnut['Zone']=='Chine - RAS de Macao']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
39,FS,Données de la sécurité alimentaire,128,Chine - RAS de Macao,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,11.2,NaN

In [347]:
sousnut[sousnut['Zone']=='Chine, continentale']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
40,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,8.6,NaN

In [348]:
sousnut[sousnut['Zone']=='Chine, Taiwan Province de']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
41,FS,Données de la sécurité alimentaire,214,"Chine, Taiwan Province de",6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.5,NaN

In [188]:
# Je garde seulement la ligne "Chine" et supprime les autres
sousnut = sousnut.drop([38,39,40,41])

In [189]:
# Dans la colonne "Valeur", je remplace les valeurs "< 2.5" par NaN : 
sousnut['Valeur'] = sousnut['Valeur'].replace('<2.5',np.nan)

In [278]:
# Vérification
sousnut.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,29.8,NaN
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
2,FS,Données de la sécurité alimentaire,3,Albanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
4,FS,Données de la sécurité alimentaire,79,Allemagne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN

In [279]:
sousnut.dtypes

Code Domaine     object
Domaine          object
Code zone         int64
Zone             object
Code Élément      int64
Élément          object
Code Produit      int64
Produit          object
Code année        int64
Année            object
Unité            object
Valeur           object
Note            float64
dtype: object

In [357]:
# Je modifie le type de la colonne 'Valeur'
# sousnut['Valeur'].astype('float')
# Ne fonctionne pas : "could not convert to numeric"

In [190]:
# Autre solution pour modifier le type de la colonne 'Valeur'
# Cf https://stackoverflow.com/questions/51362521/object-is-not-converting-to-numeric-after-pd-to-numeric
arr = np.array(sousnut['Valeur'].tolist())
sousnut['Valeur'] = (pd.to_numeric(arr, errors='coerce'))
sousnut.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,29.8,NaN
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
2,FS,Données de la sécurité alimentaire,3,Albanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
4,FS,Données de la sécurité alimentaire,79,Allemagne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN

In [194]:
# Jointure entre data et popchineok17 sur country_code et Code zone 
sousnut17 = pd.merge(sousnut, popchineok17)

In [295]:
sousnut17.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note,population
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,29.8,NaN,36296113
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN,57009755
2,FS,Données de la sécurité alimentaire,3,Albanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN,2884169
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN,41389189
4,FS,Données de la sécurité alimentaire,79,Allemagne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN,82658409

In [195]:
# Création de la colonne pop sous ali
sousnut17['pop sous ali'] = sousnut17['Valeur'] * sousnut17['population'] / 100

In [196]:
# Calcul du nb de personnes sous ali en 2017
sousnut17['pop sous ali'].sum()

749855767.571

Dans le monde, **750 millions de personnes** sont sous-alimentées.

In [199]:
# Proportion
sousnut17['pop sous ali'].sum() / popmond17 * 100

9.934319615204295

Cela équivaut à **10 %** de la population mondiale.

# Établissez la liste des produits (ainsi que leur code) considérés comme des céréales selon la FAO.

##### Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

## Établissement de la liste des céréales :

In [200]:
# Je charge le fichier qui regroupe les céréales
cer = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/donneesOCR/fr_cereales.csv")

In [287]:
cer.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

In [203]:
# J'envoie la liste des céréales...vers une liste
listecer = cer['Code Produit'].unique().tolist()
listecer

[2511, 2805, 2513, 2514, 2517, 2515, 2516, 2518, 2520]

### Pour 2013 :

In [204]:
# Cela me permet de compléter la colonne "is_cereal" :
datapop13veg['is_cereal'] = np.where(datapop13veg['item_code'].isin(listecer), True, False)

### Pour 2017 :

In [205]:
# Cela me permet de compléter la colonne "is_cereal" :
datapop17veg['is_cereal'] = np.where(datapop17veg['item_code'].isin(listecer), True, False)

In [206]:
# Vérification
datapop17veg.head(10)

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal),dispo int. prot.,is_cereal
0,0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,1.619367e+12,4.821191e+07,True
1,1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,2.450654e+11,9.189953e+06,True
2,2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,1.926910e+11,7.480945e+06,True
3,3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,NaN,NaN,True
4,4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,2.633378e+10,9.781120e+05,True
5,5,1,Arménie,2517,Millet,2017,vegetal,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,NaN,NaN,NaN,NaN,NaN,NaN,True
6,6,1,Arménie,2518,Sorgho,2017,vegetal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1,2944790,NaN,NaN,NaN,NaN,NaN,NaN,True
7,7,1,Arménie,2520,"Céréales, Autres",2017,vegetal,NaN,1.0,9.0,20.0,2.31,0.06,0.55,19.0,0.0,7.0,7.0,1.0,12.0,0.0,1.0,NaN,1.0,1,2944790,2.149697e+10,5.911666e+05,3070.995286,8.445237,5.834891e+10,1.604595e+06,True
8,8,1,Arménie,2531,Pommes de Terre,2017,vegetal,NaN,215.0,10.0,77.0,40.98,0.11,1.79,596.0,0.0,3.0,121.0,85.0,547.0,0.0,101.0,64.0,-45.0,1,2944790,8.276332e+10,1.923979e+06,683.994405,1.590065,4.076607e+11,9.476787e+06,False
9,9,1,Arménie,2532,Manioc,2017,vegetal,NaN,0.0,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,1,2944790,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,False

# <font color='#FFCA36'>Question 11</font>

## En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

Pour les céréales destinées à l'alimentation humaine je choisis de prendre la colonne "nourriture".  
Def de la FAO de cette colonne : Les données se rapportent au montant total du produit disponible pour la consommation humaine au cours 
de la période de référence.

### Pour 2013 :

In [207]:
# Je créé un df avec les céréales uniquement : 
datapop13vegcer = datapop13veg[datapop13veg['is_cereal']==True]

In [208]:
# Calcul de la proportion
datapop13vegcer['aliments pour animaux'].sum() / (datapop13vegcer['aliments pour animaux'].sum() + datapop13vegcer['nourriture'].sum()) * 100

45.91400584899829

On obtient **45.9 %** de céréales destinées à l'alimentation animale.

### Pour 2017 :

In [209]:
# Je créé un df avec les céréales uniquement : 
datapop17vegcer = datapop17veg[datapop17veg['is_cereal']==True]

In [224]:
datapop17vegcer.head()

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal),is_cereal
0,0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,1.619367e+12,True
1,1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,2.450654e+11,True
2,2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,1.926910e+11,True
3,3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,NaN,True
4,4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,2.633378e+10,True

In [212]:
datapop17vegcer['aliments pour animaux'].sum() / (datapop17vegcer['aliments pour animaux'].sum() \
                                                  + datapop17vegcer['nourriture'].sum()) * 100

43.83346329892333

On obtient **43.8 %**.

## Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition, pour une année choisie.

In [309]:
# Je reprends le tableau sous nutrition
sousnut.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,29.8,NaN
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
2,FS,Données de la sécurité alimentaire,3,Albanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
4,FS,Données de la sécurité alimentaire,79,Allemagne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN

In [307]:
sousnut.sort_values(by=['Valeur'])

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
110,FS,Données de la sécurité alimentaire,131,Malaisie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.5,NaN
55,FS,Données de la sécurité alimentaire,225,Émirats arabes unis,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.6,NaN
99,FS,Données de la sécurité alimentaire,83,Kiribati,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.7,NaN
36,FS,Données de la sécurité alimentaire,40,Chili,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.7,NaN
166,FS,Données de la sécurité alimentaire,244,Samoa,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.7,NaN
100,FS,Données de la sécurité alimentaire,118,Koweït,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.8,NaN
59,FS,Données de la sécurité alimentaire,63,Estonie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.9,NaN
108,FS,Données de la sécurité alimentaire,154,Macédoine du Nord,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.2,NaN
28,FS,Données de la sécurité alimentaire,26,Brunéi Darussalam,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.2,NaN
115,FS,Données de la sécurité alimentaire,143,Maroc,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.4,NaN
174,FS,Données de la sécurité alimentaire,199,Slovaquie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.4,NaN
196,FS,Données de la sécurité alimentaire,230,Ukraine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.5,NaN
29,FS,Données de la sécurité alimentaire,27,Bulgarie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.6,NaN
118,FS,Données de la sécurité alimentaire,138,Mexique,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.6,NaN
64,FS,Données de la sécurité alimentaire,66,Fidji,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.7,NaN
17,FS,Données de la sécurité alimentaire,14,Barbade,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
147,FS,Données de la sécurité alimentaire,70,Polynésie française,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.2,NaN
192,FS,Données de la sécurité alimentaire,222,Tunisie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.3,NaN
10,FS,Données de la sécurité alimentaire,1,Arménie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.3,NaN
53,FS,Données de la sécurité alimentaire,59,Égypte,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.5,NaN
9,FS,Données de la sécurité alimentaire,9,Argentine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.6,NaN
46,FS,Données de la sécurité alimentaire,48,Costa Rica,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.8,NaN
43,FS,Données de la sécurité alimentaire,44,Colombie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.8,NaN
87,FS,Données de la sécurité alimentaire,102,Iran (République islamique d'),6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.9,NaN
193,FS,Données de la sécurité alimentaire,213,Turkménistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.4,NaN
191,FS,Données de la sécurité alimentaire,220,Trinité-et-Tobago,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.5,NaN
70,FS,Données de la sécurité alimentaire,81,Ghana,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.5,NaN
42,FS,Données de la sécurité alimentaire,50,Chypre,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.6,NaN
165,FS,Données de la sécurité alimentaire,191,Saint-Vincent-et-les Grenadines,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,FS,Données de la sécurité alimentaire,299,Palestine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
141,FS,Données de la sécurité alimentaire,168,Papouasie-Nouvelle-Guinée,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
143,FS,Données de la sécurité alimentaire,150,Pays-Bas,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
146,FS,Données de la sécurité alimentaire,173,Pologne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
148,FS,Données de la sécurité alimentaire,177,Porto Rico,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
149,FS,Données de la sécurité alimentaire,174,Portugal,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
150,FS,Données de la sécurité alimentaire,179,Qatar,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
151,FS,Données de la sécurité alimentaire,212,République arabe syrienne,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
153,FS,Données de la sécurité alimentaire,117,République de Corée,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
154,FS,Données de la sécurité alimentaire,146,République de Moldova,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
155,FS,Données de la sécurité alimentaire,250,République démocratique du Congo,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
160,FS,Données de la sécurité alimentaire,183,Roumanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
161,FS,Données de la sécurité alimentaire,229,Royaume-Uni,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
163,FS,Données de la sécurité alimentaire,189,Sainte-Lucie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
164,FS,Données de la sécurité alimentaire,188,Saint-Kitts-et-Nevis,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
167,FS,Données de la sécurité alimentaire,5,Samoa américaines,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
171,FS,Données de la sécurité alimentaire,196,Seychelles,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
173,FS,Données de la sécurité alimentaire,200,Singapour,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
175,FS,Données de la sécurité alimentaire,198,Slovénie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
176,FS,Données de la sécurité alimentaire,201,Somalie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
178,FS,Données de la sécurité alimentaire,277,Soudan du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
180,FS,Données de la sécurité alimentaire,210,Suède,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
181,FS,Données de la sécurité alimentaire,211,Suisse,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
183,FS,Données de la sécurité alimentaire,208,Tadjikistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
185,FS,Données de la sécurité alimentaire,167,Tchéquie (la),6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
189,FS,Données de la sécurité alimentaire,218,Tokélaou,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
190,FS,Données de la sécurité alimentaire,219,Tonga,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
194,FS,Données de la sécurité alimentaire,223,Turquie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
195,FS,Données de la sécurité alimentaire,227,Tuvalu,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN
197,FS,Données de la sécurité alimentaire,234,Uruguay,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,NaN,NaN

In [215]:
# Je créé un df pour les pays qui ont des valeurs de prévalence de la sous-nutrition > 0
paysssnut = sousnut[sousnut['Valeur']>0]
paysssnut

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,29.8,NaN
1,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
2,FS,Données de la sécurité alimentaire,3,Albanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
3,FS,Données de la sécurité alimentaire,4,Algérie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
6,FS,Données de la sécurité alimentaire,7,Angola,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,25.0,NaN
8,FS,Données de la sécurité alimentaire,194,Arabie saoudite,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.1,NaN
9,FS,Données de la sécurité alimentaire,9,Argentine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.6,NaN
10,FS,Données de la sécurité alimentaire,1,Arménie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.3,NaN
16,FS,Données de la sécurité alimentaire,16,Bangladesh,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,14.7,NaN
17,FS,Données de la sécurité alimentaire,14,Barbade,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.9,NaN
20,FS,Données de la sécurité alimentaire,23,Belize,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.5,NaN
21,FS,Données de la sécurité alimentaire,53,Bénin,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,10.1,NaN
24,FS,Données de la sécurité alimentaire,19,Bolivie (État plurinational de),6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,17.1,NaN
26,FS,Données de la sécurité alimentaire,20,Botswana,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,26.4,NaN
28,FS,Données de la sécurité alimentaire,26,Brunéi Darussalam,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.2,NaN
29,FS,Données de la sécurité alimentaire,27,Bulgarie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.6,NaN
30,FS,Données de la sécurité alimentaire,233,Burkina Faso,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,20.0,NaN
32,FS,Données de la sécurité alimentaire,35,Cabo Verde,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,12.6,NaN
33,FS,Données de la sécurité alimentaire,115,Cambodge,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,16.4,NaN
34,FS,Données de la sécurité alimentaire,32,Cameroun,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,9.9,NaN
36,FS,Données de la sécurité alimentaire,40,Chili,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.7,NaN
37,FS,Données de la sécurité alimentaire,351,Chine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,8.5,NaN
42,FS,Données de la sécurité alimentaire,50,Chypre,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.6,NaN
43,FS,Données de la sécurité alimentaire,44,Colombie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.8,NaN
45,FS,Données de la sécurité alimentaire,46,Congo,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,40.3,NaN
46,FS,Données de la sécurité alimentaire,48,Costa Rica,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.8,NaN
47,FS,Données de la sécurité alimentaire,107,Côte d'Ivoire,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,19.0,NaN
51,FS,Données de la sécurité alimentaire,72,Djibouti,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,18.9,NaN
52,FS,Données de la sécurité alimentaire,55,Dominique,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,6.2,NaN
53,FS,Données de la sécurité alimentaire,59,Égypte,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,FS,Données de la sécurité alimentaire,37,République centrafricaine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,59.6,NaN
156,FS,Données de la sécurité alimentaire,120,République démocratique populaire lao,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,16.5,NaN
157,FS,Données de la sécurité alimentaire,56,République dominicaine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,9.5,NaN
158,FS,Données de la sécurité alimentaire,116,République populaire démocratique de Corée,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,47.8,NaN
159,FS,Données de la sécurité alimentaire,215,République-Unie de Tanzanie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,30.7,NaN
162,FS,Données de la sécurité alimentaire,184,Rwanda,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,36.8,NaN
165,FS,Données de la sécurité alimentaire,191,Saint-Vincent-et-les Grenadines,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.7,NaN
166,FS,Données de la sécurité alimentaire,244,Samoa,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,2.7,NaN
168,FS,Données de la sécurité alimentaire,193,Sao Tomé-et-Principe,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.0,NaN
169,FS,Données de la sécurité alimentaire,195,Sénégal,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,11.3,NaN
170,FS,Données de la sécurité alimentaire,272,Serbie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.7,NaN
172,FS,Données de la sécurité alimentaire,197,Sierra Leone,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,25.6,NaN
174,FS,Données de la sécurité alimentaire,199,Slovaquie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.4,NaN
177,FS,Données de la sécurité alimentaire,276,Soudan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,20.1,NaN
179,FS,Données de la sécurité alimentaire,38,Sri Lanka,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,9.0,NaN
182,FS,Données de la sécurité alimentaire,207,Suriname,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,8.5,NaN
184,FS,Données de la sécurité alimentaire,39,Tchad,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,37.5,NaN
186,FS,Données de la sécurité alimentaire,216,Thaïlande,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.8,NaN
187,FS,Données de la sécurité alimentaire,176,Timor-Leste,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,24.9,NaN
188,FS,Données de la sécurité alimentaire,217,Togo,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,16.1,NaN
191,FS,Données de la sécurité alimentaire,220,Trinité-et-Tobago,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.5,NaN
192,FS,Données de la sécurité alimentaire,222,Tunisie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,4.3,NaN
193,FS,Données de la sécurité alimentaire,213,Turkménistan,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,5.4,NaN
196,FS,Données de la sécurité alimentaire,230,Ukraine,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,3.5,NaN
198,FS,Données de la sécurité alimentaire,155,Vanuatu,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.2,NaN
199,FS,Données de la sécurité alimentaire,236,Venezuela (République bolivarienne du),6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,21.2,NaN
200,FS,Données de la sécurité alimentaire,237,Viet Nam,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,9.3,NaN
201,FS,Données de la sécurité alimentaire,249,Yémen,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,38.9,NaN
202,FS,Données de la sécurité alimentaire,251,Zambie,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,46.7,NaN
203,FS,Données de la sécurité alimentaire,181,Zimbabwe,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,51.3,NaN

In [216]:
# Je transforme la colonne des pays en liste pour la réutiliser
listpayssnut = paysssnut['Zone'].tolist()

In [160]:
listpayssnut

['Afghanistan',
 'Afrique du Sud',
 'Albanie',
 'Algérie',
 'Angola',
 'Arabie saoudite',
 'Argentine',
 'Arménie',
 'Bangladesh',
 'Barbade',
 'Belize',
 'Bénin',
 'Bolivie (État plurinational de)',
 'Botswana',
 'Brunéi Darussalam',
 'Bulgarie',
 'Burkina Faso',
 'Cabo Verde',
 'Cambodge',
 'Cameroun',
 'Chili',
 'Chine',
 'Chypre',
 'Colombie',
 'Congo',
 'Costa Rica',
 "Côte d'Ivoire",
 'Djibouti',
 'Dominique',
 'Égypte',
 'El Salvador',
 'Émirats arabes unis',
 'Équateur',
 'Estonie',
 'Eswatini',
 'Éthiopie',
 'Fidji',
 'Gabon',
 'Gambie',
 'Géorgie',
 'Ghana',
 'Guatemala',
 'Guinée',
 'Guinée-Bissau',
 'Guyana',
 'Haïti',
 'Honduras',
 'Îles Salomon',
 'Inde',
 'Indonésie',
 "Iran (République islamique d')",
 'Iraq',
 'Jamaïque',
 'Jordanie',
 'Kenya',
 'Kirghizistan',
 'Kiribati',
 'Koweït',
 'Lesotho',
 'Liban',
 'Libéria',
 'Macédoine du Nord',
 'Madagascar',
 'Malaisie',
 'Malawi',
 'Maldives',
 'Mali',
 'Maroc',
 'Maurice',
 'Mauritanie',
 'Mexique',
 'Mongolie',
 'Mozambique',
 'Myanmar',
 'Namibie',
 'Népal',
 'Nicaragua',
 'Niger',
 'Nigéria',
 'Nouvelle-Calédonie',
 'Oman',
 'Ouganda',
 'Ouzbékistan',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Pérou',
 'Philippines',
 'Polynésie française',
 'République centrafricaine',
 'République démocratique populaire lao',
 'République dominicaine',
 'République populaire démocratique de Corée',
 'République-Unie de Tanzanie',
 'Rwanda',
 'Saint-Vincent-et-les Grenadines',
 'Samoa',
 'Sao Tomé-et-Principe',
 'Sénégal',
 'Serbie',
 'Sierra Leone',
 'Slovaquie',
 'Soudan',
 'Sri Lanka',
 'Suriname',
 'Tchad',
 'Thaïlande',
 'Timor-Leste',
 'Togo',
 'Trinité-et-Tobago',
 'Tunisie',
 'Turkménistan',
 'Ukraine',
 'Vanuatu',
 'Venezuela (République bolivarienne du)',
 'Viet Nam',
 'Yémen',
 'Zambie',
 'Zimbabwe']

In [217]:
# Suppression de la table temporaire
del paysssnut

## Repérez les 15 produits les plus exportés par ce groupe de pays sur l'année choisie.

In [148]:
datapop17.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029

In [218]:
# Je crée un tableau, une copie de datapop17 : 
datapop17ssnut = datapop17.copy()

In [220]:
# Je créé une colonne pour récupérer dans mon tableau la liste des pays avec de la sous-nutrition 
datapop17ssnut['paysssnut'] = np.where(datapop17ssnut['country'].isin(listpayssnut), True, False)

In [222]:
datapop17ssnut.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,paysssnut
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,True
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,True
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,True
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,True
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,True

In [223]:
# Je ne conserve que les pays qui sont dans la liste des pays avec des pers. sous-alimentées : 
datapop17ssnut = datapop17ssnut[datapop17ssnut['paysssnut'] == True]

In [224]:
# Je conserve uniquement les colonnes utiles
datapop17ssnut = datapop17ssnut[['country', 'item', 'export-qté']]

In [225]:
datapop17ssnut.head()

   country    item  export-qté
0  Arménie     Blé         1.0
1  Arménie    Orge         0.0
2  Arménie    Maïs         0.0
3  Arménie  Seigle         NaN
4  Arménie  Avoine         NaN

In [229]:
# Je groupe par item et classe les exportations en valeur descendante afin d'avoir les 15 produit les plus exportés : 
prodexpssnut = datapop17ssnut.groupby('item').sum().sort_values(by = 'export-qté', ascending=False).reset_index().head(15)

In [230]:
prodexpssnut

                   item  export-qté
0                  Maïs     57261.0
1      Riz (Eq Blanchi)     53490.0
2                   Blé     48953.0
3        Huile de Palme     44219.0
4                Manioc     40178.0
5         Sucre Eq Brut     25464.0
6       Légumes, Autres     24133.0
7               Bananes     19313.0
8                  Soja     17564.0
9        Fruits, Autres     16622.0
10  Poissons Pelagiques     14429.0
11                 Orge     10163.0
12   Lait - Excl Beurre      9609.0
13              Tomates      8875.0
14               Ananas      8784.0

In [234]:
# Je créé la liste de ces produits pour la réutiliser plus tard
listprodexpssnut = prodexpssnut['item'].tolist()
listprodexpssnut

['Maïs',
 'Riz (Eq Blanchi)',
 'Blé',
 'Huile de Palme',
 'Manioc',
 'Sucre Eq Brut',
 'Légumes, Autres',
 'Bananes',
 'Soja',
 'Fruits, Autres',
 'Poissons Pelagiques',
 'Orge',
 'Lait - Excl Beurre',
 'Tomates',
 'Ananas']

## Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes **importations** de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné sur l'année choisie)

In [235]:
datapop17.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029

In [236]:
# Je créé une nouvelle copie de datapop17 : 
datapop17imp = datapop17.copy()

In [237]:
# Je créé la colonne listexp pour pouvoir repérer ma sélection de produits 
datapop17imp['listexp'] = np.where(datapop17imp['item'].isin(listprodexpssnut), True, False)

In [238]:
datapop17imp.head()

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,listexp
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,True
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,True
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,True
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,False
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,False

In [239]:
# Je ne garde que les lignes avec ces produits
datapop17imp = datapop17imp[datapop17imp['listexp']==True]

In [241]:
# Je trouve les 200 plus grandes importations de ces produits
datapop17imp = datapop17imp.sort_values('import-qté',ascending=False)[:200]

In [242]:
datapop17imp

,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,listexp
15691,351,Chine,2555,Soja,2017,vegetal,-2.0,11409.0,1.0,38.0,4.00,1.26,3.53,107138.0,174.0,98119.0,5804.0,990.0,13154.0,0.0,1095.0,87842.0,3961.0,351,1452625244,2.014791e+13,1.871635e+09,3471.383896,32.247329,True
15678,351,Chine,2532,Manioc,2017,vegetal,0.0,24988.0,13339.0,5.0,1.73,0.01,0.04,40890.0,150.0,36556.0,2510.0,146.0,4859.0,-93.0,NaN,0.0,376.0,351,1452625244,2.651041e+12,2.120833e+07,1056.191661,0.844953,True
8873,138,Mexique,2514,Maïs,2017,vegetal,NaN,16669.0,98.0,1076.0,126.83,11.93,27.73,38010.0,1944.0,15508.0,15825.0,4451.0,27762.0,NaN,216.0,751.0,3317.0,138,124777324,4.900505e+13,1.262927e+09,3096.685386,7.980584,True
6843,110,Japon,2514,Maïs,2017,vegetal,NaN,10806.0,292.0,79.0,12.97,0.25,0.18,14516.0,1.0,14530.0,1653.0,3.0,0.0,0.0,0.0,1762.0,13.0,110,127502725,3.676541e+12,8.376929e+06,2224.162780,0.506771,True
5989,101,Indonésie,2511,Blé,2017,vegetal,0.0,1454.0,263.0,194.0,26.86,0.55,5.19,8674.0,451.0,10626.0,7110.0,NaN,0.0,-153.0,NaN,NaN,1500.0,101,264650963,1.873993e+13,5.013416e+08,2635.715146,7.051217,True
4693,79,Allemagne,2848,Lait - Excl Beurre,2017,animal,NaN,3374.0,656.0,349.0,267.52,19.05,25.12,26261.0,16698.0,10376.0,22113.0,37.0,32695.0,81.0,NaN,0.0,112.0,79,82658409,1.052944e+13,7.578784e+08,476.165216,3.427298,True
7401,117,République de Corée,2514,Maïs,2017,vegetal,NaN,7251.0,214.0,87.0,14.90,0.16,0.35,10331.0,109.0,10231.0,761.0,188.0,73.0,0.0,2.0,1915.0,-138.0,117,51096415,1.622567e+12,6.527567e+06,2132.150668,0.857762,True
3580,59,Égypte,2511,Blé,2017,vegetal,2.0,1807.0,NaN,1166.0,145.72,6.23,35.36,17883.0,419.0,10201.0,14054.0,1890.0,8425.0,-40.0,170.0,0.0,323.0,59,96442591,4.104500e+13,1.244727e+09,2920.521012,8.856743,True
5930,100,Inde,2577,Huile de Palme,2017,vegetal,0.0,NaN,7023.0,41.0,1.56,4.66,0.00,9335.0,0.0,9184.0,2090.0,NaN,151.0,0.0,NaN,222.0,NaN,100,1338676785,2.003330e+13,0.000000e+00,9585.310090,NaN,True
15754,351,Chine,2763,Poissons Pelagiques,2017,animal,NaN,10365.0,0.0,1.0,0.39,0.04,0.12,10926.0,1720.0,9032.0,561.0,NaN,3588.0,NaN,NaN,NaN,25.0,351,1452625244,5.302082e+11,6.362499e+07,945.112681,11.341352,True
15670,351,Chine,2513,Orge,2017,vegetal,0.0,348.0,22.0,3.0,0.55,0.01,0.09,4196.0,557.0,8999.0,804.0,102.0,1897.0,0.0,86.0,2834.0,6143.0,351,1452625244,1.590625e+12,4.771874e+07,1978.388858,5.935167,True
3582,59,Égypte,2514,Maïs,2017,vegetal,1.0,8580.0,705.0,582.0,61.03,8.17,15.37,16720.0,11.0,8460.0,5886.0,1350.0,8543.0,0.0,30.0,168.0,271.0,59,96442591,2.048730e+13,5.410478e+08,3480.682910,9.192113,True
12030,194,Arabie saoudite,2513,Orge,2017,vegetal,NaN,9282.0,NaN,0.0,0.02,0.00,0.00,9568.0,0.0,8416.0,1.0,272.0,638.0,0.0,14.0,NaN,-514.0,194,33101178,0.000000e+00,0.000000e+00,NaN,NaN,True
14317,231,États-Unis d'Amérique,2605,"Légumes, Autres",2017,vegetal,NaN,256.0,NaN,45.0,69.72,0.41,2.13,24615.0,3294.0,8269.0,22666.0,1694.0,19902.0,-1.0,NaN,NaN,261.0,231,325084756,5.339517e+12,2.527371e+08,235.573860,1.115050,True
266,4,Algérie,2511,Blé,2017,vegetal,0.0,957.0,1030.0,1427.0,185.67,5.24,43.08,10532.0,10.0,8105.0,7685.0,736.0,2437.0,-6.0,130.0,0.0,0.0,4,41389189,2.155777e+13,6.508119e+08,2805.174501,8.468600,True
6462,106,Italie,2511,Blé,2017,vegetal,NaN,1732.0,6.0,1038.0,146.22,3.80,32.76,11189.0,4351.0,7991.0,8871.0,49.0,6966.0,0.0,399.0,132.0,-582.0,106,60673700,2.298744e+13,7.254997e+08,2591.302527,8.178331,True
14734,237,Viet Nam,2514,Maïs,2017,vegetal,NaN,6424.0,NaN,94.0,11.20,0.86,2.29,7784.0,3.0,7977.0,1059.0,273.0,5110.0,0.0,28.0,0.0,5300.0,237,94600648,3.245748e+12,7.907195e+07,3064.918067,7.466662,True
12596,203,Espagne,2514,Maïs,2017,vegetal,NaN,8997.0,1105.0,16.0,1.98,0.05,0.37,10312.0,480.0,7583.0,93.0,20.0,3776.0,0.0,13.0,84.0,567.0,203,46647428,2.724210e+11,6.299735e+06,2929.257844,6.773909,True
15671,351,Chine,2514,Maïs,2017,vegetal,-1.0,191859.0,43318.0,61.0,7.66,0.20,1.32,268816.0,476.0,7402.0,11124.0,13901.0,259257.0,0.0,2738.0,5876.0,-2634.0,351,1452625244,3.234270e+13,6.998748e+08,2907.470429,6.291575,True
6088,102,Iran (République islamique d'),2514,Maïs,2017,vegetal,NaN,7834.0,NaN,27.0,2.99,0.38,0.71,8518.0,19.0,7336.0,241.0,427.0,1223.0,6.0,10.0,NaN,22.0,102,80673883,7.950411e+11,2.090664e+07,3298.925797,8.674953,True
9618,150,Pays-Bas,2848,Lait - Excl Beurre,2017,animal,NaN,1702.0,NaN,441.0,340.35,26.92,28.86,7431.0,14020.0,6934.0,5793.0,NaN,14544.0,-65.0,NaN,0.0,27.0,150,17021346,2.739841e+12,1.793012e+08,472.957183,3.095135,True
12594,203,Espagne,2511,Blé,2017,vegetal,NaN,5556.0,72.0,677.0,98.07,2.93,21.84,10422.0,1530.0,6875.0,4575.0,29.0,4859.0,-255.0,388.0,58.0,-218.0,203,46647428,1.152681e+13,3.718546e+08,2519.521901,8.127970,True
15669,351,Chine,2511,Blé,2017,vegetal,-28.0,36283.0,3283.0,545.0,62.75,2.93,17.43,139090.0,774.0,6849.0,91146.0,2995.0,134435.0,0.0,5201.0,210.0,1420.0,351,1452625244,2.889635e+14,9.241529e+09,3170.336347,10.139259,True
9525,150,Pays-Bas,2511,Blé,2017,vegetal,NaN,3356.0,2191.0,535.0,66.91,2.35,17.21,6923.0,1609.0,6792.0,1139.0,23.0,1055.0,0.0,75.0,139.0,-685.0,150,17021346,3.323843e+12,1.069221e+08,2918.211888,9.387369,True
1314,21,Brésil,2511,Blé,2017,vegetal,NaN,500.0,1.0,355.0,49.21,1.00,9.44,11211.0,738.0,6704.0,10227.0,242.0,4328.0,0.0,240.0,0.0,-918.0,21,207833823,2.693007e+13,7.161122e+08,2633.232386,7.002173,True
15763,351,Chine,2805,Riz (Eq Blanchi),2017,vegetal,-32.0,18357.0,3123.0,836.0,121.78,2.86,15.22,215825.0,1793.0,6681.0,176896.0,10423.0,214430.0,0.0,6802.0,256.0,3493.0,351,1452625244,4.432541e+14,8.069769e+09,2505.732560,4.561872,True
1018,16,Bangladesh,2511,Blé,2017,vegetal,0.0,1337.0,1500.0,155.0,18.06,0.72,4.52,6064.0,16.0,6254.0,2884.0,303.0,1311.0,-10.0,49.0,0.0,1486.0,16,159685424,9.034203e+12,2.634490e+08,3132.525264,9.134848,True
6556,106,Italie,2848,Lait - Excl Beurre,2017,animal,NaN,613.0,276.0,276.0,228.47,17.92,17.12,14761.0,3458.0,6238.0,13862.0,NaN,12029.0,0.0,NaN,10.0,48.0,106,60673700,6.112269e+12,3.791378e+08,440.936989,2.735087,True
6841,110,Japon,2511,Blé,2017,vegetal,NaN,735.0,78.0,378.0,44.42,1.63,10.48,6773.0,265.0,6053.0,5664.0,166.0,908.0,0.0,20.0,111.0,-78.0,110,127502725,1.759155e+13,4.877234e+08,3105.852925,8.610936,True
4600,79,Allemagne,2511,Blé,2017,vegetal,NaN,8846.0,1143.0,687.0,87.72,2.72,22.26,18734.0,11001.0,6027.0,7250.0,797.0,24482.0,0.0,564.0,133.0,773.0,79,82658409,2.072701e+13,6.715913e+08,2858.897841,9.263328,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11624,185,Fédération de Russie,2605,"Légumes, Autres",2017,vegetal,NaN,3045.0,NaN,50.0,70.60,0.34,2.15,13853.0,173.0,1305.0,10275.0,416.0,12739.0,0.0,NaN,117.0,17.0,185,145530082,2.655924e+12,1.142047e+08,258.484087,1.111482,True
12609,203,Espagne,2542,Sucre Eq Brut,2017,vegetal,NaN,0.0,12.0,305.0,31.92,0.00,0.00,1458.0,351.0,1304.0,1489.0,NaN,600.0,-43.0,NaN,NaN,95.0,203,46647428,5.193025e+12,0.000000e+00,3487.592292,NaN,True
1711,28,Myanmar,2542,Sucre Eq Brut,2017,vegetal,0.0,NaN,NaN,17.0,1.74,0.00,0.00,93.0,5.0,1292.0,93.0,NaN,20.0,0.0,NaN,NaN,1215.0,28,53382523,3.312386e+11,0.000000e+00,3561.704895,NaN,True
6925,110,Japon,2763,Poissons Pelagiques,2017,animal,NaN,1351.0,0.0,52.0,13.87,2.17,7.28,3118.0,402.0,1289.0,1768.0,NaN,2231.0,NaN,0.0,NaN,0.0,110,127502725,2.420002e+12,3.388002e+08,1368.779254,19.162910,True
13894,225,Émirats arabes unis,2511,Blé,2017,vegetal,NaN,32.0,196.0,822.0,102.19,4.29,23.94,1270.0,201.0,1289.0,970.0,78.0,0.0,-5.0,NaN,NaN,-182.0,225,9487203,2.846446e+12,8.290013e+07,2934.479913,8.546405,True
7420,117,République de Corée,2555,Soja,2017,vegetal,NaN,24.0,NaN,52.0,7.22,2.20,4.82,1382.0,3.0,1288.0,369.0,4.0,86.0,0.0,1.0,984.0,-11.0,117,51096415,9.698100e+11,8.989392e+07,2628.211265,24.361497,True
14753,237,Viet Nam,2555,Soja,2017,vegetal,0.0,108.0,NaN,57.0,5.42,2.23,4.95,1789.0,2.0,1288.0,513.0,42.0,102.0,0.0,1.0,1125.0,-400.0,237,94600648,1.968166e+12,1.709197e+08,3836.581836,33.317684,True
14638,236,Venezuela (République bolivarienne du),2514,Maïs,2017,vegetal,NaN,964.0,0.0,387.0,58.00,1.56,8.58,2791.0,0.0,1281.0,1705.0,120.0,1050.0,0.0,1.0,NaN,-460.0,236,29402484,4.153248e+12,9.207976e+07,2435.922509,5.400572,True
14101,229,Royaume-Uni,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,NaN,343.0,35.16,0.00,0.00,2346.0,292.0,1274.0,2346.0,NaN,1364.0,0.0,NaN,0.0,0.0,229,66727460,8.353944e+12,0.000000e+00,3560.931097,NaN,True
1902,33,Canada,2542,Sucre Eq Brut,2017,vegetal,NaN,0.0,NaN,333.0,32.41,0.00,0.00,1190.0,212.0,1264.0,1190.0,NaN,136.0,0.0,NaN,NaN,-3.0,33,36732095,4.464602e+12,0.000000e+00,3751.766796,NaN,True
4643,79,Allemagne,2601,Tomates,2017,vegetal,NaN,NaN,NaN,12.0,14.05,0.13,0.58,1286.0,64.0,1260.0,1162.0,125.0,97.0,0.0,NaN,NaN,6.0,79,82658409,3.620438e+11,1.749879e+07,311.569562,1.505920,True
2166,38,Sri Lanka,2511,Blé,2017,vegetal,0.0,185.0,7.0,275.0,39.26,0.75,8.62,1036.0,95.0,1259.0,829.0,12.0,0.0,0.0,NaN,1.0,128.0,38,21128032,2.120726e+12,6.647513e+07,2558.173959,8.018713,True
6857,110,Japon,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,NaN,155.0,15.25,0.00,0.00,1944.0,12.0,1254.0,1944.0,NaN,657.0,0.0,NaN,0.0,-45.0,110,127502725,7.213467e+12,0.000000e+00,3710.631001,NaN,True
3594,59,Égypte,2542,Sucre Eq Brut,2017,vegetal,0.0,46.0,731.0,257.0,25.54,0.00,0.00,3241.0,449.0,1232.0,2463.0,NaN,2600.0,0.0,NaN,0.0,142.0,59,96442591,9.046797e+12,0.000000e+00,3673.080491,NaN,True
13710,222,Tunisie,2514,Maïs,2017,vegetal,NaN,1218.0,14.0,0.0,0.00,0.00,0.01,1232.0,0.0,1232.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,222,11433443,0.000000e+00,4.173207e+04,NaN,NaN,True
4787,81,Ghana,2511,Blé,2017,vegetal,NaN,0.0,0.0,234.0,31.52,0.92,6.52,1008.0,106.0,1215.0,918.0,NaN,0.0,0.0,NaN,90.0,101.0,81,29121465,2.487264e+12,6.930326e+07,2709.438263,7.549375,True
8411,131,Malaisie,2805,Riz (Eq Blanchi),2017,vegetal,NaN,87.0,304.0,748.0,119.64,1.69,13.22,4241.0,39.0,1193.0,3721.0,87.0,2902.0,-21.0,22.0,40.0,-184.0,131,31104646,8.492190e+12,1.500892e+08,2282.233392,4.033573,True
358,7,Angola,2511,Blé,2017,vegetal,0.0,1.0,NaN,239.0,32.60,0.90,7.16,972.0,0.0,1176.0,972.0,0.0,3.0,-1.0,0.0,0.0,207.0,7,29816766,2.601066e+12,7.792314e+07,2675.993397,8.016784,True
14828,238,Éthiopie,2511,Blé,2017,vegetal,0.0,658.0,1808.0,327.0,35.64,1.00,9.71,6667.0,1.0,1175.0,3792.0,258.0,4831.0,0.0,151.0,0.0,-663.0,238,106399924,1.269936e+13,3.770973e+08,3348.988114,9.944549,True
1020,16,Bangladesh,2514,Maïs,2017,vegetal,0.0,3516.0,22.0,6.0,0.66,0.08,0.17,3867.0,0.0,1172.0,105.0,209.0,3025.0,0.0,15.0,0.0,330.0,16,159685424,3.497111e+11,9.908481e+06,3330.581701,9.436648,True
3483,58,Équateur,2511,Blé,2017,vegetal,0.0,1.0,14.0,483.0,62.79,1.63,12.81,1071.0,8.0,1170.0,1054.0,1.0,6.0,0.0,2.0,0.0,97.0,58,16785361,2.959175e+12,7.848247e+07,2807.566620,7.446155,True
9068,143,Maroc,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,0.0,362.0,36.81,0.00,0.00,1310.0,470.0,1167.0,1310.0,NaN,622.0,-23.0,NaN,23.0,10.0,143,35581255,4.701351e+12,0.000000e+00,3588.817728,NaN,True
1408,21,Brésil,2848,Lait - Excl Beurre,2017,animal,NaN,3139.0,4.0,243.0,143.95,12.87,12.73,34724.0,144.0,1155.0,29918.0,1689.0,33742.0,-25.0,NaN,0.0,29.0,21,207833823,1.843382e+13,9.656895e+08,616.144827,3.227788,True
7445,117,République de Corée,2605,"Légumes, Autres",2017,vegetal,NaN,0.0,NaN,131.0,162.08,1.27,6.99,9208.0,129.0,1151.0,8282.0,926.0,8353.0,0.0,NaN,NaN,166.0,117,51096415,2.443175e+12,1.303648e+08,294.998199,1.574074,True
6274,104,Irlande,2514,Maïs,2017,vegetal,NaN,979.0,7.0,89.0,11.16,0.29,2.06,1039.0,12.0,1147.0,53.0,NaN,2.0,0.0,NaN,0.0,98.0,104,4753279,1.544103e+11,3.573990e+06,2913.401289,6.743378,True
12778,208,Tadjikistan,2511,Blé,2017,vegetal,0.0,881.0,7.0,986.0,122.48,11.28,27.56,2038.0,0.0,1139.0,1088.0,48.0,900.0,0.0,15.0,NaN,0.0,208,8880268,3.195920e+12,8.933017e+07,2937.426149,8.210493,True
14364,231,États-Unis d'Amérique,2805,Riz (Eq Blanchi),2017,vegetal,NaN,15.0,215.0,75.0,10.77,0.09,1.40,5109.0,4776.0,1137.0,3502.0,453.0,8084.0,0.0,104.0,820.0,-663.0,231,325084756,8.899195e+12,1.661183e+08,2541.175099,4.743527,True
1889,33,Canada,2514,Maïs,2017,vegetal,NaN,10903.0,278.0,132.0,18.93,0.44,2.87,13637.0,1800.0,1137.0,695.0,453.0,14095.0,0.0,22.0,1287.0,-205.0,33,36732095,1.769752e+12,3.847871e+07,2546.406240,5.536504,True
4098,68,France,2601,Tomates,2017,vegetal,NaN,NaN,NaN,11.0,21.71,0.12,0.53,1475.0,305.0,1136.0,1408.0,68.0,656.0,0.0,NaN,NaN,12.0,68,64842509,2.603427e+11,1.254378e+07,184.902467,0.890894,True
1407,21,Brésil,2805,Riz (Eq Blanchi),2017,vegetal,NaN,586.0,0.0,329.0,48.48,0.55,6.49,12790.0,870.0,1134.0,10076.0,699.0,12470.0,-319.0,172.0,1577.0,-57.0,21,207833823,2.495772e+13,4.923272e+08,2476.947661,4.886137,True

## Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits.  
## Ensuite, calculez pour chaque produit les 2 quantités suivantes :  
## - le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.  
## - le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [243]:
# Je groupe les importations par produit
datapop17imp = datapop17imp.groupby('item').sum().reset_index()

In [245]:
datapop17imp.head()

,item,country_code,item_code,year,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,listexp
0,Ananas,231,2618,2017,0.0,0.0,0.0,7.0,5.17,0.02,0.05,1745.0,131.0,1717.0,1679.0,65.0,154.0,0.0,0.0,0.0,-4.0,231,3.250848e+08,8.305916e+11,5.932797e+06,494.694194,0.353353,1.0
1,Bananes,750,10460,8068,0.0,0.0,0.0,76.0,45.18,0.30,0.90,6904.0,2281.0,9181.0,6521.0,294.0,4.0,0.0,0.0,89.0,0.0,750,5.646930e+08,3.984737e+12,4.689419e+07,2453.456436,2.897883,4.0
2,Blé,6904,128061,102867,-26.0,113160.0,22258.0,33801.0,4310.92,158.25,1022.01,555867.0,117194.0,190801.0,376483.0,20756.0,497700.0,-1665.0,18842.0,6049.0,15435.0,6904,5.904227e+09,1.119091e+15,3.405642e+10,145245.682381,433.265122,51.0
3,"Fruits, Autres",1380,18375,14119,-12.0,0.0,11.0,270.0,187.39,4.29,3.41,80943.0,5358.0,14844.0,74159.0,5900.0,71809.0,-1.0,0.0,887.0,349.0,1380,2.232069e+09,3.321741e+13,4.108697e+08,3806.113582,4.955550,7.0
4,Huile de Palme,1481,23193,18153,0.0,0.0,16155.0,576.0,19.24,65.16,0.09,25226.0,1804.0,27587.0,6997.0,180.0,1381.0,0.0,0.0,1896.0,1937.0,1481,3.799194e+09,7.127162e+13,6.829719e+06,54090.585349,1.902429,9.0

## Calcul du ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure

Autres utilisations est en milliers de tonnes. La dispo intérieure aussi.

In [248]:
# Je créé la colonne "ratio autres util./dispo int"
datapop17imp['ratio autres util./dispo int (%)'] = datapop17imp['autres utilisations (non ali)'] / datapop17imp['dispo intérieure (milliers de t)'] * 100

In [249]:
datapop17imp.head()

,item,country_code,item_code,year,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,listexp,ratio autres util./dispo int (%)
0,Ananas,231,2618,2017,0.0,0.0,0.0,7.0,5.17,0.02,0.05,1745.0,131.0,1717.0,1679.0,65.0,154.0,0.0,0.0,0.0,-4.0,231,3.250848e+08,8.305916e+11,5.932797e+06,494.694194,0.353353,1.0,0.000000
1,Bananes,750,10460,8068,0.0,0.0,0.0,76.0,45.18,0.30,0.90,6904.0,2281.0,9181.0,6521.0,294.0,4.0,0.0,0.0,89.0,0.0,750,5.646930e+08,3.984737e+12,4.689419e+07,2453.456436,2.897883,4.0,0.000000
2,Blé,6904,128061,102867,-26.0,113160.0,22258.0,33801.0,4310.92,158.25,1022.01,555867.0,117194.0,190801.0,376483.0,20756.0,497700.0,-1665.0,18842.0,6049.0,15435.0,6904,5.904227e+09,1.119091e+15,3.405642e+10,145245.682381,433.265122,51.0,4.004195
3,"Fruits, Autres",1380,18375,14119,-12.0,0.0,11.0,270.0,187.39,4.29,3.41,80943.0,5358.0,14844.0,74159.0,5900.0,71809.0,-1.0,0.0,887.0,349.0,1380,2.232069e+09,3.321741e+13,4.108697e+08,3806.113582,4.955550,7.0,0.013590
4,Huile de Palme,1481,23193,18153,0.0,0.0,16155.0,576.0,19.24,65.16,0.09,25226.0,1804.0,27587.0,6997.0,180.0,1381.0,0.0,0.0,1896.0,1937.0,1481,3.799194e+09,7.127162e+13,6.829719e+06,54090.585349,1.902429,9.0,64.041069

## Calcul du ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [250]:
# Je créé la colonne ratio alim ani/ali ani&hu
datapop17imp['ratio alim ani/ali ani&hu (%)'] = datapop17imp['aliments pour animaux'] / (datapop17imp['aliments pour animaux'] + datapop17imp['nourriture'])

# <font color='#FFCA36'>Question 12</font>

## Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [251]:
datapop17imp.sort_values(by = ['ratio autres util./dispo int (%)'], ascending=False).head(3)

,item,country_code,item_code,year,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,listexp,ratio autres util./dispo int (%),ratio alim ani/ali ani&hu (%)
4,Huile de Palme,1481,23193,18153,0.0,0.0,16155.0,576.0,19.24,65.16,0.09,25226.0,1804.0,27587.0,6997.0,180.0,1381.0,0.0,0.0,1896.0,1937.0,1481,3.799194e+09,7.127162e+13,6.829719e+06,54090.585349,1.902429,9.0,64.041069,0.000000
7,Manioc,452,5064,4034,0.0,25373.0,20629.0,117.0,42.17,0.28,0.68,61740.0,242.0,38452.0,13213.0,2618.0,23905.0,-93.0,0.0,0.0,376.0,452,1.717276e+09,1.346997e+13,8.303079e+07,2067.023332,1.422571,2.0,33.412698,0.657570
8,Maïs,4397,80448,64544,0.0,526530.0,208658.0,5725.0,703.41,49.42,136.55,892167.0,92880.0,141404.0,62639.0,49315.0,844637.0,1246.0,4722.0,39054.0,991.0,4397,3.488176e+09,1.882989e+14,4.387121e+09,89738.398116,203.794839,32.0,23.387774,0.893682

**Ratio 1 :**   
- Huile de Palme  
- Manioc  
- Mais

In [253]:
datapop17imp.sort_values(by = ['ratio alim ani/ali ani&hu (%)'], ascending=False).head(3)

,item,country_code,item_code,year,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,listexp,ratio autres util./dispo int (%),ratio alim ani/ali ani&hu (%)
9,Orge,1465,22617,18153,0.0,31404.0,26.0,49.0,8.58,0.25,1.44,43684.0,5111.0,31210.0,1086.0,1052.0,23345.0,-777.0,958.0,9936.0,5761.0,1465,2.059484e+09,2.334471e+12,7.062212e+07,18315.184162,51.578689,9.0,0.059518,0.966574
8,Maïs,4397,80448,64544,0.0,526530.0,208658.0,5725.0,703.41,49.42,136.55,892167.0,92880.0,141404.0,62639.0,49315.0,844637.0,1246.0,4722.0,39054.0,991.0,4397,3.488176e+09,1.882989e+14,4.387121e+09,89738.398116,203.794839,32.0,23.387774,0.893682
10,Poissons Pelagiques,677,8289,6051,0.0,11866.0,0.0,89.0,25.23,3.73,12.44,14953.0,3214.0,11758.0,3088.0,0.0,6383.0,0.0,0.0,0.0,25.0,677,1.649338e+09,3.859627e+12,5.297436e+08,3512.069673,47.278750,3.0,0.000000,0.793500

**Ratio 2 :**  
- Orge 
- Mais 
- Poissons pélagiques

# <font color='#FFCA36'>Question 13</font>

## Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

Méthodo  : faire la somme de Aliments pour animaux du tableau céréales. Calculer 10%.

In [254]:
# Je reprends le df cérales :
datapop17vegcer.head()

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal),dispo int. prot.,is_cereal
0,0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,1.619367e+12,4.821191e+07,True
1,1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,2.450654e+11,9.189953e+06,True
2,2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,1.926910e+11,7.480945e+06,True
3,3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,NaN,NaN,True
4,4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,2.633378e+10,9.781120e+05,True

In [226]:
datapop17vegcer['aliments pour animaux'].describe()

count      1263.000000
mean        796.220111
std        7070.817760
min          -2.000000
25%           0.000000
50%           6.000000
75%         134.000000
max      191859.000000
Name: aliments pour animaux, dtype: float64

In [227]:
# Je cherche comment sont nommés les USA : 
datapop17vegcer['country'].unique()

array(['Arménie', 'Afghanistan', 'Albanie', 'Algérie', 'Angola',
       'Antigua-et-Barbuda', 'Argentine', 'Australie', 'Autriche',
       'Bahamas', 'Barbade', 'Bangladesh',
       'Bolivie (État plurinational de)', 'Botswana', 'Brésil', 'Belize',
       'Îles Salomon', 'Bulgarie', 'Myanmar', 'Cameroun', 'Canada',
       'Cabo Verde', 'République centrafricaine', 'Sri Lanka', 'Tchad',
       'Chili', 'Colombie', 'Congo', 'Costa Rica', 'Cuba', 'Chypre',
       'Azerbaïdjan', 'Bénin', 'Danemark', 'Dominique',
       'République dominicaine', 'Bélarus', 'Équateur', 'Égypte',
       'El Salvador', 'Estonie', 'Fidji', 'Finlande', 'France',
       'Polynésie française', 'Djibouti', 'Géorgie', 'Gabon', 'Gambie',
       'Allemagne', 'Bosnie-Herzégovine', 'Ghana', 'Kiribati', 'Grèce',
       'Grenade', 'Guatemala', 'Guinée', 'Guyana', 'Haïti', 'Honduras',
       'Hongrie', 'Croatie', 'Islande', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Israël',
       'Italie', "Côte d'Ivoire", 'Kazakhstan', 'Jamaïque', 'Japon',
       'Jordanie', 'Kirghizistan', 'Kenya', 'Cambodge',
       'République populaire démocratique de Corée',
       'République de Corée', 'Koweït', 'Lettonie',
       'République démocratique populaire lao', 'Liban', 'Lesotho',
       'Libéria', 'Lituanie', 'Madagascar', 'Malawi', 'Malaisie',
       'Maldives', 'Mali', 'Malte', 'Mauritanie', 'Maurice', 'Mexique',
       'Mongolie', 'Maroc', 'Mozambique', 'République de Moldova',
       'Namibie', 'Népal', 'Pays-Bas', 'Nouvelle-Calédonie',
       'Macédoine du Nord', 'Vanuatu', 'Nouvelle-Zélande', 'Nicaragua',
       'Niger', 'Nigéria', 'Norvège', 'Pakistan', 'Panama',
       'Tchéquie (la)', 'Paraguay', 'Pérou', 'Philippines', 'Pologne',
       'Portugal', 'Guinée-Bissau', 'Timor-Leste', 'Zimbabwe', 'Roumanie',
       'Rwanda', 'Fédération de Russie', 'Saint-Kitts-et-Nevis',
       'Sainte-Lucie', 'Saint-Vincent-et-les Grenadines',
       'Sao Tomé-et-Principe', 'Arabie saoudite', 'Sénégal',
       'Sierra Leone', 'Slovénie', 'Slovaquie', 'Afrique du Sud',
       'Espagne', 'Suriname', 'Tadjikistan', 'Eswatini', 'Suède',
       'Suisse', 'Turkménistan', 'République-Unie de Tanzanie',
       'Thaïlande', 'Togo', 'Trinité-et-Tobago', 'Oman', 'Tunisie',
       'Turquie', 'Émirats arabes unis', 'Ouganda', 'Royaume-Uni',
       'Ukraine', "États-Unis d'Amérique", 'Burkina Faso', 'Uruguay',
       'Ouzbékistan', 'Venezuela (République bolivarienne du)',
       'Viet Nam', 'Éthiopie', 'Samoa', 'Yémen', 'Zambie', 'Belgique',
       'Luxembourg', 'Serbie', 'Monténégro', 'Soudan', 'Chine'],
      dtype=object)

In [228]:
# Je fais le calcul : 
datapop17vegcer[datapop17vegcer['country'] == 'États-Unis d\'Amérique']['aliments pour animaux'].sum() * 10 / 100

14042.4

La réponse est en milliers de tonnes, ce qui veut dire **14 millions de tonnes** de céréales environ.

#### Calcul non demandé : combien de personnes pourraient-elles être nourries ?

In [286]:
# Je créé un df avec uniquement les données correspondant aux USA / Aliments pour animaux
datapop17vegcerUSA = datapop17vegcer[datapop17vegcer['country'] == 'États-Unis d\'Amérique'][['aliments pour animaux',
                                                                                              'ratio énergie/poids (kcal/kg)']]

In [291]:
# Je créé une colonne pour avoir l'équivalent en kcal
datapop17vegcerUSA['alim. ani. kcal'] = datapop17vegcerUSA['aliments pour animaux'] * 1000000 *\
datapop17vegcerUSA['ratio énergie/poids (kcal/kg)']

In [293]:
# Cela me permet de compter le nb de personnes nourries avec une diminution de 10 % de l'alimentation animale
datapop17vegcerUSA['alim. ani. kcal'].sum() / 2400 / 365 * 10 / 100

44698591.68126811

On obtient presque **45 millions** de personnes.

# <font color='#FFCA36'>Question 14</font>

## En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

Disponibilité intérieure = Production + importations - exportations + évolution des stocks (augmentation ou diminution)

In [263]:
datapop17veg.head()

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal),dispo int. prot.,is_cereal
0,0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,132.49,3.97,31.35,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0,1,2944790,1.131815e+12,3.369650e+07,2902.090545,8.640127,1.619367e+12,4.821191e+07,True
1,1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,0.54,0.02,0.15,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0,1,2944790,4.299393e+09,1.612273e+05,2149.696700,8.061363,2.450654e+11,9.189953e+06,True
2,2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,7.48,0.60,2.64,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,1,2944790,7.308969e+10,2.837600e+06,3322.258536,12.898180,1.926910e+11,7.480945e+06,True
3,3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,0.14,0.01,0.03,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2944790,1.074848e+09,3.224545e+04,NaN,NaN,NaN,NaN,True
4,4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,0.65,0.12,0.26,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0,1,2944790,7.523938e+09,2.794606e+05,3761.969225,13.973029,2.633378e+10,9.781120e+05,True

In [271]:
# Je récupère la ligne correspondant à la Thailande et au Manioc :
thaimanioc = datapop17veg.loc[(datapop17veg['country'] == 'Thaïlande') & (datapop17veg['item'] == 'Manioc')]
thaimanioc

,index,country_code,country,item_code,item,year,origin,alim pour touristes,aliments pour animaux,autres utilisations (non ali),dispo ali (kcal/pers/j),dispo ali (kg/pers/an),dispo mat grasse(g/pers/jour),dispo prot (g/pers/jour),dispo intérieure (milliers de t),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation stock,Code zone,population,dispo ali (kcal/pays/an),dispo ali (kg de protéines/pays/an),ratio énergie/poids (kcal/kg),% prot,dispo intérieure (kcal),dispo int. prot.,is_cereal
10237,13342,216,Thaïlande,2532,Manioc,2017,vegetal,0.0,1510.0,3864.0,34.0,11.59,0.04,0.11,8495.0,29409.0,403.0,802.0,2318.0,30973.0,NaN,NaN,NaN,-6528.0,216,69209810,8.588937e+11,2.778774e+06,1070.939828,0.346481,9.097634e+12,2.943352e+07,False

In [274]:
# Calcul du % de manioc exporté par la Thailande
thaimanioc['export-qté'] / thaimanioc['production'] * 100

10237    94.950441
dtype: float64

En 2017 en Thailande **95 %** du manioc produit est exporté.

#### Proportion de personnes en sous-nutrition en Thailande :

In [275]:
sousnut[sousnut["Zone"]=='Thaïlande']

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
186,FS,Données de la sécurité alimentaire,216,Thaïlande,6121,Valeur,210041,Prévalence de la sous-alimentation (%) (moyenn...,20162018,2016-2018,%,7.8,NaN

En 2017 en Thailande, **7.8 %** des gens sont sous-alimentés.